openapi: 3.0.1
info:
  description: Gain greater visibility by connecting your fleets, equipment, sites, and people.
  title: Samsara Documents API
  version: '2024-11-18'
servers:
- url: https://api.samsara.com/
- url: https://api.eu.samsara.com/
security:
- AccessTokenHeader: []
tags:
- name: Documents
paths:
  /fleet/document-types:
    get:
      description: "Returns a list of the organization document types. The legacy version of this endpoint can be found at [samsara.com/api-legacy](https://www.samsara.com/api-legacy#operation/getDriverDocumentTypesByOrgId).\n\n <b>Rate limit:</b> 5 requests/sec (learn more about rate limits <a href=\"https://developers.samsara.com/docs/rate-limits\" target=\"_blank\">here</a>).\n\nTo use this endpoint, select **Read Documents** under the Driver Workflow category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team."
      operationId: getDocumentTypes
      parameters:
      - description: ' If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.'
        in: query
        name: after
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentTypesGetDocumentTypesResponseBody'
          description: OK response.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentTypesGetDocumentTypesUnauthorizedErrorResponseBody'
          description: Unauthorized response.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentTypesGetDocumentTypesNotFoundErrorResponseBody'
          description: Not Found response.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentTypesGetDocumentTypesMethodNotAllowedErrorResponseBody'
          description: Method Not Allowed response.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentTypesGetDocumentTypesTooManyRequestsErrorResponseBody'
          description: Too Many Requests response.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentTypesGetDocumentTypesInternalServerErrorResponseBody'
          description: Internal Server Error response.
        '501':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentTypesGetDocumentTypesNotImplementedErrorResponseBody'
          description: Not Implemented response.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentTypesGetDocumentTypesBadGatewayErrorResponseBody'
          description: Bad Gateway response.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentTypesGetDocumentTypesServiceUnavailableErrorResponseBody'
          description: Service Unavailable response.
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentTypesGetDocumentTypesGatewayTimeoutErrorResponseBody'
          description: Gateway Timeout response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentTypesGetDocumentTypesBadRequestErrorResponseBody'
          description: Bad Request response.
      summary: Fetch Document Types
      tags:
      - Documents
  /fleet/documents:
    get:
      description: "Get all documents for the given time range. The legacy version of this endpoint can be found at [samsara.com/api-legacy](https://www.samsara.com/api-legacy#operation/getDriverDocumentsByOrgId).\n\n <b>Rate limit:</b> 5 requests/sec (learn more about rate limits <a href=\"https://developers.samsara.com/docs/rate-limits\" target=\"_blank\">here</a>).\n\nTo use this endpoint, select **Read Documents** under the Driver Workflow category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team."
      operationId: getDocuments
      parameters:
      - description: ' A start time in RFC 3339 format. Defaults to now if not provided. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).'
        in: query
        name: startTime
        required: true
        schema:
          type: string
      - description: ' An end time in RFC 3339 format. Defaults to now if not provided. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).'
        in: query
        name: endTime
        required: true
        schema:
          type: string
      - description: ' If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.'
        in: query
        name: after
        schema:
          type: string
      - description: ID of the document template type.
        in: query
        name: documentTypeId
        schema:
          type: string
      - description: Query by document creation time (`created`) or updated time (`updated`). Defaults to `created`.
        in: query
        name: queryBy
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsGetDocumentsResponseBody'
          description: OK response.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsGetDocumentsUnauthorizedErrorResponseBody'
          description: Unauthorized response.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsGetDocumentsNotFoundErrorResponseBody'
          description: Not Found response.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsGetDocumentsMethodNotAllowedErrorResponseBody'
          description: Method Not Allowed response.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsGetDocumentsTooManyRequestsErrorResponseBody'
          description: Too Many Requests response.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsGetDocumentsInternalServerErrorResponseBody'
          description: Internal Server Error response.
        '501':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsGetDocumentsNotImplementedErrorResponseBody'
          description: Not Implemented response.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsGetDocumentsBadGatewayErrorResponseBody'
          description: Bad Gateway response.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsGetDocumentsServiceUnavailableErrorResponseBody'
          description: Service Unavailable response.
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsGetDocumentsGatewayTimeoutErrorResponseBody'
          description: Gateway Timeout response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsGetDocumentsBadRequestErrorResponseBody'
          description: Bad Request response.
      summary: Fetch All Documents
      tags:
      - Documents
    post:
      description: "Creates a single document. The legacy version of this endpoint can be found at [samsara.com/api-legacy](https://www.samsara.com/api-legacy#operation/createDriverDocument).\n\n <b>Rate limit:</b> 100 requests/min (learn more about rate limits <a href=\"https://developers.samsara.com/docs/rate-limits\" target=\"_blank\">here</a>).\n\nTo use this endpoint, select **Write Documents** under the Driver Workflow category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team."
      operationId: postDocument
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentsPostDocumentRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsPostDocumentResponseBody'
          description: OK response.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsPostDocumentUnauthorizedErrorResponseBody'
          description: Unauthorized response.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsPostDocumentNotFoundErrorResponseBody'
          description: Not Found response.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsPostDocumentMethodNotAllowedErrorResponseBody'
          description: Method Not Allowed response.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsPostDocumentTooManyRequestsErrorResponseBody'
          description: Too Many Requests response.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsPostDocumentInternalServerErrorResponseBody'
          description: Internal Server Error response.
        '501':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsPostDocumentNotImplementedErrorResponseBody'
          description: Not Implemented response.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsPostDocumentBadGatewayErrorResponseBody'
          description: Bad Gateway response.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsPostDocumentServiceUnavailableErrorResponseBody'
          description: Service Unavailable response.
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsPostDocumentGatewayTimeoutErrorResponseBody'
          description: Gateway Timeout response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsPostDocumentBadRequestErrorResponseBody'
          description: Bad Request response.
      summary: Create Document
      tags:
      - Documents
      x-codegen-request-body-name: PostDocumentRequestBody
  /fleet/documents/pdfs:
    post:
      description: "Request creation of a document PDF. \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team.\n\nTo use this endpoint, select **Write Documents** under the Driver Workflow category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>"
      operationId: generateDocumentPdf
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentPdfGenerationRequest'
        description: Specifies the document for which to generate a PDF.
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentPdfGenerationResponse'
          description: Newly created PDF generation job.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response.
      summary: Create a Document PDF
      tags:
      - Documents
      x-codegen-request-body-name: document
  /fleet/documents/pdfs/{id}:
    get:
      description: "Returns generation job status and download URL for a PDF. \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team.\n\nTo use this endpoint, select **Read Documents** under the Driver Workflow category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>"
      operationId: getDocumentPdf
      parameters:
      - description: ID of the pdf.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentPdfQueryResponse'
          description: Document PDF job status and download URL.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Query a Document PDF
      tags:
      - Documents
  /fleet/documents/{id}:
    delete:
      description: "Deletes a single document. The legacy version of this endpoint can be found at [samsara.com/api-legacy](https://www.samsara.com/api-legacy#operation/deleteDriverDocumentByIdAndDriverId).\n\n <b>Rate limit:</b> 100 requests/min (learn more about rate limits <a href=\"https://developers.samsara.com/docs/rate-limits\" target=\"_blank\">here</a>).\n\nTo use this endpoint, select **Write Documents** under the Driver Workflow category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team."
      operationId: deleteDocument
      parameters:
      - description: ID of the document to delete
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '204':
          content: {}
          description: No Content response.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsDeleteDocumentUnauthorizedErrorResponseBody'
          description: Unauthorized response.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsDeleteDocumentNotFoundErrorResponseBody'
          description: Not Found response.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsDeleteDocumentMethodNotAllowedErrorResponseBody'
          description: Method Not Allowed response.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsDeleteDocumentTooManyRequestsErrorResponseBody'
          description: Too Many Requests response.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsDeleteDocumentInternalServerErrorResponseBody'
          description: Internal Server Error response.
        '501':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsDeleteDocumentNotImplementedErrorResponseBody'
          description: Not Implemented response.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsDeleteDocumentBadGatewayErrorResponseBody'
          description: Bad Gateway response.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsDeleteDocumentServiceUnavailableErrorResponseBody'
          description: Service Unavailable response.
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsDeleteDocumentGatewayTimeoutErrorResponseBody'
          description: Gateway Timeout response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsDeleteDocumentBadRequestErrorResponseBody'
          description: Bad Request response.
      summary: Delete Document
      tags:
      - Documents
    get:
      description: "Returns a single document. The legacy version of this endpoint can be found at [samsara.com/api-legacy](https://www.samsara.com/api-legacy#operation/getDriverDocumentByIdAndDriverId).\n\n <b>Rate limit:</b> 25 requests/sec (learn more about rate limits <a href=\"https://developers.samsara.com/docs/rate-limits\" target=\"_blank\">here</a>).\n\nTo use this endpoint, select **Read Documents** under the Driver Workflow category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team."
      operationId: getDocument
      parameters:
      - description: ID of the document
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsGetDocumentResponseBody'
          description: OK response.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsGetDocumentUnauthorizedErrorResponseBody'
          description: Unauthorized response.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsGetDocumentNotFoundErrorResponseBody'
          description: Not Found response.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsGetDocumentMethodNotAllowedErrorResponseBody'
          description: Method Not Allowed response.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsGetDocumentTooManyRequestsErrorResponseBody'
          description: Too Many Requests response.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsGetDocumentInternalServerErrorResponseBody'
          description: Internal Server Error response.
        '501':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsGetDocumentNotImplementedErrorResponseBody'
          description: Not Implemented response.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsGetDocumentBadGatewayErrorResponseBody'
          description: Bad Gateway response.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsGetDocumentServiceUnavailableErrorResponseBody'
          description: Service Unavailable response.
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsGetDocumentGatewayTimeoutErrorResponseBody'
          description: Gateway Timeout response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsGetDocumentBadRequestErrorResponseBody'
          description: Bad Request response.
      summary: Fetch Document
      tags:
      - Documents
components:
  schemas:
    DocumentsDeleteDocumentServiceUnavailableErrorResponseBody:
      description: Service unavailable
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    multipleChoiceFieldTypeMetaDataObjectResponseBody:
      properties:
        label:
          description: The option choice label.
          example: Fuel Receipt
          type: string
      type: object
    DocumentsGetDocumentsNotImplementedErrorResponseBody:
      description: Requested endpoint is not yet implemented
      properties:
        message:
          description: Message of error
          example: Not implemented.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DocumentTypesGetDocumentTypesBadGatewayErrorResponseBody:
      description: Bad Gateway
      properties:
        message:
          description: Message of error
          example: 'rpc error: code = Unknown desc = connection refused'
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    standardErrorResponse:
      description: Error response
      properties:
        message:
          description: The message of the error.
          example: An error has occurred.
          type: string
        requestId:
          description: The ID of the request.
          example: 8916e1c1
          type: string
      type: object
    scannedDocumentValueObjectRequestBody:
      properties:
        id:
          description: Id of the scanned document.
          example: f5271458-21f9-4a9f-a290-780c6d8840ff
          type: string
        url:
          description: Url of the scanned document.
          example: https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456
          type: string
      type: object
    scannedDocumentValueObjectResponseBody:
      properties:
        id:
          description: Id of the scanned document.
          example: f5271458-21f9-4a9f-a290-780c6d8840ff
          type: string
        url:
          description: Url of the scanned document.
          example: https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456
          type: string
      type: object
    DocumentTypesGetDocumentTypesBadRequestErrorResponseBody:
      description: Bad Request parameters
      properties:
        message:
          description: Message of error
          example: Invalid value for parameter.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DocumentPdfGenerationResponse_data:
      properties:
        documentId:
          description: ID of the document.
          example: 6c8c0c01-206a-41a4-9d21-15b9978d04cb
          type: string
        id:
          description: ID of the PDF file generated or being generated for the document.
          example: 5c8c0c01-206a-41a4-9d21-15b9978d04cb
          type: string
      type: object
    GoaVehicleTinyResponseResponseBody:
      description: A minified vehicle object. This object is only returned if the route is assigned to the vehicle.
      properties:
        externalIds:
          additionalProperties:
            type: string
          description: A map of external ids
          type: object
        id:
          description: ID of the vehicle
          example: '494123'
          type: string
        name:
          description: Name of the vehicle
          example: 'Fleet Truck #1'
          type: string
      type: object
    DocumentsDeleteDocumentBadRequestErrorResponseBody:
      description: Bad Request parameters
      properties:
        message:
          description: Message of error
          example: Invalid value for parameter.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    dateTimeValueObjectRequestBody:
      description: The value of a date time field. Only present for date time fields.
      properties:
        dateTime:
          description: Date time value inin RFC 3339 format.
          example: '1996-02-22T20:14:42Z'
          format: date-time
          type: string
      type: object
    DocumentsPostDocumentNotFoundErrorResponseBody:
      description: Resource not found
      properties:
        message:
          description: Message of error
          example: Object not found.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DocumentsGetDocumentsInternalServerErrorResponseBody:
      description: An internal server error occurred
      properties:
        message:
          description: Message of error
          example: Failed to execute GraphQL query.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    GoaDriverTinyResponseResponseBody:
      description: A minified driver object. This object is only returned if the route is assigned to the driver.
      properties:
        externalIds:
          additionalProperties:
            type: string
          description: A map of external ids
          type: object
        id:
          description: ID of the driver
          example: '45646'
          type: string
        name:
          description: Name of the driver
          example: Driver Bob
          type: string
      required:
      - id
      type: object
    DocumentsGetDocumentUnauthorizedErrorResponseBody:
      description: Unauthorized
      properties:
        message:
          description: Message of error
          example: Invalid token.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    multipleChoiceValueObjectResponseBody:
      properties:
        selected:
          description: Boolean representing if the choice has been selected.
          example: false
          type: boolean
        value:
          description: Description of the choice.
          example: 'Yes'
          type: string
      type: object
    DocumentsDeleteDocumentMethodNotAllowedErrorResponseBody:
      description: Method not allowed
      properties:
        message:
          description: Message of error
          example: DELETE not allowed on /endpoint.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    signatureValueObjectRequestBody:
      description: The value of a signature field. Only present for signature fields.
      properties:
        id:
          description: Id of the signature field.
          example: 9814a1fa-f0c6-408b-bf85-51dc3bc71ac7
          type: string
        name:
          description: Name of the signee for a signature field.
          example: John Smith
          type: string
        signedAtTime:
          description: Time the signature was captured in RFC 3339 format.
          example: '2010-07-18T06:13:42Z'
          format: date-time
          type: string
        url:
          description: Url of a signature field's PNG signature image.
          example: https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456
          type: string
      type: object
    DocumentsGetDocumentBadGatewayErrorResponseBody:
      description: Bad Gateway
      properties:
        message:
          description: Message of error
          example: 'rpc error: code = Unknown desc = connection refused'
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DocumentsGetDocumentMethodNotAllowedErrorResponseBody:
      description: Method not allowed
      properties:
        message:
          description: Message of error
          example: DELETE not allowed on /endpoint.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    GoaRouteStopTinyResponseResponseBody:
      description: A minified route stop object
      properties:
        externalIds:
          additionalProperties:
            type: string
          description: A map of external ids
          type: object
        id:
          description: Id of the route stop
          example: '494123'
          type: string
        name:
          description: Name of the route stop
          example: 'Company Warehouse #1'
          type: string
      type: object
    DocumentsGetDocumentsTooManyRequestsErrorResponseBody:
      description: Too many requests
      properties:
        message:
          description: Message of error
          example: Exceeded rate limit.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DocumentsDeleteDocumentGatewayTimeoutErrorResponseBody:
      description: Gateway timeout
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DocumentsGetDocumentsResponseBody:
      properties:
        data:
          description: Multiple documents.
          items:
            $ref: '#/components/schemas/documentResponseObjectResponseBody'
          type: array
        pagination:
          $ref: '#/components/schemas/GoaPaginationResponseResponseBody'
      required:
      - data
      - pagination
      type: object
    GoaPaginationResponseResponseBody:
      description: Pagination parameters.
      properties:
        endCursor:
          description: Cursor identifier representing the last element in the response. This value should be used in conjunction with a subsequent request's 'after' query parameter. This may be an empty string if there are no more pages left to view.
          example: MjkY
          type: string
        hasNextPage:
          description: True if there are more pages of results immediately available after this endCursor.
          example: true
          type: boolean
      required:
      - endCursor
      - hasNextPage
      type: object
    DocumentsDeleteDocumentNotImplementedErrorResponseBody:
      description: Requested endpoint is not yet implemented
      properties:
        message:
          description: Message of error
          example: Not implemented.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DocumentPdfGenerationResponse:
      description: Identifies a PDF generation job.
      properties:
        data:
          $ref: '#/components/schemas/DocumentPdfGenerationResponse_data'
      type: object
    DocumentsGetDocumentGatewayTimeoutErrorResponseBody:
      description: Gateway timeout
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DocumentsDeleteDocumentInternalServerErrorResponseBody:
      description: An internal server error occurred
      properties:
        message:
          description: Message of error
          example: Failed to execute GraphQL query.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    documentResponseObjectResponseBody:
      description: A single document.
      properties:
        conditionalFieldSections:
          description: List of the document conditional field sections.
          items:
            $ref: '#/components/schemas/conditionalFieldSectionObjectResponseBody'
          type: array
        createdAtTime:
          description: Time the document was created in RFC 3339 format.
          example: '1971-05-04T11:43:21Z'
          format: date-time
          type: string
        documentType:
          $ref: '#/components/schemas/GoaDocumentTypeTinyResponseResponseBody'
        driver:
          $ref: '#/components/schemas/GoaDriverTinyResponseResponseBody'
        fields:
          description: The fields associated with this document.
          items:
            $ref: '#/components/schemas/fieldObjectResponseBody'
          type: array
        id:
          description: Universally unique identifier for the document.
          example: 9814a1fa-f0c6-408b-bf85-51dc3bc71ac7
          type: string
        name:
          description: Name of the document.
          example: Dropoff Slip 123
          type: string
        notes:
          description: Notes on the document.
          example: Missing a crate
          type: string
        route:
          $ref: '#/components/schemas/GoaRouteTinyResponseResponseBody'
        routeStop:
          $ref: '#/components/schemas/GoaRouteStopTinyResponseResponseBody'
        state:
          description: 'The condition of the document created for the driver. Can be either Required or Submitted. Required documents are pre-populated documents for the Driver to fill out in the Driver App and have not yet been submitted. Submitted documents have been submitted by the driver in the Driver App. Archived documents have been archived by the admin in the cloud dashboard.  Valid values: `submitted`, `required`, `archived`'
          enum:
          - submitted
          - required
          - archived
          example: submitted
          type: string
        updatedAtTime:
          description: Time the document was updated in RFC 3339 format.
          example: '1979-12-10T00:51:01Z'
          format: date-time
          type: string
        vehicle:
          $ref: '#/components/schemas/GoaVehicleTinyResponseResponseBody'
      required:
      - createdAtTime
      - documentType
      - driver
      - fields
      - id
      - state
      type: object
    dateTimeValueObjectResponseBody:
      description: The value of a date time field. Only present for date time fields.
      properties:
        dateTime:
          description: Date time value inin RFC 3339 format.
          example: '1975-05-13T14:12:59Z'
          format: date-time
          type: string
      type: object
    DocumentsGetDocumentResponseBody:
      properties:
        data:
          $ref: '#/components/schemas/documentResponseObjectResponseBody'
      type: object
    DocumentsGetDocumentsBadGatewayErrorResponseBody:
      description: Bad Gateway
      properties:
        message:
          description: Message of error
          example: 'rpc error: code = Unknown desc = connection refused'
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    GoaRouteTinyResponseResponseBody:
      description: A minified representation of a single route.
      properties:
        externalIds:
          additionalProperties:
            type: string
          description: A map of external ids
          type: object
        id:
          description: Unique identifier for the route.
          example: '131313'
          type: string
        name:
          description: Name of the route.
          example: Pineapple delivery
          maxLength: 255
          type: string
      required:
      - id
      type: object
    DocumentsGetDocumentNotFoundErrorResponseBody:
      description: Resource not found
      properties:
        message:
          description: Message of error
          example: Object not found.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DocumentsPostDocumentBadRequestErrorResponseBody:
      description: Bad Request parameters
      properties:
        message:
          description: Message of error
          example: Invalid value for parameter.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DocumentsPostDocumentMethodNotAllowedErrorResponseBody:
      description: Method not allowed
      properties:
        message:
          description: Message of error
          example: DELETE not allowed on /endpoint.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    GoaDocumentTypeTinyResponseResponseBody:
      description: A minified document type object
      properties:
        id:
          description: ID of the document type.
          example: 9814a1fa-f0c6-408b-bf85-51dc3bc71ac7
          type: string
        name:
          description: Name of the document type.
          example: Fleet Truck List
          type: string
      type: object
    DocumentsGetDocumentNotImplementedErrorResponseBody:
      description: Requested endpoint is not yet implemented
      properties:
        message:
          description: Message of error
          example: Not implemented.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DocumentsDeleteDocumentNotFoundErrorResponseBody:
      description: Resource not found
      properties:
        message:
          description: Message of error
          example: Object not found.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DocumentsPostDocumentBadGatewayErrorResponseBody:
      description: Bad Gateway
      properties:
        message:
          description: Message of error
          example: 'rpc error: code = Unknown desc = connection refused'
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DocumentTypesGetDocumentTypesUnauthorizedErrorResponseBody:
      description: Unauthorized
      properties:
        message:
          description: Message of error
          example: Invalid token.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DocumentsPostDocumentRequestBody:
      properties:
        documentTypeId:
          description: ID for the document type.
          example: 9814a1fa-f0c6-408b-bf85-51dc3bc71ac7
          type: string
        driverId:
          description: ID of the driver. Can be either unique Samsara ID or an [external ID](https://developers.samsara.com/docs/external-ids) for the driver.
          example: '45646'
          type: string
        fields:
          description: The fields associated with this document.
          items:
            $ref: '#/components/schemas/fieldObjectPostRequestBody'
          type: array
        name:
          description: Name of the document.
          example: Dropoff Slip 123
          type: string
        notes:
          description: Notes on the document.
          example: Missing a crate
          maxLength: 2000
          type: string
        routeStopId:
          description: ID of the route stop. Can be either unique Samsara ID or an [external ID](https://developers.samsara.com/docs/external-ids) for the route stop.
          example: '45646'
          type: string
        state:
          default: required
          description: 'The condition of the document created for the driver. Can be either `required` or `submitted`, if no value is specified, `state` defaults to `required`. `required` documents are pre-populated documents for the Driver to fill out in the Driver App.  Valid values: `submitted`, `required`'
          enum:
          - submitted
          - required
          example: submitted
          type: string
        vehicleId:
          description: ID of the vehicle. Can be either unique Samsara ID or an [external ID](https://developers.samsara.com/docs/external-ids) for the vehicle.
          example: '45646'
          type: string
      required:
      - documentTypeId
      - driverId
      type: object
    DocumentPdfQueryResponse_data:
      properties:
        completedAtTime:
          description: Time that PDF generation was completed, in RFC 3339 format.
          example: '2020-01-02T15:04:06+07:00'
          type: string
        documentId:
          description: ID of the document.
          example: 6c8c0c01-206a-41a4-9d21-15b9978d04cb
          type: string
        downloadDocumentPdfUrl:
          description: S3 pre-signed URL to download PDF file.
          example: https://samsara-driver-document-pdfs.s3.us-west-2.amazonaws.com/org/38487/42a4cffc-409d-4ddf-ba1c-5e3bbb961cba?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASI...&X-Amz-Date=20200423T162507Z&X-Amz-Expires=86400&X-Amz-Security-Token=IQoJ...-Amz-SignedHeaders=host&response-expires=2020-04-24T16%3A25%3A07Z&X-Amz-Signature=1c6fe87...
          type: string
        id:
          description: ID of the PDF file generated or being generated for the document
          example: 5c8c0c01-206a-41a4-9d21-15b9978d04cb
          type: string
        jobStatus:
          description: 'Describes status of the PDF generation job. Valid values: `requested`, `processing`, `completed`. '
          enum:
          - requested
          - processing
          - completed
          example: Completed
          type: string
        requestedAtTime:
          description: Time that PDF generation was requested, in RFC 3339 format.
          example: '2020-01-02T15:04:05+07:00'
          type: string
      type: object
    signatureFieldTypeMetaDataObjectResponseBody:
      description: The signature field metadata.
      properties:
        legalText:
          description: The signature field legal text.
          example: Verified by signee.
          type: string
      type: object
    DocumentsPostDocumentInternalServerErrorResponseBody:
      description: An internal server error occurred
      properties:
        message:
          description: Message of error
          example: Failed to execute GraphQL query.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DocumentsPostDocumentUnauthorizedErrorResponseBody:
      description: Unauthorized
      properties:
        message:
          description: Message of error
          example: Invalid token.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    barcodeValueObjectRequestBody:
      properties:
        barcodeType:
          description: The barcode type that was scanned.
          example: org.gs1.EAN-13
          type: string
        barcodeValue:
          description: The captured barcode value.
          example: 0853883003114
          type: string
      type: object
    fieldObjectValueRequestBody:
      description: The value of the document field. The shape of value depends on the type.
      properties:
        barcodeValue:
          description: The value of a barcode scanning field. Only present for barcode scanning fields.
          items:
            $ref: '#/components/schemas/barcodeValueObjectRequestBody'
          type: array
        dateTimeValue:
          $ref: '#/components/schemas/dateTimeValueObjectRequestBody'
        multipleChoiceValue:
          description: The value of a multiple choice field. Only present for multiple choice fields.
          items:
            $ref: '#/components/schemas/multipleChoiceValueObjectRequestBody'
          type: array
        numberValue:
          description: The value of a number field. Only present for number fields.
          example: 123.456
          format: double
          type: number
        photoValue:
          description: The value of a photo field. Only present for photo fields.
          items:
            $ref: '#/components/schemas/photoValueObjectRequestBody'
          type: array
        scannedDocumentValue:
          description: The value of a scanned document field. Only present for scanned document fields.
          items:
            $ref: '#/components/schemas/scannedDocumentValueObjectRequestBody'
          type: array
        signatureValue:
          $ref: '#/components/schemas/signatureValueObjectRequestBody'
        stringValue:
          description: The value of a string field. Only present for string fields.
          example: Red Truck
          type: string
      type: object
    DocumentsPostDocumentServiceUnavailableErrorResponseBody:
      description: Service unavailable
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DocumentsPostDocumentTooManyRequestsErrorResponseBody:
      description: Too many requests
      properties:
        message:
          description: Message of error
          example: Exceeded rate limit.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DocumentsGetDocumentsNotFoundErrorResponseBody:
      description: Resource not found
      properties:
        message:
          description: Message of error
          example: Object not found.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DocumentsPostDocumentNotImplementedErrorResponseBody:
      description: Requested endpoint is not yet implemented
      properties:
        message:
          description: Message of error
          example: Not implemented.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    multipleChoiceValueObjectRequestBody:
      properties:
        selected:
          description: Boolean representing if the choice has been selected.
          example: false
          type: boolean
        value:
          description: Description of the choice.
          example: 'Yes'
          type: string
      type: object
    DocumentTypesGetDocumentTypesResponseBody:
      properties:
        data:
          description: List of all document types for the organization
          example:
          - conditionalFieldSections:
            - conditionalFieldFirstIndex: 1
              conditionalFieldLastIndex: 2
              triggeringFieldIndex: 0
              triggeringFieldValue: 'Yes'
            fieldTypes:
            - fieldType: multipleChoice
              label: Was there damage?
              multipleChoiceFieldTypeMetaData:
              - label: 'Yes'
              - label: 'No'
              requiredField: true
            - fieldType: photo
              label: Damage Photos
              requiredField: false
            - fieldType: number
              label: Number of vehicles impacted
              numberFieldTypeMetaData:
                numberOfDecimalPlaces: 2
              requiredField: false
            - fieldType: dateTime
              label: Date and time
              requiredField: true
            - fieldType: signature
              label: Sign
              requiredField: true
              signatureFieldTypeMetaData:
                legalText: Legal Text
            id: 4aff772c-a7bb-45e6-8e41-6a53e34feb83
            name: Accident Report
            orgId: 12345
          items:
            $ref: '#/components/schemas/getDocumentTypeResponseObjectResponseBody'
          type: array
        pagination:
          $ref: '#/components/schemas/GoaPaginationResponseResponseBody'
      required:
      - data
      - pagination
      type: object
    DocumentsGetDocumentsGatewayTimeoutErrorResponseBody:
      description: Gateway timeout
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    fieldObjectValueResponseBody:
      description: The value of the document field. The shape of value depends on the type.
      properties:
        barcodeValue:
          description: The value of a barcode scanning field. Only present for barcode scanning fields.
          items:
            $ref: '#/components/schemas/barcodeValueObjectResponseBody'
          type: array
        dateTimeValue:
          $ref: '#/components/schemas/dateTimeValueObjectResponseBody'
        multipleChoiceValue:
          description: The value of a multiple choice field. Only present for multiple choice fields.
          items:
            $ref: '#/components/schemas/multipleChoiceValueObjectResponseBody'
          type: array
        numberValue:
          description: The value of a number field. Only present for number fields.
          example: 123.456
          format: double
          type: number
        photoValue:
          description: The value of a photo field. Only present for photo fields.
          items:
            $ref: '#/components/schemas/photoValueObjectResponseBody'
          type: array
        scannedDocumentValue:
          description: The value of a scanned document field. Only present for scanned document fields.
          items:
            $ref: '#/components/schemas/scannedDocumentValueObjectResponseBody'
          type: array
        signatureValue:
          $ref: '#/components/schemas/signatureValueObjectResponseBody'
        stringValue:
          description: The value of a string field. Only present for string fields.
          example: Red Truck
          type: string
      type: object
    DocumentPdfQueryResponse:
      description: A PDF of a document
      properties:
        data:
          $ref: '#/components/schemas/DocumentPdfQueryResponse_data'
      type: object
    DocumentTypesGetDocumentTypesNotFoundErrorResponseBody:
      description: Resource not found
      properties:
        message:
          description: Message of error
          example: Object not found.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    photoValueObjectResponseBody:
      properties:
        id:
          description: Id of the photo.
          example: f5271458-21f9-4a9f-a290-780c6d8840ff
          type: string
        url:
          description: Url of the photo.
          example: https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456
          type: string
      type: object
    DocumentsPostDocumentResponseBody:
      properties:
        data:
          $ref: '#/components/schemas/documentResponseObjectResponseBody'
      type: object
    DocumentTypesGetDocumentTypesGatewayTimeoutErrorResponseBody:
      description: Gateway timeout
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DocumentsGetDocumentsBadRequestErrorResponseBody:
      description: Bad Request parameters
      properties:
        message:
          description: Message of error
          example: Invalid value for parameter.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DocumentTypesGetDocumentTypesServiceUnavailableErrorResponseBody:
      description: Service unavailable
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DocumentsPostDocumentGatewayTimeoutErrorResponseBody:
      description: Gateway timeout
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    numberFieldTypeMetaDataObjectResponseBody:
      description: The number field metadata.
      properties:
        numberOfDecimalPlaces:
          description: The number of decimal places allowed for the field.
          example: 3167430815212634600
          format: int64
          type: integer
      type: object
    DocumentTypesGetDocumentTypesInternalServerErrorResponseBody:
      description: An internal server error occurred
      properties:
        message:
          description: Message of error
          example: Failed to execute GraphQL query.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DocumentsDeleteDocumentBadGatewayErrorResponseBody:
      description: Bad Gateway
      properties:
        message:
          description: Message of error
          example: 'rpc error: code = Unknown desc = connection refused'
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DocumentsGetDocumentsMethodNotAllowedErrorResponseBody:
      description: Method not allowed
      properties:
        message:
          description: Message of error
          example: DELETE not allowed on /endpoint.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DocumentTypesGetDocumentTypesMethodNotAllowedErrorResponseBody:
      description: Method not allowed
      properties:
        message:
          description: Message of error
          example: DELETE not allowed on /endpoint.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DocumentsGetDocumentBadRequestErrorResponseBody:
      description: Bad Request parameters
      properties:
        message:
          description: Message of error
          example: Invalid value for parameter.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    barcodeValueObjectResponseBody:
      properties:
        barcodeType:
          description: The barcode type that was scanned.
          example: org.gs1.EAN-13
          type: string
        barcodeValue:
          description: The captured barcode value.
          example: 0853883003114
          type: string
      type: object
    DocumentsGetDocumentsServiceUnavailableErrorResponseBody:
      description: Service unavailable
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    fieldObjectPostRequestBody:
      properties:
        label:
          description: The name of the field.
          example: Load weight
          type: string
        type:
          description: 'The type of field.  Valid values: `photo`, `string`, `number`, `multipleChoice`, `signature`, `dateTime`, `scannedDocument`, `barcode`'
          enum:
          - photo
          - string
          - number
          - multipleChoice
          - signature
          - dateTime
          - scannedDocument
          - barcode
          example: photo
          type: string
        value:
          $ref: '#/components/schemas/fieldObjectValueRequestBody'
      required:
      - label
      - type
      type: object
    DocumentTypesGetDocumentTypesTooManyRequestsErrorResponseBody:
      description: Too many requests
      properties:
        message:
          description: Message of error
          example: Exceeded rate limit.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    fieldObjectResponseBody:
      properties:
        label:
          description: The name of the field.
          example: Load weight
          type: string
        type:
          description: 'The type of field.  Valid values: `photo`, `string`, `number`, `multipleChoice`, `signature`, `dateTime`, `scannedDocument`, `barcode`'
          enum:
          - photo
          - string
          - number
          - multipleChoice
          - signature
          - dateTime
          - scannedDocument
          - barcode
          example: photo
          type: string
        value:
          $ref: '#/components/schemas/fieldObjectValueResponseBody'
      required:
      - label
      - type
      - value
      type: object
    DocumentsGetDocumentsUnauthorizedErrorResponseBody:
      description: Unauthorized
      properties:
        message:
          description: Message of error
          example: Invalid token.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DocumentsGetDocumentInternalServerErrorResponseBody:
      description: An internal server error occurred
      properties:
        message:
          description: Message of error
          example: Failed to execute GraphQL query.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    signatureValueObjectResponseBody:
      description: The value of a signature field. Only present for signature fields.
      properties:
        id:
          description: Id of the signature field.
          example: 9814a1fa-f0c6-408b-bf85-51dc3bc71ac7
          type: string
        name:
          description: Name of the signee for a signature field.
          example: John Smith
          type: string
        signedAtTime:
          description: Time the signature was captured in RFC 3339 format.
          example: '2015-01-26T12:08:59Z'
          format: date-time
          type: string
        url:
          description: Url of a signature field's PNG signature image.
          example: https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456
          type: string
      type: object
    getDocumentTypeResponseObjectResponseBody:
      properties:
        conditionalFieldSections:
          description: List of the document type conditional field sections.
          items:
            $ref: '#/components/schemas/conditionalFieldSectionObjectResponseBody'
          type: array
        fieldTypes:
          description: The fields associated with this document type.
          items:
            $ref: '#/components/schemas/fieldTypesObjectResponseBody'
          type: array
        id:
          description: Universally unique identifier for the document type. This value can be passed in as the documentTypeId when creating a document.
          example: 9814a1fa-f0c6-408b-bf85-51dc3bc71ac7
          type: string
        name:
          description: Name of the document type.
          example: Bill's Fuel Receipts
          type: string
        orgId:
          description: ID for the organization this document type belongs to.
          example: 3771310580452555000
          format: int64
          type: integer
      type: object
    DocumentsGetDocumentTooManyRequestsErrorResponseBody:
      description: Too many requests
      properties:
        message:
          description: Message of error
          example: Exceeded rate limit.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DocumentsDeleteDocumentUnauthorizedErrorResponseBody:
      description: Unauthorized
      properties:
        message:
          description: Message of error
          example: Invalid token.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    fieldTypesObjectResponseBody:
      properties:
        fieldType:
          description: 'The type of value this field can have.  Valid values: `photo`, `string`, `number`, `multipleChoice`, `signature`, `dateTime`, `scannedDocument`, `barcode`'
          enum:
          - photo
          - string
          - number
          - multipleChoice
          - signature
          - dateTime
          - scannedDocument
          - barcode
          example: photo
          type: string
        label:
          description: The name of the field type.
          example: Receipts
          type: string
        multipleChoiceFieldTypeMetaData:
          description: A list of the multiple choice field option labels.
          items:
            $ref: '#/components/schemas/multipleChoiceFieldTypeMetaDataObjectResponseBody'
          type: array
        numberFieldTypeMetaData:
          $ref: '#/components/schemas/numberFieldTypeMetaDataObjectResponseBody'
        requiredField:
          description: The indicator that states if the field is required.
          example: true
          type: boolean
        signatureFieldTypeMetaData:
          $ref: '#/components/schemas/signatureFieldTypeMetaDataObjectResponseBody'
      required:
      - fieldType
      - label
      - requiredField
      type: object
    DocumentTypesGetDocumentTypesNotImplementedErrorResponseBody:
      description: Requested endpoint is not yet implemented
      properties:
        message:
          description: Message of error
          example: Not implemented.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DocumentsDeleteDocumentTooManyRequestsErrorResponseBody:
      description: Too many requests
      properties:
        message:
          description: Message of error
          example: Exceeded rate limit.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DocumentPdfGenerationRequest:
      description: Identifies a document for PDF generation.
      properties:
        documentId:
          description: ID of the document.
          example: 6c8c0c01-206a-41a4-9d21-15b9978d04cb
          type: string
      required:
      - documentId
      type: object
    photoValueObjectRequestBody:
      properties:
        id:
          description: Id of the photo.
          example: f5271458-21f9-4a9f-a290-780c6d8840ff
          type: string
        url:
          description: Url of the photo.
          example: https://samsara-driver-media-upload.s3.us-west-2.amazonaws.com/123456
          type: string
      type: object
    conditionalFieldSectionObjectResponseBody:
      properties:
        conditionalFieldFirstIndex:
          description: The index of the first conditional field associated with the triggeringFieldValue in the fieldTypes list.
          example: 1442355805701948200
          format: int64
          type: integer
        conditionalFieldLastIndex:
          description: The index of the last conditional field associated with the triggeringFieldValue in the fieldTypes list.
          example: 8587732987390647000
          format: int64
          type: integer
        triggeringFieldIndex:
          description: The index of the multiple choice field in the fieldTypes list that triggers one or more conditional fields.
          example: 7703795094721638000
          format: int64
          type: integer
        triggeringFieldValue:
          description: The multiple choice option value that triggers the conditional fields.
          example: Optiona 1
          type: string
      type: object
    DocumentsGetDocumentServiceUnavailableErrorResponseBody:
      description: Service unavailable
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
  securitySchemes:
    AccessTokenHeader:
      type: http
      scheme: bearer
x-original-swagger-version: '2.0'
x-readme:
  explorer-enabled: true
  proxy-enabled: true
