openapi: 3.0.1
info:
  description: Gain greater visibility by connecting your fleets, equipment, sites, and people.
  title: Samsara Reefer API
  version: '2024-11-18'
servers:
- url: https://api.samsara.com/
- url: https://api.eu.samsara.com/
security:
- AccessTokenHeader: []
tags:
- name: Reefer
paths:
  /v1/fleet/assets/{asset_id}/reefer:
    get:
      description: "<n class=\"warning\">\n<nh>\n<i class=\"fa fa-exclamation-circle\"></i>\nThis endpoint is still on our legacy API.\n</nh>\n</n>\n\nFetch the reefer-specific stats of an asset. \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team.\n\nTo use this endpoint, select **Read Trailers** under the Trailers category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>"
      operationId: V1getAssetReefer
      parameters:
      - description: ID of the asset. Must contain only digits 0-9.
        in: path
        name: asset_id
        required: true
        schema:
          format: int64
          type: integer
      - description: Timestamp in milliseconds representing the start of the period to fetch, inclusive. Used in combination with endMs.
        in: query
        name: startMs
        required: true
        schema:
          format: int64
          type: integer
      - description: Timestamp in milliseconds representing the end of the period to fetch, inclusive. Used in combination with startMs.
        in: query
        name: endMs
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1AssetReeferResponse'
          description: Reefer-specific asset details.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1ErrorResponse'
          description: Unexpected error.
      summary: List Stats for a Given Reefer
      tags:
      - Reefer
components:
  schemas:
    V1AssetReeferResponse_reeferStats_alarms:
      properties:
        alarmCode:
          description: ID of the alarm
          example: 102
          format: int64
          type: integer
        description:
          description: Description of the alarm
          example: Check Return Air Sensor
          type: string
        operatorAction:
          description: Recommended operator action
          example: Check and repair at end of trip
          type: string
        severity:
          description: 'Severity of the alarm: 1: OK to run, 2: Check as specified, 3: Take immediate action'
          example: 1
          format: int64
          type: integer
      type: object
    V1AssetReeferResponse_reeferStats_powerStatus:
      properties:
        changedAtMs:
          description: Timestamp in Unix milliseconds since epoch.
          example: 1453449599999
          format: int64
          type: integer
        status:
          description: 'Power status of the reefer. Valid values: `Off`, `Active`, `Active (Start/Stop)`, `Active (Continuous)`.'
          example: Active (Continuous)
          type: string
      type: object
    V1AssetReeferResponse_reeferStats_returnAirTemp:
      properties:
        changedAtMs:
          description: Timestamp in Unix milliseconds since epoch.
          example: 1453449599999
          format: int64
          type: integer
        tempInMilliC:
          description: Return air temperature in millidegree Celsius.
          example: 31110
          format: int64
          type: integer
      type: object
    V1ErrorResponse:
      description: Error message describing why the request failed.
      type: string
    V1AssetReeferResponse_reeferStats_engineHours:
      properties:
        changedAtMs:
          description: Timestamp in Unix milliseconds since epoch.
          example: 1453449599999
          format: int64
          type: integer
        engineHours:
          description: Engine hours of the reefer.
          example: 1200
          format: int64
          type: integer
      type: object
    V1AssetReeferResponse:
      description: Reefer-specific asset details
      properties:
        assetType:
          description: Asset type
          example: Thermo King
          type: string
        id:
          description: Asset ID
          example: 1
          type: integer
        name:
          description: Asset name
          example: Reefer 123
          type: string
        reeferStats:
          $ref: '#/components/schemas/V1AssetReeferResponse_reeferStats'
      type: object
    V1AssetReeferResponse_reeferStats_setPoint:
      properties:
        changedAtMs:
          description: Timestamp in Unix milliseconds since epoch.
          example: 1453449599999
          format: int64
          type: integer
        tempInMilliC:
          description: Set point temperature in millidegree Celsius.
          example: 31110
          format: int64
          type: integer
      type: object
    V1AssetReeferResponse_reeferStats_alarms_1:
      properties:
        alarms:
          items:
            $ref: '#/components/schemas/V1AssetReeferResponse_reeferStats_alarms'
          type: array
        changedAtMs:
          description: Timestamp when the alarms were reported, in Unix milliseconds since epoch
          example: 1453449599999
          format: int64
          type: integer
      type: object
    V1AssetReeferResponse_reeferStats_fuelPercentage:
      properties:
        changedAtMs:
          description: Timestamp in Unix milliseconds since epoch.
          example: 1453449599999
          format: int64
          type: integer
        fuelPercentage:
          description: Fuel percentage of the reefer.
          example: 99
          format: int64
          type: integer
      type: object
    V1AssetReeferResponse_reeferStats:
      properties:
        alarms:
          description: Reefer alarms
          items:
            $ref: '#/components/schemas/V1AssetReeferResponse_reeferStats_alarms_1'
          type: array
        engineHours:
          description: Engine hours of the reefer
          items:
            $ref: '#/components/schemas/V1AssetReeferResponse_reeferStats_engineHours'
          type: array
        fuelPercentage:
          description: Fuel percentage of the reefer
          items:
            $ref: '#/components/schemas/V1AssetReeferResponse_reeferStats_fuelPercentage'
          type: array
        powerStatus:
          description: Power status of the reefer
          items:
            $ref: '#/components/schemas/V1AssetReeferResponse_reeferStats_powerStatus'
          type: array
        returnAirTemp:
          description: Return air temperature of the reefer
          items:
            $ref: '#/components/schemas/V1AssetReeferResponse_reeferStats_returnAirTemp'
          type: array
        setPoint:
          description: Set point temperature of the reefer
          items:
            $ref: '#/components/schemas/V1AssetReeferResponse_reeferStats_setPoint'
          type: array
      type: object
  securitySchemes:
    AccessTokenHeader:
      type: http
      scheme: bearer
x-original-swagger-version: '2.0'
x-readme:
  explorer-enabled: true
  proxy-enabled: true
