openapi: 3.0.1
info:
  description: Gain greater visibility by connecting your fleets, equipment, sites, and people.
  title: Samsara Shares API
  version: '2024-11-18'
servers:
- url: https://api.samsara.com/
- url: https://api.eu.samsara.com/
security:
- AccessTokenHeader: []
tags:
- name: Shares
paths:
  /live-shares:
    delete:
      description: "Delete Live Sharing Link.\n\n <b>Rate limit:</b> 100 requests/min (learn more about rate limits <a href=\"https://developers.samsara.com/docs/rate-limits\" target=\"_blank\">here</a>).\n\nTo use this endpoint, select **Write Live Sharing Links** under the Driver Workflow category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team."
      operationId: deleteLiveSharingLink
      parameters:
      - description: Unique identifier for the Live Sharing Link.
        in: query
        name: id
        required: true
        schema:
          type: string
      responses:
        '204':
          content: {}
          description: No Content response.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksDeleteLiveSharingLinkUnauthorizedErrorResponseBody'
          description: Unauthorized response.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksDeleteLiveSharingLinkNotFoundErrorResponseBody'
          description: Not Found response.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksDeleteLiveSharingLinkMethodNotAllowedErrorResponseBody'
          description: Method Not Allowed response.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksDeleteLiveSharingLinkTooManyRequestsErrorResponseBody'
          description: Too Many Requests response.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksDeleteLiveSharingLinkInternalServerErrorResponseBody'
          description: Internal Server Error response.
        '501':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksDeleteLiveSharingLinkNotImplementedErrorResponseBody'
          description: Not Implemented response.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksDeleteLiveSharingLinkBadGatewayErrorResponseBody'
          description: Bad Gateway response.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksDeleteLiveSharingLinkServiceUnavailableErrorResponseBody'
          description: Service Unavailable response.
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksDeleteLiveSharingLinkGatewayTimeoutErrorResponseBody'
          description: Gateway Timeout response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksDeleteLiveSharingLinkBadRequestErrorResponseBody'
          description: Bad Request response.
      summary: Delete Non-expired Live Sharing Link
      tags:
      - Shares
    get:
      description: "Returns all non-expired Live Sharing Links.\n\n <b>Rate limit:</b> 5 requests/sec (learn more about rate limits <a href=\"https://developers.samsara.com/docs/rate-limits\" target=\"_blank\">here</a>).\n\nTo use this endpoint, select **Read Live Sharing Links** under the Driver Workflow category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team."
      operationId: getLiveSharingLinks
      parameters:
      - description: A filter on the data based on this comma-separated list of Live Share Link IDs
        explode: false
        in: query
        name: ids
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'A filter on the data based on the Live Sharing Link type.  Valid values: `all`, `assetsLocation`, `assetsNearLocation`, `assetsOnRoute`'
        in: query
        name: type
        schema:
          default: all
          enum:
          - all
          - assetsLocation
          - assetsNearLocation
          - assetsOnRoute
          type: string
      - description: The limit for how many objects will be in the response. Default and max for this value is 100 objects.
        in: query
        name: limit
        schema:
          default: 100
          maximum: 100
          minimum: 1
          type: integer
      - description: ' If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.'
        in: query
        name: after
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksGetLiveSharingLinksResponseBody'
          description: OK response.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksGetLiveSharingLinksUnauthorizedErrorResponseBody'
          description: Unauthorized response.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksGetLiveSharingLinksNotFoundErrorResponseBody'
          description: Not Found response.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksGetLiveSharingLinksMethodNotAllowedErrorResponseBody'
          description: Method Not Allowed response.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksGetLiveSharingLinksTooManyRequestsErrorResponseBody'
          description: Too Many Requests response.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksGetLiveSharingLinksInternalServerErrorResponseBody'
          description: Internal Server Error response.
        '501':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksGetLiveSharingLinksNotImplementedErrorResponseBody'
          description: Not Implemented response.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksGetLiveSharingLinksBadGatewayErrorResponseBody'
          description: Bad Gateway response.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksGetLiveSharingLinksServiceUnavailableErrorResponseBody'
          description: Service Unavailable response.
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksGetLiveSharingLinksGatewayTimeoutErrorResponseBody'
          description: Gateway Timeout response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksGetLiveSharingLinksBadRequestErrorResponseBody'
          description: Bad Request response.
      summary: Get Live Sharing Links
      tags:
      - Shares
    patch:
      description: "Update Live Sharing Link.\n\n <b>Rate limit:</b> 100 requests/min (learn more about rate limits <a href=\"https://developers.samsara.com/docs/rate-limits\" target=\"_blank\">here</a>).\n\nTo use this endpoint, select **Write Live Sharing Links** under the Driver Workflow category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team."
      operationId: updateLiveSharingLink
      parameters:
      - description: Unique identifier for the Live Sharing Link.
        in: query
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LiveSharingLinksUpdateLiveSharingLinkRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksUpdateLiveSharingLinkResponseBody'
          description: OK response.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksUpdateLiveSharingLinkUnauthorizedErrorResponseBody'
          description: Unauthorized response.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksUpdateLiveSharingLinkNotFoundErrorResponseBody'
          description: Not Found response.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksUpdateLiveSharingLinkMethodNotAllowedErrorResponseBody'
          description: Method Not Allowed response.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksUpdateLiveSharingLinkTooManyRequestsErrorResponseBody'
          description: Too Many Requests response.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksUpdateLiveSharingLinkInternalServerErrorResponseBody'
          description: Internal Server Error response.
        '501':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksUpdateLiveSharingLinkNotImplementedErrorResponseBody'
          description: Not Implemented response.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksUpdateLiveSharingLinkBadGatewayErrorResponseBody'
          description: Bad Gateway response.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksUpdateLiveSharingLinkServiceUnavailableErrorResponseBody'
          description: Service Unavailable response.
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksUpdateLiveSharingLinkGatewayTimeoutErrorResponseBody'
          description: Gateway Timeout response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksUpdateLiveSharingLinkBadRequestErrorResponseBody'
          description: Bad Request response.
      summary: Update Non-expired Live Sharing Link
      tags:
      - Shares
      x-codegen-request-body-name: UpdateLiveSharingLinkRequestBody
    post:
      description: "Create Live Sharing Link.\n\n <b>Rate limit:</b> 100 requests/min (learn more about rate limits <a href=\"https://developers.samsara.com/docs/rate-limits\" target=\"_blank\">here</a>).\n\nTo use this endpoint, select **Write Live Sharing Links** under the Driver Workflow category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team."
      operationId: createLiveSharingLink
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LiveSharingLinksCreateLiveSharingLinkRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksCreateLiveSharingLinkResponseBody'
          description: OK response.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksCreateLiveSharingLinkUnauthorizedErrorResponseBody'
          description: Unauthorized response.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksCreateLiveSharingLinkNotFoundErrorResponseBody'
          description: Not Found response.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksCreateLiveSharingLinkMethodNotAllowedErrorResponseBody'
          description: Method Not Allowed response.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksCreateLiveSharingLinkTooManyRequestsErrorResponseBody'
          description: Too Many Requests response.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksCreateLiveSharingLinkInternalServerErrorResponseBody'
          description: Internal Server Error response.
        '501':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksCreateLiveSharingLinkNotImplementedErrorResponseBody'
          description: Not Implemented response.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksCreateLiveSharingLinkBadGatewayErrorResponseBody'
          description: Bad Gateway response.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksCreateLiveSharingLinkServiceUnavailableErrorResponseBody'
          description: Service Unavailable response.
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksCreateLiveSharingLinkGatewayTimeoutErrorResponseBody'
          description: Gateway Timeout response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSharingLinksCreateLiveSharingLinkBadRequestErrorResponseBody'
          description: Bad Request response.
      summary: Create Live Sharing Link
      tags:
      - Shares
      x-codegen-request-body-name: CreateLiveSharingLinkRequestBody
components:
  schemas:
    LiveSharingLinksUpdateLiveSharingLinkNotFoundErrorResponseBody:
      description: Resource not found
      properties:
        message:
          description: Message of error
          example: Object not found.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LiveSharingLinksCreateLiveSharingLinkUnauthorizedErrorResponseBody:
      description: Unauthorized
      properties:
        message:
          description: Message of error
          example: Invalid token.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LiveSharingLinksUpdateLiveSharingLinkMethodNotAllowedErrorResponseBody:
      description: Method not allowed
      properties:
        message:
          description: Message of error
          example: DELETE not allowed on /endpoint.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LiveSharingLinksCreateLiveSharingLinkRequestBody:
      properties:
        assetsLocationLinkConfig:
          $ref: '#/components/schemas/AssetsLocationLinkConfigObject'
        assetsNearLocationLinkConfig:
          $ref: '#/components/schemas/AssetsNearLocationLinkConfigObject'
        assetsOnRouteLinkConfig:
          $ref: '#/components/schemas/AssetsOnRouteLinkConfigObject'
        description:
          description: Description for the Live Sharing Link (not applicable for 'assetsOnRoute' type).
          example: Sample description
          maxLength: 255
          type: string
        expiresAtTime:
          description: Date that this link expires in RFC 3339 format. Can't be set in the past. If not provided then link will never expire.
          example: '2020-01-27T07:06:25Z'
          type: string
        name:
          description: Name of the Live Sharing Link.
          example: Example Live Sharing Link name
          maxLength: 255
          type: string
        type:
          description: 'Type of the Live Sharing Link. This field specifies which one of ''<type>LinkConfig'' objects will be used to configure the sharing link.  Valid values: `assetsLocation`, `assetsNearLocation`, `assetsOnRoute`'
          enum:
          - assetsLocation
          - assetsNearLocation
          - assetsOnRoute
          example: assetsLocation
          type: string
      required:
      - name
      - type
      type: object
    LiveSharingLinksGetLiveSharingLinksNotImplementedErrorResponseBody:
      description: Requested endpoint is not yet implemented
      properties:
        message:
          description: Message of error
          example: Not implemented.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LiveSharingLinksGetLiveSharingLinksBadRequestErrorResponseBody:
      description: Bad Request parameters
      properties:
        message:
          description: Message of error
          example: Invalid value for parameter.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LiveSharingLinksDeleteLiveSharingLinkNotFoundErrorResponseBody:
      description: Resource not found
      properties:
        message:
          description: Message of error
          example: Object not found.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LiveSharingLinksCreateLiveSharingLinkBadRequestErrorResponseBody:
      description: Bad Request parameters
      properties:
        message:
          description: Message of error
          example: Invalid value for parameter.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LiveSharingLinksUpdateLiveSharingLinkServiceUnavailableErrorResponseBody:
      description: Service unavailable
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LiveSharingLinksDeleteLiveSharingLinkUnauthorizedErrorResponseBody:
      description: Unauthorized
      properties:
        message:
          description: Message of error
          example: Invalid token.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    GoaPaginationResponseResponseBody:
      description: Pagination parameters.
      properties:
        endCursor:
          description: Cursor identifier representing the last element in the response. This value should be used in conjunction with a subsequent request's 'after' query parameter. This may be an empty string if there are no more pages left to view.
          example: MjkY
          type: string
        hasNextPage:
          description: True if there are more pages of results immediately available after this endCursor.
          example: true
          type: boolean
      required:
      - endCursor
      - hasNextPage
      type: object
    AssetsLocationLinkConfigAddressDetailsObject:
      description: Location object that indicates what address information (destination point and/or ETA) will be shown by Live Sharing Link.
      properties:
        formattedAddress:
          description: Formatted address of a location
          example: 1990 Alameda Street, San Francisco, CA 94103
          type: string
        latitude:
          description: Latitude of a location
          example: 37.456345
          format: double
          type: number
        longitude:
          description: Longitude of a location
          example: 34.5633749
          format: double
          type: number
        name:
          description: Name of a location
          example: Suburbs
          type: string
      required:
      - formattedAddress
      - latitude
      - longitude
      - name
      type: object
    LiveSharingLinksUpdateLiveSharingLinkTooManyRequestsErrorResponseBody:
      description: Too many requests
      properties:
        message:
          description: Message of error
          example: Exceeded rate limit.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LiveSharingLinksCreateLiveSharingLinkTooManyRequestsErrorResponseBody:
      description: Too many requests
      properties:
        message:
          description: Message of error
          example: Exceeded rate limit.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LiveSharingLinksCreateLiveSharingLinkGatewayTimeoutErrorResponseBody:
      description: Gateway timeout
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LiveSharingLinksGetLiveSharingLinksBadGatewayErrorResponseBody:
      description: Bad Gateway
      properties:
        message:
          description: Message of error
          example: 'rpc error: code = Unknown desc = connection refused'
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LiveSharingLinksCreateLiveSharingLinkNotImplementedErrorResponseBody:
      description: Requested endpoint is not yet implemented
      properties:
        message:
          description: Message of error
          example: Not implemented.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LiveSharingLinksCreateLiveSharingLinkMethodNotAllowedErrorResponseBody:
      description: Method not allowed
      properties:
        message:
          description: Message of error
          example: DELETE not allowed on /endpoint.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LiveSharingLinksGetLiveSharingLinksMethodNotAllowedErrorResponseBody:
      description: Method not allowed
      properties:
        message:
          description: Message of error
          example: DELETE not allowed on /endpoint.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LiveSharingLinksGetLiveSharingLinksServiceUnavailableErrorResponseBody:
      description: Service unavailable
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LiveSharingLinksCreateLiveSharingLinkResponseBody:
      properties:
        data:
          $ref: '#/components/schemas/LiveSharingLinkFullResponseObjectResponseBody'
      required:
      - data
      type: object
    LiveSharingLinksUpdateLiveSharingLinkBadGatewayErrorResponseBody:
      description: Bad Gateway
      properties:
        message:
          description: Message of error
          example: 'rpc error: code = Unknown desc = connection refused'
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    AssetsOnRouteLinkConfigObject:
      description: Configuration details specific to the 'By Recurring Route' Live Sharing Link.
      properties:
        recurringRouteId:
          description: Samsara ID of the recurring route.
          example: '1234'
          type: string
      required:
      - recurringRouteId
      type: object
    AssetsLocationLinkConfigObject:
      description: Configuration details specific to the 'By Asset' Live Sharing Link.
      properties:
        assetId:
          description: Unique assets ID that Live Sharing Link will show.
          example: '1234'
          type: string
        location:
          $ref: '#/components/schemas/AssetsLocationLinkConfigAddressDetailsObject'
      required:
      - assetId
      type: object
    LiveSharingLinksUpdateLiveSharingLinkUnauthorizedErrorResponseBody:
      description: Unauthorized
      properties:
        message:
          description: Message of error
          example: Invalid token.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LiveSharingLinksGetLiveSharingLinksNotFoundErrorResponseBody:
      description: Resource not found
      properties:
        message:
          description: Message of error
          example: Object not found.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LiveSharingLinksCreateLiveSharingLinkServiceUnavailableErrorResponseBody:
      description: Service unavailable
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LiveSharingLinksGetLiveSharingLinksTooManyRequestsErrorResponseBody:
      description: Too many requests
      properties:
        message:
          description: Message of error
          example: Exceeded rate limit.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LiveSharingLinksUpdateLiveSharingLinkBadRequestErrorResponseBody:
      description: Bad Request parameters
      properties:
        message:
          description: Message of error
          example: Invalid value for parameter.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LiveSharingLinksDeleteLiveSharingLinkMethodNotAllowedErrorResponseBody:
      description: Method not allowed
      properties:
        message:
          description: Message of error
          example: DELETE not allowed on /endpoint.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LiveSharingLinksUpdateLiveSharingLinkNotImplementedErrorResponseBody:
      description: Requested endpoint is not yet implemented
      properties:
        message:
          description: Message of error
          example: Not implemented.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LiveSharingLinkFullResponseObjectResponseBody:
      description: Live Sharing Link object
      properties:
        assetsLocationLinkConfig:
          $ref: '#/components/schemas/AssetsLocationLinkConfigObjectResponseBody'
        assetsNearLocationLinkConfig:
          $ref: '#/components/schemas/AssetsNearLocationLinkConfigObjectResponseBody'
        assetsOnRouteLinkConfig:
          $ref: '#/components/schemas/AssetsOnRouteLinkConfigObjectResponseBody'
        description:
          description: Description for the Live Sharing Link (not applicable for 'assetsOnRoute' type).
          example: Sample description
          maxLength: 255
          type: string
        expiresAtTime:
          description: Date that this link expires, in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        id:
          description: Unique identifier for the Live Sharing Link.
          example: leesdwqjx42dkvp86so
          type: string
        liveSharingUrl:
          description: The shareable URL of the vehicle's location.
          example: https://cloud.samsara.com/o/123456/fleet/viewer/address/7hf4lnu455wep22rtun
          type: string
        name:
          description: Name of the Live Sharing Link.
          example: Example Live Sharing Link name
          maxLength: 255
          type: string
        type:
          description: 'Type of the Live Sharing Link.  Valid values: `assetsLocation`, `assetsNearLocation`, `assetsOnRoute`'
          enum:
          - assetsLocation
          - assetsNearLocation
          - assetsOnRoute
          example: assetsLocation
          type: string
      required:
      - id
      - liveSharingUrl
      - name
      - type
      type: object
    AssetsOnRouteLinkConfigObjectResponseBody:
      description: Configuration details specific to the 'By Recurring Route' Live Sharing Link.
      properties:
        recurringRouteId:
          description: Samsara ID of the recurring route.
          example: '1234'
          type: string
      required:
      - recurringRouteId
      type: object
    LiveSharingLinksGetLiveSharingLinksGatewayTimeoutErrorResponseBody:
      description: Gateway timeout
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LiveSharingLinksCreateLiveSharingLinkInternalServerErrorResponseBody:
      description: An internal server error occurred
      properties:
        message:
          description: Message of error
          example: Failed to execute GraphQL query.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LiveSharingLinksUpdateLiveSharingLinkResponseBody:
      properties:
        data:
          $ref: '#/components/schemas/LiveSharingLinkFullResponseObjectResponseBody'
      required:
      - data
      type: object
    LiveSharingLinksDeleteLiveSharingLinkGatewayTimeoutErrorResponseBody:
      description: Gateway timeout
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LiveSharingLinksGetLiveSharingLinksResponseBody:
      properties:
        data:
          items:
            $ref: '#/components/schemas/LiveSharingLinkFullResponseObjectResponseBody'
          type: array
        pagination:
          $ref: '#/components/schemas/GoaPaginationResponseResponseBody'
      required:
      - data
      - pagination
      type: object
    LiveSharingLinksUpdateLiveSharingLinkInternalServerErrorResponseBody:
      description: An internal server error occurred
      properties:
        message:
          description: Message of error
          example: Failed to execute GraphQL query.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LiveSharingLinksDeleteLiveSharingLinkNotImplementedErrorResponseBody:
      description: Requested endpoint is not yet implemented
      properties:
        message:
          description: Message of error
          example: Not implemented.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LiveSharingLinksDeleteLiveSharingLinkBadRequestErrorResponseBody:
      description: Bad Request parameters
      properties:
        message:
          description: Message of error
          example: Invalid value for parameter.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LiveSharingLinksGetLiveSharingLinksUnauthorizedErrorResponseBody:
      description: Unauthorized
      properties:
        message:
          description: Message of error
          example: Invalid token.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    AssetsLocationLinkConfigAddressDetailsObjectResponseBody:
      description: Location object that indicates what address information (destination point and/or ETA) will be shown by Live Sharing Link.
      properties:
        formattedAddress:
          description: Formatted address of a location
          example: 1990 Alameda Street, San Francisco, CA 94103
          type: string
        latitude:
          description: Latitude of a location
          example: 37.456345
          format: double
          type: number
        longitude:
          description: Longitude of a location
          example: 34.5633749
          format: double
          type: number
        name:
          description: Name of a location
          example: Suburbs
          type: string
      required:
      - formattedAddress
      - latitude
      - longitude
      - name
      type: object
    LiveSharingLinksDeleteLiveSharingLinkServiceUnavailableErrorResponseBody:
      description: Service unavailable
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    AssetsNearLocationLinkConfigObjectResponseBody:
      description: Configuration details specific to the 'By Location' Live Sharing Link.
      properties:
        addressId:
          description: ID of the address. Can be either a unique Samsara ID or an external ID for the address.
          example: '1234'
          type: string
      required:
      - addressId
      type: object
    LiveSharingLinksDeleteLiveSharingLinkInternalServerErrorResponseBody:
      description: An internal server error occurred
      properties:
        message:
          description: Message of error
          example: Failed to execute GraphQL query.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LiveSharingLinksCreateLiveSharingLinkBadGatewayErrorResponseBody:
      description: Bad Gateway
      properties:
        message:
          description: Message of error
          example: 'rpc error: code = Unknown desc = connection refused'
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LiveSharingLinksDeleteLiveSharingLinkBadGatewayErrorResponseBody:
      description: Bad Gateway
      properties:
        message:
          description: Message of error
          example: 'rpc error: code = Unknown desc = connection refused'
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LiveSharingLinksUpdateLiveSharingLinkGatewayTimeoutErrorResponseBody:
      description: Gateway timeout
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    AssetsLocationLinkConfigObjectResponseBody:
      description: Configuration details specific to the 'By Asset' Live Sharing Link.
      properties:
        assetId:
          description: Unique assets ID that Live Sharing Link will show.
          example: '1234'
          type: string
        location:
          $ref: '#/components/schemas/AssetsLocationLinkConfigAddressDetailsObjectResponseBody'
      required:
      - assetId
      type: object
    LiveSharingLinksGetLiveSharingLinksInternalServerErrorResponseBody:
      description: An internal server error occurred
      properties:
        message:
          description: Message of error
          example: Failed to execute GraphQL query.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    AssetsNearLocationLinkConfigObject:
      description: Configuration details specific to the 'By Location' Live Sharing Link.
      properties:
        addressId:
          description: ID of the address. Can be either a unique Samsara ID or an external ID for the address.
          example: '1234'
          type: string
      required:
      - addressId
      type: object
    LiveSharingLinksCreateLiveSharingLinkNotFoundErrorResponseBody:
      description: Resource not found
      properties:
        message:
          description: Message of error
          example: Object not found.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LiveSharingLinksUpdateLiveSharingLinkRequestBody:
      properties:
        description:
          description: Description for the Live Sharing Link (not applicable for 'assetsOnRoute' type).
          example: Sample description
          maxLength: 255
          type: string
        expiresAtTime:
          description: Date that this link expires in RFC 3339 format. Can't be set in the past. If not provided then link will never expire.
          example: '2020-01-27T07:06:25Z'
          type: string
        name:
          description: Name of the Live Sharing Link.
          example: Example Live Sharing Link name
          maxLength: 255
          type: string
      required:
      - name
      type: object
    LiveSharingLinksDeleteLiveSharingLinkTooManyRequestsErrorResponseBody:
      description: Too many requests
      properties:
        message:
          description: Message of error
          example: Exceeded rate limit.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
  securitySchemes:
    AccessTokenHeader:
      type: http
      scheme: bearer
x-original-swagger-version: '2.0'
x-readme:
  explorer-enabled: true
  proxy-enabled: true
