openapi: 3.0.1
info:
  description: Gain greater visibility by connecting your fleets, equipment, sites, and people.
  title: Samsara Fleets API
  version: '2024-11-18'
servers:
- url: https://api.samsara.com/
- url: https://api.eu.samsara.com/
security:
- AccessTokenHeader: []
tags:
- name: Fleets
paths:
  /beta/fleet/drivers/efficiency:
    get:
      description: "Get all driver and associated vehicle efficiency data. \n\n <b>Rate limit:</b> 50 requests/sec (learn more about rate limits <a href=\"https://developers.samsara.com/docs/rate-limits\" target=\"_blank\">here</a>). \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team.\n\nTo use this endpoint, select **Read Fuel & Energy** under the Fuel & Energy category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>"
      operationId: getDriverEfficiency
      parameters:
      - description: If value is `deactivated`, only drivers that are deactivated will appear in the response. This parameter will default to `active` if not provided (fetching only active drivers).
        in: query
        name: driverActivationStatus
        schema:
          enum:
          - active
          - deactivated
          type: string
      - description: 'A filter on the data based on this comma-separated list of driver IDs. Cannot be used with tag filtering or driver status. Example: `driverIds=1234,5678`'
        explode: false
        in: query
        name: driverIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.
        in: query
        name: after
        schema:
          type: string
      - description: 'Filters summary to drivers based on this comma-separated list of tag IDs. Data from all the drivers'' respective vehicles will be included in the summary, regardless of which tag the vehicle is associated with. Should not be provided in addition to `driverIds`. Example: driverTagIds=1234,5678'
        explode: false
        in: query
        name: driverTagIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'Filters like `driverTagIds` but includes descendants of all the given parent tags. Should not be provided in addition to `driverIds`. Example: `driverParentTagIds=1234,5678`'
        explode: false
        in: query
        name: driverParentTagIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'A start time in RFC 3339 format. The results will be truncated to the hour mark for the provided time. For example, if `startTime` is 2020-03-17T12:06:19Z then the results will include data starting from 2020-03-17T12:00:00Z. The provided start time cannot be in the future. Start time can be at most 31 days before the end time. If the start time is within the last hour, the results will be empty. Default: 24 hours prior to endTime.


          Note that the most recent 72 hours of data may still be processing and is subject to change and latency, so it is not recommended to request data for the most recent 72 hours.'
        in: query
        name: startTime
        schema:
          format: date-time
          type: string
      - description: 'An end time in RFC 3339 format. The results will be truncated to the hour mark for the provided time. For example, if `endTime` is 2020-03-17T12:06:19Z then the results will include data up until 2020-03-17T12:00:00Z. The provided end time cannot be in the future. End time can be at most 31 days after the start time. Default: The current time truncated to the hour mark.


          Note that the most recent 72 hours of data may still be processing and is subject to change and latency, so it is not recommended to request data for the most recent 72 hours'
        in: query
        name: endTime
        schema:
          format: date-time
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriverEfficienciesResponse'
          description: List of all driver and associated vehicle efficiency data
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Unexpected error.
      summary: '[beta] List Driver Efficiency'
      tags:
      - Fleets
  /beta/fleet/equipment/{id}:
    patch:
      description: "Update an equipment.  **Note** this implementation of patch uses [the JSON merge patch](https://tools.ietf.org/html/rfc7396) proposed standard.\n This means that any fields included in the patch request will _overwrite_ fields which exist on the target resource.\n For arrays, this means any array included in the request will _replace_ the array that exists at the specified path, it will not _add_ to the existing array\n\n <b>Rate limit:</b> 100 requests/min (learn more about rate limits <a href=\"https://developers.samsara.com/docs/rate-limits\" target=\"_blank\">here</a>).\n\nTo use this endpoint, select **Write Equipment** under the Equipment category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team."
      operationId: patchEquipment
      parameters:
      - description: The unique Samsara ID of the Equipment. This is automatically generated when the Equipment object is created. It cannot be changed.
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EquipmentPatchEquipmentRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentPatchEquipmentResponseBody'
          description: OK response.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentPatchEquipmentUnauthorizedErrorResponseBody'
          description: Unauthorized response.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentPatchEquipmentNotFoundErrorResponseBody'
          description: Not Found response.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentPatchEquipmentMethodNotAllowedErrorResponseBody'
          description: Method Not Allowed response.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentPatchEquipmentTooManyRequestsErrorResponseBody'
          description: Too Many Requests response.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentPatchEquipmentInternalServerErrorResponseBody'
          description: Internal Server Error response.
        '501':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentPatchEquipmentNotImplementedErrorResponseBody'
          description: Not Implemented response.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentPatchEquipmentBadGatewayErrorResponseBody'
          description: Bad Gateway response.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentPatchEquipmentServiceUnavailableErrorResponseBody'
          description: Service Unavailable response.
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentPatchEquipmentGatewayTimeoutErrorResponseBody'
          description: Gateway Timeout response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentPatchEquipmentBadRequestErrorResponseBody'
          description: Bad Request response.
      summary: '[beta] Update an Equipment'
      tags:
      - Fleets
      x-codegen-request-body-name: PatchEquipmentRequestBody
  /beta/fleet/hos/drivers/eld-events:
    get:
      description: "Get all HOS ELD events in a time range, grouped by driver. Attributes will be populated depending on which ELD Event Type is being returned.\n\n <b>Rate limit:</b> 5 requests/sec (learn more about rate limits <a href=\"https://developers.samsara.com/docs/rate-limits\" target=\"_blank\">here</a>).\n\nTo use this endpoint, select **Read ELD Compliance Settings (US)** under the Compliance category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team."
      operationId: getHosEldEvents
      parameters:
      - description: ' A start time in RFC 3339 format. Defaults to now if not provided. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).'
        in: query
        name: startTime
        required: true
        schema:
          type: string
      - description: ' An end time in RFC 3339 format. Defaults to now if not provided. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).'
        in: query
        name: endTime
        required: true
        schema:
          type: string
      - description: ' A filter on the data based on this comma-separated list of driver IDs and externalIds. Example: `driverIds=1234,5678,payroll:4841`'
        explode: false
        in: query
        name: driverIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: ' A filter on the data based on this comma-separated list of tag IDs. Example: `tagIds=1234,5678`'
        in: query
        name: tagIds
        schema:
          type: string
      - description: ' A filter on the data based on this comma-separated list of parent tag IDs, for use by orgs with tag hierarchies. Specifying a parent tag will implicitly include all descendent tags of the parent tag. Example: `parentTagIds=345,678`'
        in: query
        name: parentTagIds
        schema:
          type: string
      - description: 'If value is `deactivated`, only drivers that are deactivated will appear in the response. This parameter will default to `active` if not provided (fetching only active drivers).  Valid values: `active`, `deactivated`'
        in: query
        name: driverActivationStatus
        schema:
          default: active
          enum:
          - active
          - deactivated
          type: string
      - description: ' If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.'
        in: query
        name: after
        schema:
          type: string
      - description: The limit for how many objects will be in the response. Default and max for this value is 25 objects.
        in: query
        name: limit
        schema:
          default: 25
          maximum: 25
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HosEldEventsGetHosEldEventsResponseBody'
          description: OK response.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HosEldEventsGetHosEldEventsUnauthorizedErrorResponseBody'
          description: Unauthorized response.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HosEldEventsGetHosEldEventsNotFoundErrorResponseBody'
          description: Not Found response.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HosEldEventsGetHosEldEventsMethodNotAllowedErrorResponseBody'
          description: Method Not Allowed response.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HosEldEventsGetHosEldEventsTooManyRequestsErrorResponseBody'
          description: Too Many Requests response.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HosEldEventsGetHosEldEventsInternalServerErrorResponseBody'
          description: Internal Server Error response.
        '501':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HosEldEventsGetHosEldEventsNotImplementedErrorResponseBody'
          description: Not Implemented response.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HosEldEventsGetHosEldEventsBadGatewayErrorResponseBody'
          description: Bad Gateway response.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HosEldEventsGetHosEldEventsServiceUnavailableErrorResponseBody'
          description: Service Unavailable response.
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HosEldEventsGetHosEldEventsGatewayTimeoutErrorResponseBody'
          description: Gateway Timeout response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HosEldEventsGetHosEldEventsBadRequestErrorResponseBody'
          description: Bad Request response.
      summary: '[beta] Get Driver HOS ELD Events'
      tags:
      - Fleets
  /beta/fleet/trailers/stats:
    get:
      description: "Returns the last known stats of all trailers at the given `time`. If no `time` is specified, the current time is used.\n\n <b>Rate limit:</b> 25 requests/sec (learn more about rate limits <a href=\"https://developers.samsara.com/docs/rate-limits\" target=\"_blank\">here</a>).\n\nTo use this endpoint, select **Read Trailer Statistics** under the Trailers category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team."
      operationId: getTrailerStatsSnapshot
      parameters:
      - description: 'The stat types you want this endpoint to return information on.


          You may list **up to 3** types using comma-separated format. For example: `types=gps,reeferAmbientAirTemperatureMilliC,gpsOdometerMeters`.


          * `gps`: GPS data including lat/long, heading, speed, and a reverse geocode address.

          * `gpsOdometerMeters`: Odometer reading provided by GPS calculations. You must provide a manual odometer reading before this value is updated. Manual odometer readings can be provided via the PATCH /fleet/trailers/{id} endpoint or through the [cloud dashboard](https://kb.samsara.com/hc/en-us/articles/115005273667-Editing-Odometer-Reading). Odometer readings wthat are manually set will update as GPS trip data is gathered.

          * `reeferAmbientAirTemperatureMilliC`: The ambient air temperature reading of the reefer in millidegree Celsius.

          * `reeferObdEngineSeconds`: The cumulative number of seconds the reefer has run according to onboard diagnostics. Only supported on reefer solutions.

          * `reeferSupplyAirTemperatureMilliCZone1`: The supply or discharge air temperature zone 1 in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.

          * `reeferSupplyAirTemperatureMilliCZone2`: The supply or discharge air temperature zone 2 in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferSupplyAirTemperatureMilliCZone3`: The supply or discharge air temperature zone 3 in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferFuelPercent`: The fuel level of the reefer unit in percentage points (e.g. `99`, `50`, etc). Only supported on reefer solutions.

          * `carrierReeferState`: The overall state of the reefer (`Off`, `On`). Only supported on multizone Carrier reefer solutions.

          * `reeferStateZone1`: The state of the reefer in zone 1. For single zone reefers, this applies tot he single zone. Only supported on multizone reefer solutions.

          * `reeferStateZone2`: The state of the reefer in zone 2. Only supported on multizone reefer solutions.

          * `reeferStateZone3`: The state of the reefer in zone 3. Only supported on multizone reefer solutions.

          * `reeferRunMode`: The operational mode of the reefer (`Start/Stop`, `Continuous`)

          * `reeferAlarms`: Any alarms that are present on the reefer. Only supported on reefer solutions.

          * `reeferReturnAirTemperatureMilliCZone1`: The return air temperature in zone 1 of the reefer in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.

          * `reeferReturnAirTemperatureMilliCZone2`: The return air temperature in zone 2 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferReturnAirTemperatureMilliCZone3`: The return air temperature in zone 3 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferSetPointTemperatureMilliCZone1`: The set point temperature in zone 1 of the reefer in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.

          * `reeferSetPointTemperatureMilliCZone2`: The set point temperature in zone 2 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferSetPointTemperatureMilliCZone3`: The set point temperature in zone 3 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferDoorStateZone1`: The door status in zone 1 of the reefer. For single zone reefers, this applies to the single zone.

          * `reeferDoorStateZone2`: The door status in zone 2 of the reefer. Only supported on multizone reefer solutions.

          * `reeferDoorStateZone3`: The door status in zone 3 of the reefer. Only supported on multizone reefer solutions.'
        in: query
        name: types
        required: true
        schema:
          type: string
      - description: ' A filter on the data based on this comma-separated list of tag IDs. Example: `tagIds=1234,5678`'
        in: query
        name: tagIds
        schema:
          type: string
      - description: ' A filter on the data based on this comma-separated list of parent tag IDs, for use by orgs with tag hierarchies. Specifying a parent tag will implicitly include all descendent tags of the parent tag. Example: `parentTagIds=345,678`'
        in: query
        name: parentTagIds
        schema:
          type: string
      - description: ' If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.'
        in: query
        name: after
        schema:
          type: string
      - description: ' A filter on the data based on this comma-separated list of trailer IDs and externalIds. Example: `trailerIds=1234,5678,samsara.vin:1HGBH41JXMN109186`'
        in: query
        name: trailerIds
        schema:
          type: string
      - description: ' A filter on the data that returns the last known data points with timestamps less than or equal to this value. Defaults to now if not provided. Must be a string in RFC 3339 Format. Millisecond precision and timezones are supported.'
        in: query
        name: time
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsSnapshotResponseBody'
          description: OK response.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsSnapshotUnauthorizedErrorResponseBody'
          description: Unauthorized response.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsSnapshotNotFoundErrorResponseBody'
          description: Not Found response.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsSnapshotMethodNotAllowedErrorResponseBody'
          description: Method Not Allowed response.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsSnapshotTooManyRequestsErrorResponseBody'
          description: Too Many Requests response.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsSnapshotInternalServerErrorResponseBody'
          description: Internal Server Error response.
        '501':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsSnapshotNotImplementedErrorResponseBody'
          description: Not Implemented response.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsSnapshotBadGatewayErrorResponseBody'
          description: Bad Gateway response.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsSnapshotServiceUnavailableErrorResponseBody'
          description: Service Unavailable response.
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsSnapshotGatewayTimeoutErrorResponseBody'
          description: Gateway Timeout response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsSnapshotBadRequestErrorResponseBody'
          description: Bad Request response.
      summary: '[beta] Get Trailer Stats'
      tags:
      - Fleets
  /beta/fleet/trailers/stats/feed:
    get:
      description: "Follow a feed of trailer stats.\n\nThe first call to this endpoint will provide the most recent stats for each trailer and an `endCursor`.\n\nProviding the `endCursor` value to the `after` query parameter will fetch all updates since the previous API call.\n\nIf `hasNextPage` is false, no new data is immediately available. Please wait a minimum of 5 seconds before making a subsequent request.\n\n <b>Rate limit:</b> 25 requests/sec (learn more about rate limits <a href=\"https://developers.samsara.com/docs/rate-limits\" target=\"_blank\">here</a>).\n\nTo use this endpoint, select **Read Trailer Statistics** under the Trailers category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team."
      operationId: getTrailerStatsFeed
      parameters:
      - description: 'The stat types you want this endpoint to return information on.


          You may list **up to 3** types using comma-separated format. For example: `types=gps,reeferAmbientAirTemperatureMilliC,gpsOdometerMeters`.


          * `gps`: GPS data including lat/long, heading, speed, and a reverse geocode address.

          * `gpsOdometerMeters`: Odometer reading provided by GPS calculations. You must provide a manual odometer reading before this value is updated. Manual odometer readings can be provided via the PATCH /fleet/trailers/{id} endpoint or through the [cloud dashboard](https://kb.samsara.com/hc/en-us/articles/115005273667-Editing-Odometer-Reading). Odometer readings wthat are manually set will update as GPS trip data is gathered.

          * `reeferAmbientAirTemperatureMilliC`: The ambient air temperature reading of the reefer in millidegree Celsius.

          * `reeferObdEngineSeconds`: The cumulative number of seconds the reefer has run according to onboard diagnostics. Only supported on reefer solutions.

          * `reeferSupplyAirTemperatureMilliCZone1`: The supply or discharge air temperature zone 1 in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.

          * `reeferSupplyAirTemperatureMilliCZone2`: The supply or discharge air temperature zone 2 in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferSupplyAirTemperatureMilliCZone3`: The supply or discharge air temperature zone 3 in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferFuelPercent`: The fuel level of the reefer unit in percentage points (e.g. `99`, `50`, etc). Only supported on reefer solutions.

          * `carrierReeferState`: The overall state of the reefer (`Off`, `On`). Only supported on multizone Carrier reefer solutions.

          * `reeferStateZone1`: The state of the reefer in zone 1. For single zone reefers, this applies tot he single zone. Only supported on multizone reefer solutions.

          * `reeferStateZone2`: The state of the reefer in zone 2. Only supported on multizone reefer solutions.

          * `reeferStateZone3`: The state of the reefer in zone 3. Only supported on multizone reefer solutions.

          * `reeferRunMode`: The operational mode of the reefer (`Start/Stop`, `Continuous`)

          * `reeferAlarms`: Any alarms that are present on the reefer. Only supported on reefer solutions.

          * `reeferReturnAirTemperatureMilliCZone1`: The return air temperature in zone 1 of the reefer in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.

          * `reeferReturnAirTemperatureMilliCZone2`: The return air temperature in zone 2 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferReturnAirTemperatureMilliCZone3`: The return air temperature in zone 3 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferSetPointTemperatureMilliCZone1`: The set point temperature in zone 1 of the reefer in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.

          * `reeferSetPointTemperatureMilliCZone2`: The set point temperature in zone 2 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferSetPointTemperatureMilliCZone3`: The set point temperature in zone 3 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferDoorStateZone1`: The door status in zone 1 of the reefer. For single zone reefers, this applies to the single zone.

          * `reeferDoorStateZone2`: The door status in zone 2 of the reefer. Only supported on multizone reefer solutions.

          * `reeferDoorStateZone3`: The door status in zone 3 of the reefer. Only supported on multizone reefer solutions.'
        in: query
        name: types
        required: true
        schema:
          type: string
      - description: ' A filter on the data based on this comma-separated list of tag IDs. Example: `tagIds=1234,5678`'
        in: query
        name: tagIds
        schema:
          type: string
      - description: ' A filter on the data based on this comma-separated list of parent tag IDs, for use by orgs with tag hierarchies. Specifying a parent tag will implicitly include all descendent tags of the parent tag. Example: `parentTagIds=345,678`'
        in: query
        name: parentTagIds
        schema:
          type: string
      - description: ' If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.'
        in: query
        name: after
        schema:
          type: string
      - description: ' A filter on the data based on this comma-separated list of trailer IDs and externalIds. Example: `trailerIds=1234,5678,samsara.vin:1HGBH41JXMN109186`'
        in: query
        name: trailerIds
        schema:
          type: string
      - description: 'Decorations add to the primary stats listed in the `types` parameter. For example, if you wish to know the trailer''s location whenever the odometer updates, you may set `types=gpsOdometerMeters&decorations=gps`.


          You may list **up to 2** types using comma-separated format. If multiple stats are listed in the types parameter, the decorations will be added to each type. For example: `types=reeferStateZone1,reeferAmbientAirTemperatureMilliC,gpsOdometerMeters&decorations=gps` will list GPS decorations for each reeferStateZone1 reading, each reeferAmbientAirTemperatureMilliC reding, and gpsOdometerMeters reading.


          Note that decorations may significantly increase the response payload size.


          * `gps`: GPS data including lat/long, heading, speed, and a reverse geocode address.

          * `gpsOdometerMeters`: Odometer reading provided by GPS calculations. You must provide a manual odometer reading before this value is updated. Manual odometer readings can be provided via the PATCH /fleet/trailers/{id} endpoint or through the [cloud dashboard](https://kb.samsara.com/hc/en-us/articles/115005273667-Editing-Odometer-Reading). Odometer readings wthat are manually set will update as GPS trip data is gathered.

          * `reeferAmbientAirTemperatureMilliC`: The ambient air temperature reading of the reefer in millidegree Celsius.

          * `reeferObdEngineSeconds`: The cumulative number of seconds the reefer has run according to onboard diagnostics. Only supported on reefer solutions.

          * `reeferSupplyAirTemperatureMilliCZone1`: The supply or discharge air temperature zone 1 in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.

          * `reeferSupplyAirTemperatureMilliCZone2`: The supply or discharge air temperature zone 2 in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferSupplyAirTemperatureMilliCZone3`: The supply or discharge air temperature zone 3 in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferFuelPercent`: The fuel level of the reefer unit in percentage points (e.g. `99`, `50`, etc). Only supported on reefer solutions.

          * `carrierReeferState`: The overall state of the reefer (`Off`, `On`). Only supported on multizone Carrier reefer solutions.

          * `reeferStateZone1`: The state of the reefer in zone 1. For single zone reefers, this applies tot he single zone. Only supported on multizone reefer solutions.

          * `reeferStateZone2`: The state of the reefer in zone 2. Only supported on multizone reefer solutions.

          * `reeferStateZone3`: The state of the reefer in zone 3. Only supported on multizone reefer solutions.

          * `reeferRunMode`: The operational mode of the reefer (`Start/Stop`, `Continuous`)

          * `reeferAlarms`: Any alarms that are present on the reefer. Only supported on reefer solutions.

          * `reeferReturnAirTemperatureMilliCZone1`: The return air temperature in zone 1 of the reefer in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.

          * `reeferReturnAirTemperatureMilliCZone2`: The return air temperature in zone 2 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferReturnAirTemperatureMilliCZone3`: The return air temperature in zone 3 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferSetPointTemperatureMilliCZone1`: The set point temperature in zone 1 of the reefer in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.

          * `reeferSetPointTemperatureMilliCZone2`: The set point temperature in zone 2 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferSetPointTemperatureMilliCZone3`: The set point temperature in zone 3 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferDoorStateZone1`: The door status in zone 1 of the reefer. For single zone reefers, this applies to the single zone.

          * `reeferDoorStateZone2`: The door status in zone 2 of the reefer. Only supported on multizone reefer solutions.

          * `reeferDoorStateZone3`: The door status in zone 3 of the reefer. Only supported on multizone reefer solutions.'
        in: query
        name: decorations
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsFeedResponseBody'
          description: OK response.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsFeedUnauthorizedErrorResponseBody'
          description: Unauthorized response.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsFeedNotFoundErrorResponseBody'
          description: Not Found response.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsFeedMethodNotAllowedErrorResponseBody'
          description: Method Not Allowed response.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsFeedTooManyRequestsErrorResponseBody'
          description: Too Many Requests response.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsFeedInternalServerErrorResponseBody'
          description: Internal Server Error response.
        '501':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsFeedNotImplementedErrorResponseBody'
          description: Not Implemented response.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsFeedBadGatewayErrorResponseBody'
          description: Bad Gateway response.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsFeedServiceUnavailableErrorResponseBody'
          description: Service Unavailable response.
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsFeedGatewayTimeoutErrorResponseBody'
          description: Gateway Timeout response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsFeedBadRequestErrorResponseBody'
          description: Bad Request response.
      summary: '[beta] Get Trailer Stats Feed'
      tags:
      - Fleets
  /beta/fleet/trailers/stats/history:
    get:
      description: "Returns trailer stats during the given time range for all trailers. This can be optionally filtered by tags or specific trailer IDs.\n\n <b>Rate limit:</b> 10 requests/sec (learn more about rate limits <a href=\"https://developers.samsara.com/docs/rate-limits\" target=\"_blank\">here</a>).\n\nTo use this endpoint, select **Read Trailer Statistics** under the Trailers category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team."
      operationId: getTrailerStatsHistory
      parameters:
      - description: ' A start time in RFC 3339 format. Defaults to now if not provided. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).'
        in: query
        name: startTime
        required: true
        schema:
          type: string
      - description: ' An end time in RFC 3339 format. Defaults to now if not provided. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).'
        in: query
        name: endTime
        required: true
        schema:
          type: string
      - description: 'The stat types you want this endpoint to return information on.


          You may list **up to 3** types using comma-separated format. For example: `types=gps,reeferAmbientAirTemperatureMilliC,gpsOdometerMeters`.


          * `gps`: GPS data including lat/long, heading, speed, and a reverse geocode address.

          * `gpsOdometerMeters`: Odometer reading provided by GPS calculations. You must provide a manual odometer reading before this value is updated. Manual odometer readings can be provided via the PATCH /fleet/trailers/{id} endpoint or through the [cloud dashboard](https://kb.samsara.com/hc/en-us/articles/115005273667-Editing-Odometer-Reading). Odometer readings wthat are manually set will update as GPS trip data is gathered.

          * `reeferAmbientAirTemperatureMilliC`: The ambient air temperature reading of the reefer in millidegree Celsius.

          * `reeferObdEngineSeconds`: The cumulative number of seconds the reefer has run according to onboard diagnostics. Only supported on reefer solutions.

          * `reeferSupplyAirTemperatureMilliCZone1`: The supply or discharge air temperature zone 1 in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.

          * `reeferSupplyAirTemperatureMilliCZone2`: The supply or discharge air temperature zone 2 in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferSupplyAirTemperatureMilliCZone3`: The supply or discharge air temperature zone 3 in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferFuelPercent`: The fuel level of the reefer unit in percentage points (e.g. `99`, `50`, etc). Only supported on reefer solutions.

          * `carrierReeferState`: The overall state of the reefer (`Off`, `On`). Only supported on multizone Carrier reefer solutions.

          * `reeferStateZone1`: The state of the reefer in zone 1. For single zone reefers, this applies tot he single zone. Only supported on multizone reefer solutions.

          * `reeferStateZone2`: The state of the reefer in zone 2. Only supported on multizone reefer solutions.

          * `reeferStateZone3`: The state of the reefer in zone 3. Only supported on multizone reefer solutions.

          * `reeferRunMode`: The operational mode of the reefer (`Start/Stop`, `Continuous`)

          * `reeferAlarms`: Any alarms that are present on the reefer. Only supported on reefer solutions.

          * `reeferReturnAirTemperatureMilliCZone1`: The return air temperature in zone 1 of the reefer in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.

          * `reeferReturnAirTemperatureMilliCZone2`: The return air temperature in zone 2 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferReturnAirTemperatureMilliCZone3`: The return air temperature in zone 3 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferSetPointTemperatureMilliCZone1`: The set point temperature in zone 1 of the reefer in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.

          * `reeferSetPointTemperatureMilliCZone2`: The set point temperature in zone 2 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferSetPointTemperatureMilliCZone3`: The set point temperature in zone 3 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferDoorStateZone1`: The door status in zone 1 of the reefer. For single zone reefers, this applies to the single zone.

          * `reeferDoorStateZone2`: The door status in zone 2 of the reefer. Only supported on multizone reefer solutions.

          * `reeferDoorStateZone3`: The door status in zone 3 of the reefer. Only supported on multizone reefer solutions.'
        in: query
        name: types
        required: true
        schema:
          type: string
      - description: ' A filter on the data based on this comma-separated list of tag IDs. Example: `tagIds=1234,5678`'
        in: query
        name: tagIds
        schema:
          type: string
      - description: ' A filter on the data based on this comma-separated list of parent tag IDs, for use by orgs with tag hierarchies. Specifying a parent tag will implicitly include all descendent tags of the parent tag. Example: `parentTagIds=345,678`'
        in: query
        name: parentTagIds
        schema:
          type: string
      - description: ' If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.'
        in: query
        name: after
        schema:
          type: string
      - description: ' A filter on the data based on this comma-separated list of trailer IDs and externalIds. Example: `trailerIds=1234,5678,samsara.vin:1HGBH41JXMN109186`'
        in: query
        name: trailerIds
        schema:
          type: string
      - description: 'Decorations add to the primary stats listed in the `types` parameter. For example, if you wish to know the trailer''s location whenever the odometer updates, you may set `types=gpsOdometerMeters&decorations=gps`.


          You may list **up to 2** types using comma-separated format. If multiple stats are listed in the types parameter, the decorations will be added to each type. For example: `types=reeferStateZone1,reeferAmbientAirTemperatureMilliC,gpsOdometerMeters&decorations=gps` will list GPS decorations for each reeferStateZone1 reading, each reeferAmbientAirTemperatureMilliC reding, and gpsOdometerMeters reading.


          Note that decorations may significantly increase the response payload size.


          * `gps`: GPS data including lat/long, heading, speed, and a reverse geocode address.

          * `gpsOdometerMeters`: Odometer reading provided by GPS calculations. You must provide a manual odometer reading before this value is updated. Manual odometer readings can be provided via the PATCH /fleet/trailers/{id} endpoint or through the [cloud dashboard](https://kb.samsara.com/hc/en-us/articles/115005273667-Editing-Odometer-Reading). Odometer readings wthat are manually set will update as GPS trip data is gathered.

          * `reeferAmbientAirTemperatureMilliC`: The ambient air temperature reading of the reefer in millidegree Celsius.

          * `reeferObdEngineSeconds`: The cumulative number of seconds the reefer has run according to onboard diagnostics. Only supported on reefer solutions.

          * `reeferSupplyAirTemperatureMilliCZone1`: The supply or discharge air temperature zone 1 in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.

          * `reeferSupplyAirTemperatureMilliCZone2`: The supply or discharge air temperature zone 2 in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferSupplyAirTemperatureMilliCZone3`: The supply or discharge air temperature zone 3 in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferFuelPercent`: The fuel level of the reefer unit in percentage points (e.g. `99`, `50`, etc). Only supported on reefer solutions.

          * `carrierReeferState`: The overall state of the reefer (`Off`, `On`). Only supported on multizone Carrier reefer solutions.

          * `reeferStateZone1`: The state of the reefer in zone 1. For single zone reefers, this applies tot he single zone. Only supported on multizone reefer solutions.

          * `reeferStateZone2`: The state of the reefer in zone 2. Only supported on multizone reefer solutions.

          * `reeferStateZone3`: The state of the reefer in zone 3. Only supported on multizone reefer solutions.

          * `reeferRunMode`: The operational mode of the reefer (`Start/Stop`, `Continuous`)

          * `reeferAlarms`: Any alarms that are present on the reefer. Only supported on reefer solutions.

          * `reeferReturnAirTemperatureMilliCZone1`: The return air temperature in zone 1 of the reefer in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.

          * `reeferReturnAirTemperatureMilliCZone2`: The return air temperature in zone 2 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferReturnAirTemperatureMilliCZone3`: The return air temperature in zone 3 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferSetPointTemperatureMilliCZone1`: The set point temperature in zone 1 of the reefer in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.

          * `reeferSetPointTemperatureMilliCZone2`: The set point temperature in zone 2 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferSetPointTemperatureMilliCZone3`: The set point temperature in zone 3 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferDoorStateZone1`: The door status in zone 1 of the reefer. For single zone reefers, this applies to the single zone.

          * `reeferDoorStateZone2`: The door status in zone 2 of the reefer. Only supported on multizone reefer solutions.

          * `reeferDoorStateZone3`: The door status in zone 3 of the reefer. Only supported on multizone reefer solutions.'
        in: query
        name: decorations
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsHistoryResponseBody'
          description: OK response.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsHistoryUnauthorizedErrorResponseBody'
          description: Unauthorized response.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsHistoryNotFoundErrorResponseBody'
          description: Not Found response.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsHistoryMethodNotAllowedErrorResponseBody'
          description: Method Not Allowed response.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsHistoryTooManyRequestsErrorResponseBody'
          description: Too Many Requests response.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsHistoryInternalServerErrorResponseBody'
          description: Internal Server Error response.
        '501':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsHistoryNotImplementedErrorResponseBody'
          description: Not Implemented response.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsHistoryBadGatewayErrorResponseBody'
          description: Bad Gateway response.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsHistoryServiceUnavailableErrorResponseBody'
          description: Service Unavailable response.
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsHistoryGatewayTimeoutErrorResponseBody'
          description: Gateway Timeout response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsHistoryBadRequestErrorResponseBody'
          description: Bad Request response.
      summary: '[beta] Get Trailer Stats History'
      tags:
      - Fleets
  /beta/fleet/vehicles/{id}/immobilizer:
    patch:
      description: "Update the engine immobilizer state of a vehicle. This requires an engine immobilizer to be installed on the vehicle gateway.\n\n <b>Rate limit:</b> 100 requests/min (learn more about rate limits <a href=\"https://developers.samsara.com/docs/rate-limits\" target=\"_blank\">here</a>).\n\nTo use this endpoint, select **Write Vehicle Immobilization** under the Vehicles category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team."
      operationId: updateEngineImmobilizerState
      parameters:
      - description: Vehicle ID
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EngineImmobilizerUpdateEngineImmobilizerStateRequestBody'
        required: true
      responses:
        '202':
          content: {}
          description: Accepted response.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngineImmobilizerUpdateEngineImmobilizerStateUnauthorizedErrorResponseBody'
          description: Unauthorized response.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngineImmobilizerUpdateEngineImmobilizerStateNotFoundErrorResponseBody'
          description: Not Found response.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngineImmobilizerUpdateEngineImmobilizerStateMethodNotAllowedErrorResponseBody'
          description: Method Not Allowed response.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngineImmobilizerUpdateEngineImmobilizerStateTooManyRequestsErrorResponseBody'
          description: Too Many Requests response.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngineImmobilizerUpdateEngineImmobilizerStateInternalServerErrorResponseBody'
          description: Internal Server Error response.
        '501':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngineImmobilizerUpdateEngineImmobilizerStateNotImplementedErrorResponseBody'
          description: Not Implemented response.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngineImmobilizerUpdateEngineImmobilizerStateBadGatewayErrorResponseBody'
          description: Bad Gateway response.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngineImmobilizerUpdateEngineImmobilizerStateServiceUnavailableErrorResponseBody'
          description: Service Unavailable response.
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngineImmobilizerUpdateEngineImmobilizerStateGatewayTimeoutErrorResponseBody'
          description: Gateway Timeout response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngineImmobilizerUpdateEngineImmobilizerStateBadRequestErrorResponseBody'
          description: Bad Request response.
      summary: '[beta] Update Engine Immobilizer State of a Vehicle.'
      tags:
      - Fleets
      x-codegen-request-body-name: UpdateEngineImmobilizerStateRequestBody
components:
  schemas:
    HosEldEventsGetHosEldEventsBadGatewayErrorResponseBody:
      description: Bad Gateway
      properties:
        message:
          description: Message of error
          example: 'rpc error: code = Unknown desc = connection refused'
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    EquipmentPatchEquipmentBadGatewayErrorResponseBody:
      description: Bad Gateway
      properties:
        message:
          description: Message of error
          example: 'rpc error: code = Unknown desc = connection refused'
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatReeferDoorStateZone1WithDecorationsTypeResponseBody:
      description: Door stats that have been emitted by the reefer.
      properties:
        decorations:
          $ref: '#/components/schemas/TrailerStatDecorationResponseBody'
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: 'The door state of zone 2 of the reefer.  Valid values: `open`, `closed`'
          enum:
          - open
          - closed
          example: closed
          type: string
      required:
      - time
      - value
      type: object
    HosEldEventsGetHosEldEventsNotImplementedErrorResponseBody:
      description: Requested endpoint is not yet implemented
      properties:
        message:
          description: Message of error
          example: Not implemented.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    EquipmentPatchEquipmentRequestBody:
      properties:
        attributes:
          description: List of attributes associated with the entity
          items:
            $ref: '#/components/schemas/GoaAttributeTiny'
          type: array
        engineHours:
          description: When you provide a manual engine hours override, Samsara will begin updating a equipment's engine hours used since this override was set.
          example: 1234
          format: int64
          type: integer
        equipmentSerialNumber:
          description: The serial number of the equipment.
          example: 8V8WD530FLN016251
          type: string
        externalIds:
          additionalProperties:
            type: string
          description: A map of external ids
          type: object
        id:
          description: The unique Samsara ID of the Equipment. This is automatically generated when the Equipment object is created. It cannot be changed.
          example: '494123'
          type: string
        name:
          description: The human-readable name of the Equipment. This is set by a fleet administrator and will appear in both Samsaras cloud dashboard as well as the Samsara Driver mobile app. By default, this name is the serial number of the Samsara Asset Gateway. It can be set or updated through the Samsara Dashboard or through the API at any time.
          example: Equipment-123
          type: string
        notes:
          description: These are generic notes about the Equipment. Empty by default. Can be set or updated through the Samsara Dashboard or the API at any time.
          example: These are my equipment notes
          maxLength: 255
          type: string
        odometerMeters:
          description: When you provide a manual odometer override, Samsara will begin updating a equipment's odometer using GPS distance traveled since this override was set.
          example: 1234
          format: int64
          type: integer
        tagIds:
          description: 'An array of IDs of tags to associate with this equipment. If your access to the API is scoped by one or more tags, this field is required to pass in. '
          example:
          - Porro dolor provident consequatur est.
          - Aperiam consequatur laborum magnam illum a veniam.
          items:
            example: Corporis aut quas.
            type: string
          type: array
      type: object
    TrailerStatReeferRunModeTypeResponseBody:
      description: The run mode of the reefer.
      properties:
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The operational mode of the reefer.
          example: '`Start/Stop`,`Continuous`'
          type: string
      required:
      - time
      - value
      type: object
    TrailerStatReeferSetPointTemperatureMilliCZone2WithDecorationsTypeResponseBody:
      description: Set point temperature of zone 2 of the reefer.
      properties:
        decorations:
          $ref: '#/components/schemas/TrailerStatDecorationResponseBody'
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The set point temperature reading in millidegree Celsius.
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    TrailerStatsGetTrailerStatsHistoryNotFoundErrorResponseBody:
      description: Resource not found
      properties:
        message:
          description: Message of error
          example: Object not found.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatsGetTrailerStatsSnapshotBadRequestErrorResponseBody:
      description: Bad Request parameters
      properties:
        message:
          description: Message of error
          example: Invalid value for parameter.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    standardErrorResponse:
      description: Error response
      properties:
        message:
          description: The message of the error.
          example: An error has occurred.
          type: string
        requestId:
          description: The ID of the request.
          example: 8916e1c1
          type: string
      type: object
    EngineImmobilizerUpdateEngineImmobilizerStateServiceUnavailableErrorResponseBody:
      description: Service unavailable
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatsGetTrailerStatsHistoryNotImplementedErrorResponseBody:
      description: Requested endpoint is not yet implemented
      properties:
        message:
          description: Message of error
          example: Not implemented.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatsSnapshotObjectResponseBody:
      description: A trailer and its stats
      properties:
        carrierReeferState:
          $ref: '#/components/schemas/TrailerStatReeferStateTypeResponseBody'
        gps:
          $ref: '#/components/schemas/TrailerStatGpsTypeResponseBody'
        gpsOdometerMeters:
          $ref: '#/components/schemas/TrailerStatGpsOdometerMetersTypeResponseBody'
        id:
          description: ID of the trailer.
          example: '1234'
          type: string
        name:
          description: Name of the vehicle.
          example: Trailer-123
          type: string
        reeferAlarms:
          $ref: '#/components/schemas/TrailerStatReeferAlarmTypeResponseBody'
        reeferAmbientAirTemperatureMilliC:
          $ref: '#/components/schemas/TrailerStatReeferAmbientAirTemperatureMilliCTypeResponseBody'
        reeferDoorStateZone1:
          $ref: '#/components/schemas/TrailerStatReeferDoorStateZone1TypeResponseBody'
        reeferDoorStateZone2:
          $ref: '#/components/schemas/TrailerStatReeferDoorStateZone2TypeResponseBody'
        reeferDoorStateZone3:
          $ref: '#/components/schemas/TrailerStatReeferDoorStateZone3TypeResponseBody'
        reeferFuelPercent:
          $ref: '#/components/schemas/TrailerStatReeferFuelPercentTypeResponseBody'
        reeferObdEngineSeconds:
          $ref: '#/components/schemas/TrailerStatReeferObdEngineSecondsTypeResponseBody'
        reeferReturnAirTemperatureMilliCZone1:
          $ref: '#/components/schemas/TrailerStatReeferReturnAirTemperatureMilliCZone1TypeResponseBody'
        reeferReturnAirTemperatureMilliCZone2:
          $ref: '#/components/schemas/TrailerStatReeferReturnAirTemperatureMilliCZone2TypeResponseBody'
        reeferReturnAirTemperatureMilliCZone3:
          $ref: '#/components/schemas/TrailerStatReeferReturnAirTemperatureMilliCZone3TypeResponseBody'
        reeferRunMode:
          $ref: '#/components/schemas/TrailerStatReeferRunModeTypeResponseBody'
        reeferSetPointTemperatureMilliCZone1:
          $ref: '#/components/schemas/TrailerStatReeferSetPointTemperatureMilliCZone1TypeResponseBody'
        reeferSetPointTemperatureMilliCZone2:
          $ref: '#/components/schemas/TrailerStatReeferSetPointTemperatureMilliCZone2TypeResponseBody'
        reeferSetPointTemperatureMilliCZone3:
          $ref: '#/components/schemas/TrailerStatReeferSetPointTemperatureMilliCZone3TypeResponseBody'
        reeferStateZone1:
          $ref: '#/components/schemas/TrailerStatReeferStateZone1TypeResponseBody'
        reeferStateZone2:
          $ref: '#/components/schemas/TrailerStatReeferStateZone2TypeResponseBody'
        reeferStateZone3:
          $ref: '#/components/schemas/TrailerStatReeferStateZone3TypeResponseBody'
        reeferSupplyAirTemperatureMilliCZone1:
          $ref: '#/components/schemas/TrailerStatReeferSupplyAirTemperatureMilliCZone1TypeResponseBody'
        reeferSupplyAirTemperatureMilliCZone2:
          $ref: '#/components/schemas/TrailerStatReeferSupplyAirTemperatureMilliCZone2TypeResponseBody'
        reeferSupplyAirTemperatureMilliCZone3:
          $ref: '#/components/schemas/TrailerStatReeferSupplyAirTemperatureMilliCZone3TypeResponseBody'
      required:
      - id
      - name
      type: object
    EngineImmobilizerUpdateEngineImmobilizerStateUnauthorizedErrorResponseBody:
      description: Unauthorized
      properties:
        message:
          description: Message of error
          example: Invalid token.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatReeferAmbientAirTemperatureWithDecorationsTypeResponseBody:
      description: Reefer ambient air temperature reading.
      properties:
        decorations:
          $ref: '#/components/schemas/TrailerStatDecorationResponseBody'
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The ambient air temperature reading of the reefer in millidegree Celsius.
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    GreenBandDrivingDurationMs:
      description: Time in efficient RPM (800 to 17000) in milliseconds.
      type: number
    TrailerStatReeferObdEngineSecondsWithDecorationsTypeResponseBody:
      description: Reefer onboard engine seconds reading.
      properties:
        decorations:
          $ref: '#/components/schemas/TrailerStatDecorationResponseBody'
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The number of seconds the reefer has been on according to the onboard diagnostics.
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    TrailerStatReeferStateZone2TypeResponseBody:
      description: Reefer state event.
      properties:
        substateValue:
          description: The substate zone 2 of the reefer, if available.
          example: '`Pretrip`, `Defrost`'
          type: string
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The state zone 2 of the reefer.
          example: '`Off`, `On`'
          type: string
      required:
      - time
      - value
      type: object
    GoaVehicleTinyResponseResponseBody:
      description: A minified vehicle object. This object is only returned if the route is assigned to the vehicle.
      properties:
        externalIds:
          additionalProperties:
            type: string
          description: A map of external ids
          type: object
        id:
          description: ID of the vehicle
          example: '494123'
          type: string
        name:
          description: Name of the vehicle
          example: 'Fleet Truck #1'
          type: string
      type: object
    GoaAttributeTinyResponseBody:
      description: Attribute properties.
      properties:
        id:
          description: Id of the attribute
          example: '494123'
          type: string
        name:
          description: Name of the attribute
          example: Compliance/ELD
          type: string
        numberValues:
          description: List of number values associated with the attribute
          example:
          - 867
          - 5309
          items:
            example: 0.7405685598633346
            format: double
            type: number
          type: array
        stringValues:
          description: List of string values associated with the attribute.
          example:
          - HQ
          - Leased
          items:
            example: Tempora dolorum placeat.
            type: string
          type: array
      type: object
    EngineImmobilizerUpdateEngineImmobilizerStateGatewayTimeoutErrorResponseBody:
      description: Gateway timeout
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatReeferDoorStateZone3WithDecorationsTypeResponseBody:
      description: Door stats that have been emitted by the reefer.
      properties:
        decorations:
          $ref: '#/components/schemas/TrailerStatDecorationResponseBody'
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: 'The door state of zone 2 of the reefer.  Valid values: `open`, `closed`'
          enum:
          - open
          - closed
          example: closed
          type: string
      required:
      - time
      - value
      type: object
    paginationResponse:
      description: Pagination parameters.
      properties:
        endCursor:
          description: Cursor identifier representing the last element in the response. This value should be used in conjunction with a subsequent request's 'after' query parameter. This may be an empty string if there are no more pages left to view.
          example: MjkY
          format: string
          type: string
        hasNextPage:
          description: True if there are more pages of results immediately available after this endCursor.
          example: true
          type: boolean
      required:
      - endCursor
      - hasNextPage
      type: object
    TrailerStatReeferAmbientAirTemperatureMilliCTypeResponseBody:
      description: Reefer ambient air temperature reading.
      properties:
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The ambient air temperature reading of the reefer in millidegree Celsius.
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    TrailerStatDecorationResponseBody:
      description: Decorated values for the primary trailer stat datapoints.
      properties:
        carrierReeferState:
          $ref: '#/components/schemas/TrailerStatReeferStateTypeResponseBody'
        gps:
          $ref: '#/components/schemas/TrailerStatGpsTypeResponseBody'
        gpsOdometerMeters:
          $ref: '#/components/schemas/TrailerStatGpsOdometerMetersTypeResponseBody'
        reeferAlarms:
          $ref: '#/components/schemas/TrailerStatReeferAlarmTypeResponseBody'
        reeferAmbientAirTemperatureMilliC:
          $ref: '#/components/schemas/TrailerStatReeferAmbientAirTemperatureMilliCTypeResponseBody'
        reeferDoorStateZone1:
          $ref: '#/components/schemas/TrailerStatReeferDoorStateZone1TypeResponseBody'
        reeferDoorStateZone2:
          $ref: '#/components/schemas/TrailerStatReeferDoorStateZone2TypeResponseBody'
        reeferDoorStateZone3:
          $ref: '#/components/schemas/TrailerStatReeferDoorStateZone3TypeResponseBody'
        reeferFuelPercent:
          $ref: '#/components/schemas/TrailerStatReeferFuelPercentTypeResponseBody'
        reeferObdEngineSeconds:
          $ref: '#/components/schemas/TrailerStatReeferObdEngineSecondsTypeResponseBody'
        reeferReturnAirTemperatureMilliCZone1:
          $ref: '#/components/schemas/TrailerStatReeferReturnAirTemperatureMilliCZone1TypeResponseBody'
        reeferReturnAirTemperatureMilliCZone2:
          $ref: '#/components/schemas/TrailerStatReeferReturnAirTemperatureMilliCZone2TypeResponseBody'
        reeferReturnAirTemperatureMilliCZone3:
          $ref: '#/components/schemas/TrailerStatReeferReturnAirTemperatureMilliCZone3TypeResponseBody'
        reeferRunMode:
          $ref: '#/components/schemas/TrailerStatReeferRunModeTypeResponseBody'
        reeferSetPointTemperatureMilliCZone1:
          $ref: '#/components/schemas/TrailerStatReeferSetPointTemperatureMilliCZone1TypeResponseBody'
        reeferSetPointTemperatureMilliCZone2:
          $ref: '#/components/schemas/TrailerStatReeferSetPointTemperatureMilliCZone2TypeResponseBody'
        reeferSetPointTemperatureMilliCZone3:
          $ref: '#/components/schemas/TrailerStatReeferSetPointTemperatureMilliCZone3TypeResponseBody'
        reeferStateZone1:
          $ref: '#/components/schemas/TrailerStatReeferStateZone1TypeResponseBody'
        reeferStateZone2:
          $ref: '#/components/schemas/TrailerStatReeferStateZone2TypeResponseBody'
        reeferStateZone3:
          $ref: '#/components/schemas/TrailerStatReeferStateZone3TypeResponseBody'
        reeferSupplyAirTemperatureMilliCZone1:
          $ref: '#/components/schemas/TrailerStatReeferSupplyAirTemperatureMilliCZone1TypeResponseBody'
        reeferSupplyAirTemperatureMilliCZone2:
          $ref: '#/components/schemas/TrailerStatReeferSupplyAirTemperatureMilliCZone2TypeResponseBody'
        reeferSupplyAirTemperatureMilliCZone3:
          $ref: '#/components/schemas/TrailerStatReeferSupplyAirTemperatureMilliCZone3TypeResponseBody'
      type: object
    TrailerStatReeferFuelPercentTypeResponseBody:
      description: The fuel percentage of the reefer.
      properties:
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The fuel level in percentage points (e.g. `99`, `50`, etc).
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    TrailerStatsGetTrailerStatsSnapshotNotImplementedErrorResponseBody:
      description: Requested endpoint is not yet implemented
      properties:
        message:
          description: Message of error
          example: Not implemented.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    HosEldEventsGetHosEldEventsUnauthorizedErrorResponseBody:
      description: Unauthorized
      properties:
        message:
          description: Message of error
          example: Invalid token.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatsGetTrailerStatsSnapshotResponseBody:
      properties:
        data:
          description: List of trailers and their stats
          items:
            $ref: '#/components/schemas/TrailerStatsSnapshotObjectResponseBody'
          type: array
        pagination:
          $ref: '#/components/schemas/GoaPaginationResponseResponseBody'
      required:
      - data
      - pagination
      type: object
    TrailerStatReeferDoorStateZone2WithDecorationsTypeResponseBody:
      description: Door stats that have been emitted by the reefer.
      properties:
        decorations:
          $ref: '#/components/schemas/TrailerStatDecorationResponseBody'
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: 'The door state of zone 2 of the reefer.  Valid values: `open`, `closed`'
          enum:
          - open
          - closed
          example: closed
          type: string
      required:
      - time
      - value
      type: object
    PowerTakeOffDurationMs:
      description: Time spent with power take off enabled while idling in milliseconds.
      type: number
    TrailerStatsGetTrailerStatsFeedBadRequestErrorResponseBody:
      description: Bad Request parameters
      properties:
        message:
          description: Message of error
          example: Invalid value for parameter.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DriverEfficiency:
      description: Summary of a driver's efficiency.
      properties:
        anticipationBrakeEventCount:
          $ref: '#/components/schemas/AnticipationBrakeEventCount'
        coastingDurationMs:
          $ref: '#/components/schemas/CoastingDurationMs'
        cruiseControlDurationMs:
          $ref: '#/components/schemas/CruiseControlDurationMs'
        driver:
          $ref: '#/components/schemas/ExtendedDriverTinyResponse'
        greenBandDrivingDurationMs:
          $ref: '#/components/schemas/GreenBandDrivingDurationMs'
        highTorqueMs:
          $ref: '#/components/schemas/HighTorqueMs'
        overSpeedMs:
          $ref: '#/components/schemas/OverSpeedMs'
        totalBrakeEventCount:
          $ref: '#/components/schemas/TotalBrakeEventCount'
        totalDistanceDrivenMeters:
          $ref: '#/components/schemas/DistanceDrivenMeters'
        totalDriveTimeDurationMs:
          $ref: '#/components/schemas/DriveTimeDurationMs'
        totalFuelConsumedMl:
          $ref: '#/components/schemas/FuelConsumedMl'
        totalIdleTimeDurationMs:
          $ref: '#/components/schemas/IdleTimeDurationMs'
        totalPowerTakeOffDurationMs:
          $ref: '#/components/schemas/PowerTakeOffDurationMs'
        vehicleSummaries:
          description: Summaries of vehicle efficiency for each vehicle the driver was driving during the given time period.
          items:
            $ref: '#/components/schemas/VehicleSummary'
          type: array
      type: object
    EngineImmobilizerUpdateEngineImmobilizerStateMethodNotAllowedErrorResponseBody:
      description: Method not allowed
      properties:
        message:
          description: Message of error
          example: DELETE not allowed on /endpoint.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatsGetTrailerStatsFeedMethodNotAllowedErrorResponseBody:
      description: Method not allowed
      properties:
        message:
          description: Message of error
          example: DELETE not allowed on /endpoint.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatsGetTrailerStatsFeedBadGatewayErrorResponseBody:
      description: Bad Gateway
      properties:
        message:
          description: Message of error
          example: 'rpc error: code = Unknown desc = connection refused'
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    HosEldEventObjectResponseBody:
      description: An event that refers to a discrete instance in time with various data elements. Depending on the type of event, not every field will be populated. For more information, see the ELD Mandate [section 3.1.2](https://www.ecfr.gov/cgi-bin/retrieveECFR?gp=1&ty=HTML&h=L&mc=true&=PART&n=pt49.5.395#ap49.5.395_138.a).
      properties:
        accumulatedVehicleMeters:
          description: The accumulated meters in the given ignition power on cycle.
          example: 106
          format: int64
          type: integer
        elapsedEngineHours:
          description: The elapsed time in the engine's operation in the given ignition power on cycle.
          example: 284.1
          format: double
          type: number
        eldEventCode:
          description: 'A dependent attribute on `eldEventType` that specifies the nature of the event, as defined in the ELD Mandate [section 7.20](https://www.ecfr.gov/cgi-bin/retrieveECFR?gp=1&ty=HTML&h=L&mc=true&=PART&n=pt49.5.395#ap49.5.395_138.a).  Valid values: `1`, `2`, `3`, `4`, `5`, `6`, `7`, `8`, `9`'
          example: 3
          maximum: 9
          minimum: 1
          type: integer
        eldEventRecordOrigin:
          description: 'An attribute for the event record indicating whether it is automatically recorded, or edited, entered or accepted by the driver, requested by another authenticated user, or assumed from unidentified driver profile, as defined in the ELD Mandate [section 7.22](https://www.ecfr.gov/cgi-bin/retrieveECFR?gp=1&ty=HTML&h=L&mc=true&=PART&n=pt49.5.395#ap49.5.395_138.a).  Valid values: `1`, `2`, `3`, `4`'
          example: 2
          maximum: 4
          minimum: 1
          type: integer
        eldEventRecordStatus:
          description: 'An attribute for the event record indicating whether an event is active or inactive and further, if inactive, whether it is due to a change or lack of confirmation by the driver or due to a driver''s rejection of change request, as defined in the ELD Mandate [section 7.23](https://www.ecfr.gov/cgi-bin/retrieveECFR?gp=1&ty=HTML&h=L&mc=true&=PART&n=pt49.5.395#ap49.5.395_138.a).  Valid values: `1`, `2`, `3`, `4`'
          example: 2
          maximum: 4
          minimum: 1
          type: integer
        eldEventType:
          description: 'An attribute specifying the type of ELD event, as defined in the ELD Mandate [section 7.25](https://www.ecfr.gov/cgi-bin/retrieveECFR?gp=1&ty=HTML&h=L&mc=true&=PART&n=pt49.5.395#ap49.5.395_138.a).  Valid values: `1`, `2`, `3`, `4`, `5`, `6`, `7`'
          example: 6
          maximum: 7
          minimum: 1
          type: integer
        location:
          $ref: '#/components/schemas/HosEldEventLocationObjectResponseBody'
        malfunctionDiagnosticCode:
          description: 'A code that further specifies the underlying malfunction or data diagnostic event, as defined in the ELD Mandate [section 7.34](https://www.ecfr.gov/cgi-bin/retrieveECFR?gp=1&ty=HTML&h=L&mc=true&=PART&n=pt49.5.395#ap49.5.395_138.a).  Valid values: `P`, `E`, `T`, `L`, `R`, `S`, `O`, `1`, `2`, `3`, `4`, `5`, `6`'
          enum:
          - P
          - E
          - T
          - L
          - R
          - S
          - O
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
          - '6'
          example: P
          type: string
        remark:
          $ref: '#/components/schemas/HosEldEventRemarkObjectResponseBody'
        time:
          description: 'A time in RFC 3339 format. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).'
          example: '2019-06-13T19:08:25Z'
          type: string
        totalEngineHours:
          description: The aggregated time of a vehicle's engine's operation since its inception.
          example: 2894.1
          format: double
          type: number
        totalVehicleMeters:
          description: The total meters recorded for the vehicle.
          example: 1004566
          format: int64
          type: integer
        vehicle:
          $ref: '#/components/schemas/GoaVehicleTinyResponseResponseBody'
      required:
      - eldEventCode
      - eldEventType
      - time
      type: object
    EquipmentPatchEquipmentTooManyRequestsErrorResponseBody:
      description: Too many requests
      properties:
        message:
          description: Message of error
          example: Exceeded rate limit.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatReeferSupplyAirTemperatureMilliCZone3TypeResponseBody:
      description: Supply or discharge air temperature of zone 2 of the reefer. This is the temperature of the air as it leaves the cooling unit.
      properties:
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The supply or discharge air temperature reading in millidegree Celsius.
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    GoaPaginationResponseResponseBody:
      description: Pagination parameters.
      properties:
        endCursor:
          description: Cursor identifier representing the last element in the response. This value should be used in conjunction with a subsequent request's 'after' query parameter. This may be an empty string if there are no more pages left to view.
          example: MjkY
          type: string
        hasNextPage:
          description: True if there are more pages of results immediately available after this endCursor.
          example: true
          type: boolean
      required:
      - endCursor
      - hasNextPage
      type: object
    TrailerStatReeferSupplyAirTemperatureMilliCZone1WithDecorationsTypeResponseBody:
      description: Supply or discharge air temperature of zone 2 of the reefer. This is the temperature of the air as it leaves the cooling unit.
      properties:
        decorations:
          $ref: '#/components/schemas/TrailerStatDecorationResponseBody'
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The supply or discharge air temperature reading in millidegree Celsius.
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    TrailerStatGpsOdometerMetersTypeResponseBody:
      description: Trailer GPS odometer event.
      properties:
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: Number of meters the trailer has traveled according to the GPS calculations and the manually specified odometer reading.
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    TrailerStatReeferReturnAirTemperatureMilliCZone3WithDecorationsTypeResponseBody:
      description: Return air temperature of zone 3 of the reefer. This is the temperature of the air as it enters the cooling unit.
      properties:
        decorations:
          $ref: '#/components/schemas/TrailerStatDecorationResponseBody'
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The return air temperature reading in millidegree Celsius.
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    TrailerStatReeferSetPointTemperatureMilliCZone3WithDecorationsTypeResponseBody:
      description: Set point temperature of zone 3 of the reefer.
      properties:
        decorations:
          $ref: '#/components/schemas/TrailerStatDecorationResponseBody'
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The set point temperature reading in millidegree Celsius.
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    TrailerStatReeferSupplyAirTemperatureMilliCZone3WithDecorationsTypeResponseBody:
      description: Supply or discharge air temperature of zone 2 of the reefer. This is the temperature of the air as it leaves the cooling unit.
      properties:
        decorations:
          $ref: '#/components/schemas/TrailerStatDecorationResponseBody'
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The supply or discharge air temperature reading in millidegree Celsius.
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    UpdateEngineImmobilizerRelayStateRequestBodyRequestBody:
      description: A request object to update a relay state.
      properties:
        id:
          description: 'The ID of the relay  Valid values: `relay1`, `relay2`'
          enum:
          - relay1
          - relay2
          example: relay1
          type: string
        isOpen:
          description: The desired state of the relay. Provide `true` to open the relay, or `false` to close the relay.
          example: true
          type: boolean
      required:
      - id
      - isOpen
      type: object
    TrailerStatsGetTrailerStatsHistoryBadGatewayErrorResponseBody:
      description: Bad Gateway
      properties:
        message:
          description: Message of error
          example: 'rpc error: code = Unknown desc = connection refused'
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    GoaGatewayTinyResponseResponseBody:
      description: A minified gateway object
      properties:
        model:
          description: 'The model of the gateway installed on the asset.  Valid values: `AG15`, `AG24`, `AG24EU`, `AG26`, `AG26EU`, `AG41`, `AG41EU`, `AG45`, `AG45EU`, `AG46`, `AG46EU`, `AG46P`, `AG46PEU`, `AG51`, `AG51EU`, `AG52`, `AG52EU`, `AG53`, `AG53EU`, `IG15`, `IG21`, `IG41`, `IG61`, `SG1`, `SG1B`, `SG1G`, `SG1G32`, `SG1x`, `VG32`, `VG33`, `VG34`, `VG34EU`, `VG34FN`, `VG34M`, `VG54ATT`, `VG54EU`, `VG54FN`, `VG54NA`, `VG54NAE`, `VG54NAH`, `VG55EU`, `VG55FN`, `VG55NA`'
          enum:
          - AG15
          - AG24
          - AG24EU
          - AG26
          - AG26EU
          - AG41
          - AG41EU
          - AG45
          - AG45EU
          - AG46
          - AG46EU
          - AG46P
          - AG46PEU
          - AG51
          - AG51EU
          - AG52
          - AG52EU
          - AG53
          - AG53EU
          - IG15
          - IG21
          - IG41
          - IG61
          - SG1
          - SG1B
          - SG1G
          - SG1G32
          - SG1x
          - VG32
          - VG33
          - VG34
          - VG34EU
          - VG34FN
          - VG34M
          - VG54ATT
          - VG54EU
          - VG54FN
          - VG54NA
          - VG54NAE
          - VG54NAH
          - VG55EU
          - VG55FN
          - VG55NA
          example: VG34
          type: string
        serial:
          description: The serial number of the gateway installed on the asset.
          example: GFRV-43N-VGX
          type: string
      required:
      - model
      - serial
      type: object
    HosEldEventsGetHosEldEventsInternalServerErrorResponseBody:
      description: An internal server error occurred
      properties:
        message:
          description: Message of error
          example: Failed to execute GraphQL query.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatReeferStateWithDecorationsTypeResponseBody:
      description: Reefer state event.
      properties:
        decorations:
          $ref: '#/components/schemas/TrailerStatDecorationResponseBody'
        substateValue:
          description: The substate of the multizone carrier reefer, if available.
          example: '`Pretrip`, `Defrost`'
          type: string
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The overall state of the multizone carrier reefer.
          example: '`Off`, `On`'
          type: string
      required:
      - time
      - value
      type: object
    TrailerStatReeferReturnAirTemperatureMilliCZone2WithDecorationsTypeResponseBody:
      description: Return air temperature of zone 2 of the reefer. This is the temperature of the air as it enters the cooling unit.
      properties:
        decorations:
          $ref: '#/components/schemas/TrailerStatDecorationResponseBody'
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The return air temperature reading in millidegree Celsius.
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    EquipmentPatchEquipmentBadRequestErrorResponseBody:
      description: Bad Request parameters
      properties:
        message:
          description: Message of error
          example: Invalid value for parameter.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatReeferStateZone3WithDecorationsTypeResponseBody:
      description: Reefer state event.
      properties:
        decorations:
          $ref: '#/components/schemas/TrailerStatDecorationResponseBody'
        substateValue:
          description: The substate zone 3 of the reefer, if available.
          example: '`Pretrip`, `Defrost`'
          type: string
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The state zone 3 of the reefer.
          example: '`Off`, `On`'
          type: string
      required:
      - time
      - value
      type: object
    TrailerStatsObjectResponseBody:
      description: A trailer and its stats
      properties:
        carrierReeferState:
          description: A list of engine state points.
          items:
[...]
