openapi: 3.0.1
info:
  description: Gain greater visibility by connecting your fleets, equipment, sites, and people.
  title: Samsara Trailer API
  version: '2024-11-18'
servers:
- url: https://api.samsara.com/
- url: https://api.eu.samsara.com/
security:
- AccessTokenHeader: []
tags:
- name: Trailer
paths:
  /driver-trailer-assignments:
    get:
      description: "Get currently active driver-trailer assignments for driver.\n\n <b>Rate limit:</b> 5 requests/sec (learn more about rate limits <a href=\"https://developers.samsara.com/docs/rate-limits\" target=\"_blank\">here</a>).\n\nTo use this endpoint, select **Read Assignments** under the Assignments category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team."
      operationId: getDriverTrailerAssignments
      parameters:
      - description: ' A filter on the data based on this comma-separated list of driver IDs and externalIds. Example: `driverIds=1234,5678,payroll:4841`'
        explode: false
        in: query
        name: driverIds
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: ' If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.'
        in: query
        name: after
        schema:
          type: string
      - description: Optional boolean indicating whether to return external IDs on supported entities
        in: query
        name: includeExternalIds
        schema:
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerAssignmentsGetDriverTrailerAssignmentsResponseBody'
          description: OK response.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerAssignmentsGetDriverTrailerAssignmentsUnauthorizedErrorResponseBody'
          description: Unauthorized response.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerAssignmentsGetDriverTrailerAssignmentsNotFoundErrorResponseBody'
          description: Not Found response.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerAssignmentsGetDriverTrailerAssignmentsMethodNotAllowedErrorResponseBody'
          description: Method Not Allowed response.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerAssignmentsGetDriverTrailerAssignmentsTooManyRequestsErrorResponseBody'
          description: Too Many Requests response.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerAssignmentsGetDriverTrailerAssignmentsInternalServerErrorResponseBody'
          description: Internal Server Error response.
        '501':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerAssignmentsGetDriverTrailerAssignmentsNotImplementedErrorResponseBody'
          description: Not Implemented response.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerAssignmentsGetDriverTrailerAssignmentsBadGatewayErrorResponseBody'
          description: Bad Gateway response.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerAssignmentsGetDriverTrailerAssignmentsServiceUnavailableErrorResponseBody'
          description: Service Unavailable response.
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerAssignmentsGetDriverTrailerAssignmentsGatewayTimeoutErrorResponseBody'
          description: Gateway Timeout response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerAssignmentsGetDriverTrailerAssignmentsBadRequestErrorResponseBody'
          description: Bad Request response.
      summary: '[beta] Get Currently Active Driver-trailer Assignments for Driver.'
      tags:
      - Trailer
    patch:
      description: "Update an existing driver-trailer assignment.\n\n <b>Rate limit:</b> 5 requests/sec (learn more about rate limits <a href=\"https://developers.samsara.com/docs/rate-limits\" target=\"_blank\">here</a>).\n\nTo use this endpoint, select **Write Assignments** under the Assignments category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team."
      operationId: updateDriverTrailerAssignment
      parameters:
      - description: Samsara ID for the assignment.
        in: query
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrailerAssignmentsUpdateDriverTrailerAssignmentRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerAssignmentsUpdateDriverTrailerAssignmentResponseBody'
          description: OK response.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerAssignmentsUpdateDriverTrailerAssignmentUnauthorizedErrorResponseBody'
          description: Unauthorized response.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerAssignmentsUpdateDriverTrailerAssignmentNotFoundErrorResponseBody'
          description: Not Found response.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerAssignmentsUpdateDriverTrailerAssignmentMethodNotAllowedErrorResponseBody'
          description: Method Not Allowed response.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerAssignmentsUpdateDriverTrailerAssignmentTooManyRequestsErrorResponseBody'
          description: Too Many Requests response.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerAssignmentsUpdateDriverTrailerAssignmentInternalServerErrorResponseBody'
          description: Internal Server Error response.
        '501':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerAssignmentsUpdateDriverTrailerAssignmentNotImplementedErrorResponseBody'
          description: Not Implemented response.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerAssignmentsUpdateDriverTrailerAssignmentBadGatewayErrorResponseBody'
          description: Bad Gateway response.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerAssignmentsUpdateDriverTrailerAssignmentServiceUnavailableErrorResponseBody'
          description: Service Unavailable response.
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerAssignmentsUpdateDriverTrailerAssignmentGatewayTimeoutErrorResponseBody'
          description: Gateway Timeout response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerAssignmentsUpdateDriverTrailerAssignmentBadRequestErrorResponseBody'
          description: Bad Request response.
      summary: '[beta] Update an Existing Driver-trailer Assignment.'
      tags:
      - Trailer
      x-codegen-request-body-name: UpdateDriverTrailerAssignmentRequestBody
    post:
      description: "Create a new driver-trailer assignment\n\n <b>Rate limit:</b> 5 requests/sec (learn more about rate limits <a href=\"https://developers.samsara.com/docs/rate-limits\" target=\"_blank\">here</a>).\n\nTo use this endpoint, select **Write Assignments** under the Assignments category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team."
      operationId: createDriverTrailerAssignment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrailerAssignmentsCreateDriverTrailerAssignmentRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerAssignmentsCreateDriverTrailerAssignmentResponseBody'
          description: OK response.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerAssignmentsCreateDriverTrailerAssignmentUnauthorizedErrorResponseBody'
          description: Unauthorized response.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerAssignmentsCreateDriverTrailerAssignmentNotFoundErrorResponseBody'
          description: Not Found response.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerAssignmentsCreateDriverTrailerAssignmentMethodNotAllowedErrorResponseBody'
          description: Method Not Allowed response.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerAssignmentsCreateDriverTrailerAssignmentTooManyRequestsErrorResponseBody'
          description: Too Many Requests response.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerAssignmentsCreateDriverTrailerAssignmentInternalServerErrorResponseBody'
          description: Internal Server Error response.
        '501':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerAssignmentsCreateDriverTrailerAssignmentNotImplementedErrorResponseBody'
          description: Not Implemented response.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerAssignmentsCreateDriverTrailerAssignmentBadGatewayErrorResponseBody'
          description: Bad Gateway response.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerAssignmentsCreateDriverTrailerAssignmentServiceUnavailableErrorResponseBody'
          description: Service Unavailable response.
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerAssignmentsCreateDriverTrailerAssignmentGatewayTimeoutErrorResponseBody'
          description: Gateway Timeout response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerAssignmentsCreateDriverTrailerAssignmentBadRequestErrorResponseBody'
          description: Bad Request response.
      summary: '[beta] Create a New Driver-trailer Assignment'
      tags:
      - Trailer
      x-codegen-request-body-name: CreateDriverTrailerAssignmentRequestBody
components:
  schemas:
    TrailerAssignmentsUpdateDriverTrailerAssignmentRequestBody:
      description: Update a new driver-trailer assignment
      properties:
        endTime:
          description: The end time in RFC 3339 format. The end time should not be in the future
          example: '2019-06-13T19:08:25Z'
          type: string
      required:
      - endTime
      type: object
    TrailerAssignmentsCreateDriverTrailerAssignmentUnauthorizedErrorResponseBody:
      description: Unauthorized
      properties:
        message:
          description: Message of error
          example: Invalid token.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerAssignmentsGetDriverTrailerAssignmentsResponseBody:
      properties:
        data:
          description: List of driver trailer assignment objects and their respective driver and trailer info.
          items:
            $ref: '#/components/schemas/GetDriverTrailerAssignmentsResponseBodyResponseBody'
          type: array
        pagination:
          $ref: '#/components/schemas/GoaPaginationResponseResponseBody'
      required:
      - data
      - pagination
      type: object
    TrailerAssignmentsCreateDriverTrailerAssignmentResponseBody:
      properties:
        data:
          $ref: '#/components/schemas/PostDriverTrailerAssignmentsResponseBodyResponseBody'
      required:
      - data
      type: object
    TrailerAssignmentsCreateDriverTrailerAssignmentServiceUnavailableErrorResponseBody:
      description: Service unavailable
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerAssignmentsCreateDriverTrailerAssignmentBadGatewayErrorResponseBody:
      description: Bad Gateway
      properties:
        message:
          description: Message of error
          example: 'rpc error: code = Unknown desc = connection refused'
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerAssignmentsCreateDriverTrailerAssignmentInternalServerErrorResponseBody:
      description: An internal server error occurred
      properties:
        message:
          description: Message of error
          example: Failed to execute GraphQL query.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerAssignmentsUpdateDriverTrailerAssignmentGatewayTimeoutErrorResponseBody:
      description: Gateway timeout
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    PostDriverTrailerAssignmentsResponseBodyResponseBody:
      description: Response after successfully submitting a Driver Trailer Assignment
      properties:
        createdAtTime:
          description: Time when the driver trailer assignment was created, in RFC 3339 format
          example: '2019-06-13T19:08:25Z'
          type: string
        driverId:
          description: Samsara ID for the driver that this assignment is for.
          example: 0987
          type: string
        id:
          description: Samsara ID for the assignment.
          example: 08b3aeada5f4ab3010c0b4efa28d2d1890dbf8d48d2d6
          type: string
        startTime:
          description: Time when the driver trailer assignment starts, in RFC 3339 format
          example: '2019-06-13T19:08:25Z'
          type: string
        trailerId:
          description: Samsara ID of the trailer
          example: '494123'
          type: string
        updatedAtTime:
          description: Time when the driver trailer assignment was last updated, in RFC 3339 format
          example: '2019-06-13T19:08:25Z'
          type: string
      required:
      - createdAtTime
      - driverId
      - id
      - startTime
      - trailerId
      - updatedAtTime
      type: object
    TrailerAssignmentsGetDriverTrailerAssignmentsInternalServerErrorResponseBody:
      description: An internal server error occurred
      properties:
        message:
          description: Message of error
          example: Failed to execute GraphQL query.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerAssignmentsCreateDriverTrailerAssignmentBadRequestErrorResponseBody:
      description: Bad Request parameters
      properties:
        message:
          description: Message of error
          example: Invalid value for parameter.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    GoaPaginationResponseResponseBody:
      description: Pagination parameters.
      properties:
        endCursor:
          description: Cursor identifier representing the last element in the response. This value should be used in conjunction with a subsequent request's 'after' query parameter. This may be an empty string if there are no more pages left to view.
          example: MjkY
          type: string
        hasNextPage:
          description: True if there are more pages of results immediately available after this endCursor.
          example: true
          type: boolean
      required:
      - endCursor
      - hasNextPage
      type: object
    GetDriverTrailerAssignmentsResponseBodyResponseBody:
      description: Object with driver assignment information and associated driver and trailer information.
      properties:
        createdAtTime:
          description: Time when the driver trailer assignment was created, in RFC 3339 format.
          example: '2019-06-13T19:08:25Z'
          type: string
        driver:
          $ref: '#/components/schemas/DriverWithExternalIdObjectResponseBody'
        endTime:
          description: Time when the driver trailer assignment will end, in RFC 3339 format.
          example: '2019-06-13T20:10:25Z'
          type: string
        id:
          description: Samsara ID of the driver trailer assignment.
          example: 08b3aeada5f4ab3010c0b4efa28d2d1890dbf8d48d2d6
          type: string
        startTime:
          description: Time when the driver trailer assignment starts, in RFC 3339 format.
          example: '2019-06-13T19:08:25Z'
          type: string
        trailer:
          $ref: '#/components/schemas/TrailerObjectResponseBody'
        updatedAtTime:
          description: Time when the driver trailer assignment was last updated, in RFC 3339 format.
          example: '2019-06-13T19:10:25Z'
          type: string
      required:
      - driver
      - id
      - startTime
      - trailer
      type: object
    TrailerAssignmentsGetDriverTrailerAssignmentsServiceUnavailableErrorResponseBody:
      description: Service unavailable
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerAssignmentsGetDriverTrailerAssignmentsMethodNotAllowedErrorResponseBody:
      description: Method not allowed
      properties:
        message:
          description: Message of error
          example: DELETE not allowed on /endpoint.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerAssignmentsUpdateDriverTrailerAssignmentMethodNotAllowedErrorResponseBody:
      description: Method not allowed
      properties:
        message:
          description: Message of error
          example: DELETE not allowed on /endpoint.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerAssignmentsCreateDriverTrailerAssignmentNotImplementedErrorResponseBody:
      description: Requested endpoint is not yet implemented
      properties:
        message:
          description: Message of error
          example: Not implemented.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerObjectResponseBody:
      description: A trailer asset object associate with the assigment.
      properties:
        trailerId:
          description: Samsara ID of the trailer.
          example: '494123'
          type: string
      required:
      - trailerId
      type: object
    TrailerAssignmentsUpdateDriverTrailerAssignmentBadRequestErrorResponseBody:
      description: Bad Request parameters
      properties:
        message:
          description: Message of error
          example: Invalid value for parameter.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerAssignmentsCreateDriverTrailerAssignmentMethodNotAllowedErrorResponseBody:
      description: Method not allowed
      properties:
        message:
          description: Message of error
          example: DELETE not allowed on /endpoint.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerAssignmentsGetDriverTrailerAssignmentsBadGatewayErrorResponseBody:
      description: Bad Gateway
      properties:
        message:
          description: Message of error
          example: 'rpc error: code = Unknown desc = connection refused'
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerAssignmentsGetDriverTrailerAssignmentsUnauthorizedErrorResponseBody:
      description: Unauthorized
      properties:
        message:
          description: Message of error
          example: Invalid token.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerAssignmentsCreateDriverTrailerAssignmentTooManyRequestsErrorResponseBody:
      description: Too many requests
      properties:
        message:
          description: Message of error
          example: Exceeded rate limit.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerAssignmentsGetDriverTrailerAssignmentsGatewayTimeoutErrorResponseBody:
      description: Gateway timeout
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerAssignmentsGetDriverTrailerAssignmentsBadRequestErrorResponseBody:
      description: Bad Request parameters
      properties:
        message:
          description: Message of error
          example: Invalid value for parameter.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerAssignmentsCreateDriverTrailerAssignmentNotFoundErrorResponseBody:
      description: Resource not found
      properties:
        message:
          description: Message of error
          example: Object not found.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerAssignmentsCreateDriverTrailerAssignmentGatewayTimeoutErrorResponseBody:
      description: Gateway timeout
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerAssignmentsUpdateDriverTrailerAssignmentBadGatewayErrorResponseBody:
      description: Bad Gateway
      properties:
        message:
          description: Message of error
          example: 'rpc error: code = Unknown desc = connection refused'
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerAssignmentsUpdateDriverTrailerAssignmentTooManyRequestsErrorResponseBody:
      description: Too many requests
      properties:
        message:
          description: Message of error
          example: Exceeded rate limit.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DriverWithExternalIdObjectResponseBody:
      description: A driver object with an id and map of external ids.
      properties:
        driverId:
          description: Samsara ID of the driver.
          example: 0987
          type: string
        externalIds:
          additionalProperties:
            type: string
          description: A map of external ids
          type: object
      required:
      - driverId
      type: object
    TrailerAssignmentsUpdateDriverTrailerAssignmentInternalServerErrorResponseBody:
      description: An internal server error occurred
      properties:
        message:
          description: Message of error
          example: Failed to execute GraphQL query.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerAssignmentsGetDriverTrailerAssignmentsNotFoundErrorResponseBody:
      description: Resource not found
      properties:
        message:
          description: Message of error
          example: Object not found.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerAssignmentsUpdateDriverTrailerAssignmentResponseBody:
      properties:
        data:
          $ref: '#/components/schemas/PatchDriverTrailerAssignmentsResponseBodyResponseBody'
      required:
      - data
      type: object
    TrailerAssignmentsGetDriverTrailerAssignmentsNotImplementedErrorResponseBody:
      description: Requested endpoint is not yet implemented
      properties:
        message:
          description: Message of error
          example: Not implemented.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerAssignmentsUpdateDriverTrailerAssignmentNotImplementedErrorResponseBody:
      description: Requested endpoint is not yet implemented
      properties:
        message:
          description: Message of error
          example: Not implemented.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerAssignmentsGetDriverTrailerAssignmentsTooManyRequestsErrorResponseBody:
      description: Too many requests
      properties:
        message:
          description: Message of error
          example: Exceeded rate limit.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerAssignmentsCreateDriverTrailerAssignmentRequestBody:
      description: Create a new driver-trailer assignment
      properties:
        driverId:
          description: ID of the driver. This can be either a unique Samsara ID or an [external ID](https://developers.samsara.com/docs/external-ids) for the driver.
          example: '494123'
          type: string
        startTime:
          description: The start time in RFC 3339 format. The time needs to be current or within the past 7 days. Defaults to now if not provided
          example: '2019-06-13T19:08:25Z'
          type: string
        trailerId:
          description: ID of the trailer. This can be either a unique Samsara ID or an [external ID](https://developers.samsara.com/docs/external-ids) for the trailer.
          example: '12345'
          type: string
      required:
      - driverId
      - trailerId
      type: object
    TrailerAssignmentsUpdateDriverTrailerAssignmentUnauthorizedErrorResponseBody:
      description: Unauthorized
      properties:
        message:
          description: Message of error
          example: Invalid token.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerAssignmentsUpdateDriverTrailerAssignmentServiceUnavailableErrorResponseBody:
      description: Service unavailable
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    PatchDriverTrailerAssignmentsResponseBodyResponseBody:
      description: Response after successfully updating a Driver Trailer Assignment
      properties:
        createdAtTime:
          description: Time when the driver trailer assignment was created, in RFC 3339 format
          example: '2019-06-13T19:08:25Z'
          type: string
        driverId:
          description: Samsara ID for the driver that this assignment is for.
          example: 0987
          type: string
        endTime:
          description: Time when the driver trailer assignment ends, in RFC 3339 format
          example: '2019-06-13T19:08:25Z'
          type: string
        id:
          description: Samsara ID for the assignment.
          example: 08b3aeada5f4ab3010c0b4efa28d2d1890dbf8d48d2d6
          type: string
        startTime:
          description: Time when the driver trailer assignment starts, in RFC 3339 format
          example: '2019-06-13T19:08:25Z'
          type: string
        trailerId:
          description: Samsara ID of the trailer
          example: '494123'
          type: string
        updatedAtTime:
          description: Time when the driver trailer assignment was last updated, in RFC 3339 format
          example: '2019-06-13T19:08:25Z'
          type: string
      required:
      - driverId
      - endTime
      - id
      - startTime
      - trailerId
      type: object
    TrailerAssignmentsUpdateDriverTrailerAssignmentNotFoundErrorResponseBody:
      description: Resource not found
      properties:
        message:
          description: Message of error
          example: Object not found.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
  securitySchemes:
    AccessTokenHeader:
      type: http
      scheme: bearer
x-original-swagger-version: '2.0'
x-readme:
  explorer-enabled: true
  proxy-enabled: true
