openapi: 3.0.1
info:
  description: Gain greater visibility by connecting your fleets, equipment, sites, and people.
  title: Samsara Stream API
  version: '2024-11-18'
servers:
- url: https://api.samsara.com/
- url: https://api.eu.samsara.com/
security:
- AccessTokenHeader: []
tags:
- name: Stream
paths:
  /assets/location-and-speed/stream:
    get:
      description: "This endpoint will return asset locations and speed data that has been collected for your organization based on the time parameters passed in. Results are paginated. If you include an endTime, the endpoint will return data up until that point. If you dont include an endTime, you can continue to poll the API real-time with the pagination cursor that gets returned on every call. The endpoint will only return data up until the endTime that has been processed by the server at the time of the original request. You will need to request the same [startTime, endTime) range again to receive data for assets processed after the original request time. This endpoint sorts the time-series data by device.\n\n <b>Rate limit:</b> 10 requests/sec (learn more about rate limits <a href=\"https://developers.samsara.com/docs/rate-limits\" target=\"_blank\">here</a>).\n\nTo use this endpoint, select **Read Vehicles** under the Vehicles category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team."
      operationId: getLocationAndSpeed
      parameters:
      - description: ' If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.'
        in: query
        name: after
        schema:
          type: string
      - description: The limit for how many objects will be in the response. Default and max for this value is 512 objects.
        in: query
        name: limit
        schema:
          default: 512
          maximum: 512
          minimum: 1
          type: integer
      - description: ' A start time in RFC 3339 format. Defaults to now if not provided. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).'
        in: query
        name: startTime
        schema:
          type: string
      - description: ' An end time in RFC 3339 format. Defaults to never if not provided; if not provided then pagination will not cease, and a valid pagination cursor will always be returned. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).'
        in: query
        name: endTime
        schema:
          type: string
      - description: Comma-separated list of asset IDs.
        explode: false
        in: query
        name: ids
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Optional boolean indicating whether or not to return the 'speed' object
        in: query
        name: includeSpeed
        schema:
          type: boolean
      - description: Optional boolean indicating whether or not to return the 'address' object
        in: query
        name: includeReverseGeo
        schema:
          type: boolean
      - description: Optional boolean indicating whether or not to return the 'geofence' object
        in: query
        name: includeGeofenceLookup
        schema:
          type: boolean
      - description: Optional boolean indicating whether to return external IDs on supported entities
        in: query
        name: includeExternalIds
        schema:
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationAndSpeedGetLocationAndSpeedResponseBody'
          description: OK response.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationAndSpeedGetLocationAndSpeedUnauthorizedErrorResponseBody'
          description: Unauthorized response.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationAndSpeedGetLocationAndSpeedNotFoundErrorResponseBody'
          description: Not Found response.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationAndSpeedGetLocationAndSpeedMethodNotAllowedErrorResponseBody'
          description: Method Not Allowed response.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationAndSpeedGetLocationAndSpeedTooManyRequestsErrorResponseBody'
          description: Too Many Requests response.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationAndSpeedGetLocationAndSpeedInternalServerErrorResponseBody'
          description: Internal Server Error response.
        '501':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationAndSpeedGetLocationAndSpeedNotImplementedErrorResponseBody'
          description: Not Implemented response.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationAndSpeedGetLocationAndSpeedBadGatewayErrorResponseBody'
          description: Bad Gateway response.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationAndSpeedGetLocationAndSpeedServiceUnavailableErrorResponseBody'
          description: Service Unavailable response.
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationAndSpeedGetLocationAndSpeedGatewayTimeoutErrorResponseBody'
          description: Gateway Timeout response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationAndSpeedGetLocationAndSpeedBadRequestErrorResponseBody'
          description: Bad Request response.
      summary: List Asset Location and Speed Data in an Organization.
      tags:
      - Stream
  /defects/stream:
    get:
      description: "Stream DVIR defects.\n\n <b>Rate limit:</b> 5 requests/sec (learn more about rate limits <a href=\"https://developers.samsara.com/docs/rate-limits\" target=\"_blank\">here</a>).\n\nTo use this endpoint, select **Read Defects** under the Maintenance category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team."
      operationId: streamDefects
      parameters:
      - description: ' If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.'
        in: query
        name: after
        schema:
          type: string
      - description: The limit for how many objects will be in the response. Default and max for this value is 200 objects.
        in: query
        name: limit
        schema:
          default: 200
          maximum: 200
          minimum: 1
          type: integer
      - description: Required RFC 3339 timestamp to begin the feed or history by `updatedAtTime` at `startTime`.
        in: query
        name: startTime
        required: true
        schema:
          type: string
      - description: Optional RFC 3339 timestamp. If not provided then the endpoint behaves as an unending feed of changes.
        in: query
        name: endTime
        schema:
          type: string
      - description: Optional boolean indicating whether to return external IDs on supported entities
        in: query
        name: includeExternalIds
        schema:
          type: boolean
      - description: Boolean value for whether filter defects by resolved status.
        in: query
        name: isResolved
        schema:
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DvirDefectStreamDefectsResponseBody'
          description: OK response.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DvirDefectStreamDefectsUnauthorizedErrorResponseBody'
          description: Unauthorized response.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DvirDefectStreamDefectsNotFoundErrorResponseBody'
          description: Not Found response.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DvirDefectStreamDefectsMethodNotAllowedErrorResponseBody'
          description: Method Not Allowed response.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DvirDefectStreamDefectsTooManyRequestsErrorResponseBody'
          description: Too Many Requests response.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DvirDefectStreamDefectsInternalServerErrorResponseBody'
          description: Internal Server Error response.
        '501':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DvirDefectStreamDefectsNotImplementedErrorResponseBody'
          description: Not Implemented response.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DvirDefectStreamDefectsBadGatewayErrorResponseBody'
          description: Bad Gateway response.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DvirDefectStreamDefectsServiceUnavailableErrorResponseBody'
          description: Service Unavailable response.
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DvirDefectStreamDefectsGatewayTimeoutErrorResponseBody'
          description: Gateway Timeout response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DvirDefectStreamDefectsBadRequestErrorResponseBody'
          description: Bad Request response.
      summary: Stream DVIR Defects.
      tags:
      - Stream
  /dvirs/stream:
    get:
      description: "Returns a history/feed of changed DVIRs by updatedAtTime between startTime and endTime parameters. In case of missing `endTime` parameter it will return a never ending stream of data.\n\n <b>Rate limit:</b> 5 requests/sec (learn more about rate limits <a href=\"https://developers.samsara.com/docs/rate-limits\" target=\"_blank\">here</a>).\n\nTo use this endpoint, select **Read DVIRs** under the Maintenance category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team."
      operationId: getDvirs
      parameters:
      - description: ' If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.'
        in: query
        name: after
        schema:
          type: string
      - description: The limit for how many objects will be in the response. Default and max for this value is 200 objects.
        in: query
        name: limit
        schema:
          default: 200
          maximum: 200
          minimum: 1
          type: integer
      - description: Optional boolean indicating whether to return external IDs on supported entities
        in: query
        name: includeExternalIds
        schema:
          type: boolean
      - description: Required RFC 3339 timestamp to begin the feed or history by `updatedAtTime` at `startTime`.
        in: query
        name: startTime
        required: true
        schema:
          type: string
      - description: Optional RFC 3339 timestamp. If not provided then the endpoint behaves as an unending feed of changes.
        in: query
        name: endTime
        schema:
          type: string
      - description: 'Optional list of safety statuses. Valid values: [safe, unsafe, resolved]'
        explode: true
        in: query
        name: safetyStatus
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DvirGetDvirsResponseBody'
          description: OK response.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DvirGetDvirsUnauthorizedErrorResponseBody'
          description: Unauthorized response.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DvirGetDvirsNotFoundErrorResponseBody'
          description: Not Found response.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DvirGetDvirsMethodNotAllowedErrorResponseBody'
          description: Method Not Allowed response.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DvirGetDvirsTooManyRequestsErrorResponseBody'
          description: Too Many Requests response.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DvirGetDvirsInternalServerErrorResponseBody'
          description: Internal Server Error response.
        '501':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DvirGetDvirsNotImplementedErrorResponseBody'
          description: Not Implemented response.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DvirGetDvirsBadGatewayErrorResponseBody'
          description: Bad Gateway response.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DvirGetDvirsServiceUnavailableErrorResponseBody'
          description: Service Unavailable response.
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DvirGetDvirsGatewayTimeoutErrorResponseBody'
          description: Gateway Timeout response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DvirGetDvirsBadRequestErrorResponseBody'
          description: Bad Request response.
      summary: Stream DVIRs
      tags:
      - Stream
  /fleet/vehicles/immobilizer/stream:
    get:
      description: "Get the engine immobilizer states of the queried vehicles. If a vehicle has never had an engine immobilizer connected, there won't be any state returned for that vehicle.\n\n <b>Rate limit:</b> 5 requests/sec (learn more about rate limits <a href=\"https://developers.samsara.com/docs/rate-limits\" target=\"_blank\">here</a>).\n\nTo use this endpoint, select **Read Vehicle Immobilization** under the Vehicles category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team."
      operationId: getEngineImmobilizerStates
      parameters:
      - description: ' A filter on the data based on this comma-separated list of vehicle IDs and externalIds. Example: `vehicleIds=1234,5678,samsara.vin:1HGBH41JXMN109186`'
        in: query
        name: vehicleIds
        required: true
        schema:
          type: string
      - description: 'A start time in RFC 3339 format. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).'
        in: query
        name: startTime
        required: true
        schema:
          type: string
      - description: ' An end time in RFC 3339 format. Defaults to now if not provided. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).'
        in: query
        name: endTime
        schema:
          type: string
      - description: ' If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.'
        in: query
        name: after
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngineImmobilizerGetEngineImmobilizerStatesResponseBody'
          description: OK response.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngineImmobilizerGetEngineImmobilizerStatesUnauthorizedErrorResponseBody'
          description: Unauthorized response.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngineImmobilizerGetEngineImmobilizerStatesNotFoundErrorResponseBody'
          description: Not Found response.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngineImmobilizerGetEngineImmobilizerStatesMethodNotAllowedErrorResponseBody'
          description: Method Not Allowed response.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngineImmobilizerGetEngineImmobilizerStatesTooManyRequestsErrorResponseBody'
          description: Too Many Requests response.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngineImmobilizerGetEngineImmobilizerStatesInternalServerErrorResponseBody'
          description: Internal Server Error response.
        '501':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngineImmobilizerGetEngineImmobilizerStatesNotImplementedErrorResponseBody'
          description: Not Implemented response.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngineImmobilizerGetEngineImmobilizerStatesBadGatewayErrorResponseBody'
          description: Bad Gateway response.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngineImmobilizerGetEngineImmobilizerStatesServiceUnavailableErrorResponseBody'
          description: Service Unavailable response.
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngineImmobilizerGetEngineImmobilizerStatesGatewayTimeoutErrorResponseBody'
          description: Gateway Timeout response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngineImmobilizerGetEngineImmobilizerStatesBadRequestErrorResponseBody'
          description: Bad Request response.
      summary: '[beta] Get Engine Immobilizer States'
      tags:
      - Stream
  /issues/stream:
    get:
      description: "Returns all issues data that has been created or modified for your organization based on the time parameters passed in. Results are paginated and are sorted by last modified date. If you include an endTime, the endpoint will return data up until that point (exclusive). If you dont include an endTime, you can continue to poll the API real-time with the pagination cursor that gets returned on every call. \n\n**Beta:** This endpoint is in beta and is likely to change before being broadly available. Reach out to your Samsara Representative to have Forms APIs enabled for your organization.\n\n <b>Rate limit:</b> 5 requests/sec (learn more about rate limits <a href=\"https://developers.samsara.com/docs/rate-limits\" target=\"_blank\">here</a>).\n\nTo use this endpoint, select **Read Issues** under the Closed Beta category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team."
      operationId: getIssuesStream
      parameters:
      - description: ' A start time in RFC 3339 format. Defaults to now if not provided. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).'
        in: query
        name: startTime
        required: true
        schema:
          type: string
      - description: ' An end time in RFC 3339 format. Defaults to now if not provided. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).'
        in: query
        name: endTime
        schema:
          type: string
      - description: ' If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.'
        in: query
        name: after
        schema:
          type: string
      - description: 'A comma-separated list containing status values to filter issues on. Valid values: `open`, `inProgress`, `resolved`, `dismissed`'
        explode: false
        in: query
        name: status
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'A comma-separated list containing up to 50 asset IDs to filter issues on. Issues with untracked assets can also be included by passing the value: ''untracked''.'
        explode: false
        in: query
        name: assetIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'A comma separated list of additional fields to include on requested objects. Valid values: `externalIds`'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssuesGetIssuesStreamResponseBody'
          description: OK response.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssuesGetIssuesStreamUnauthorizedErrorResponseBody'
          description: Unauthorized response.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssuesGetIssuesStreamNotFoundErrorResponseBody'
          description: Not Found response.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssuesGetIssuesStreamMethodNotAllowedErrorResponseBody'
          description: Method Not Allowed response.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssuesGetIssuesStreamTooManyRequestsErrorResponseBody'
          description: Too Many Requests response.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssuesGetIssuesStreamInternalServerErrorResponseBody'
          description: Internal Server Error response.
        '501':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssuesGetIssuesStreamNotImplementedErrorResponseBody'
          description: Not Implemented response.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssuesGetIssuesStreamBadGatewayErrorResponseBody'
          description: Bad Gateway response.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssuesGetIssuesStreamServiceUnavailableErrorResponseBody'
          description: Service Unavailable response.
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssuesGetIssuesStreamGatewayTimeoutErrorResponseBody'
          description: Gateway Timeout response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssuesGetIssuesStreamBadRequestErrorResponseBody'
          description: Bad Request response.
      summary: '[beta] Get a Stream of Filtered Issues.'
      tags:
      - Stream
  /trips/stream:
    get:
      description: "This endpoint will return trips that have been collected for your organization based on the time parameters passed in. Results are paginated. Reach out to your Samsara Representative to have this API enabled for your organization.\n\n <b>Rate limit:</b> 5 requests/sec (learn more about rate limits <a href=\"https://developers.samsara.com/docs/rate-limits\" target=\"_blank\">here</a>).\n\nTo use this endpoint, select **Read Trips** under the Trips category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team."
      operationId: getTrips
      parameters:
      - description: Indicates whether or not to return expanded asset data
        in: query
        name: includeAsset
        schema:
          default: false
          type: boolean
      - description: 'Filters trips based on a specific completion status  Valid values: `inProgress`, `completed`, `all`'
        in: query
        name: completionStatus
        schema:
          default: all
          enum:
          - inProgress
          - completed
          - all
          type: string
      - description: RFC 3339 timestamp that indicates when to begin receiving data. Value is compared against `updatedAtTime` or `tripStartTime` depending on the queryBy parameter.
        in: query
        name: startTime
        required: true
        schema:
          type: string
      - description: RFC 3339 timestamp which is compared against `updatedAtTime` or `tripStartTime` depending on the queryBy parameter. If not provided then the endpoint behaves as an unending feed of changes.
        in: query
        name: endTime
        schema:
          type: string
      - description: 'Decide which timestamp the `startTime` and `endTime` are compared to.  Valid values: `updatedAtTime`, `tripStartTime`'
        in: query
        name: queryBy
        schema:
          default: updatedAtTime
          enum:
          - updatedAtTime
          - tripStartTime
          type: string
      - description: ' If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.'
        in: query
        name: after
        schema:
          type: string
      - description: Comma-separated list of asset IDs. Include up to 50 asset IDs.
        explode: false
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripsGetTripsResponseBody'
          description: OK response.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripsGetTripsUnauthorizedErrorResponseBody'
          description: Unauthorized response.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripsGetTripsNotFoundErrorResponseBody'
          description: Not Found response.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripsGetTripsMethodNotAllowedErrorResponseBody'
          description: Method Not Allowed response.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripsGetTripsTooManyRequestsErrorResponseBody'
          description: Too Many Requests response.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripsGetTripsInternalServerErrorResponseBody'
          description: Internal Server Error response.
        '501':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripsGetTripsNotImplementedErrorResponseBody'
          description: Not Implemented response.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripsGetTripsBadGatewayErrorResponseBody'
          description: Bad Gateway response.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripsGetTripsServiceUnavailableErrorResponseBody'
          description: Service Unavailable response.
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripsGetTripsGatewayTimeoutErrorResponseBody'
          description: Gateway Timeout response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripsGetTripsBadRequestErrorResponseBody'
          description: Bad Request response.
      summary: '[beta] Get Trips'
      tags:
      - Stream
components:
  schemas:
    DvirStreamResponseDataResponseBody:
      properties:
        authorSignature:
          $ref: '#/components/schemas/AuthorSignatureObjectResponseBody'
        defectIds:
          description: IDs of defects registered for the DVIR.
          example:
          - 8d218e6c-7a16-4f9f-90f7-cc1d93b9e596
          - 25d6151e-29b5-453e-875a-7c5425332e09
          items:
            example: Quibusdam illum atque animi nobis rerum.
            type: string
          type: array
        dvirSubmissionBeginTime:
          description: Time when driver created DVIR. UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        dvirSubmissionTime:
          description: Time when driver submitted the DVIR. UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        formattedAddress:
          example: 350 Rhode Island St Ste. 400S, San Francisco, CA 94103
          type: string
        id:
          description: The unique id of the DVIR
          example: '12345'
          type: string
        mechanicNotes:
          description: The mechanics notes on the DVIR.
          example: Replaced headlight on passenger side.
          type: string
        odometerMeters:
          description: The odometer reading in meters.
          example: 91823
          format: int64
          type: integer
        safetyStatus:
          description: 'The condition of vehicle on which DVIR was done.  Valid values: `unknown`, `safe`, `unsafe`, `resolved`'
          enum:
          - unknown
          - safe
          - unsafe
          - resolved
          example: unsafe
          type: string
        secondSignature:
          $ref: '#/components/schemas/AuthorSignatureObjectResponseBody'
        thirdSignature:
          $ref: '#/components/schemas/AuthorSignatureObjectResponseBody'
        trailer:
          $ref: '#/components/schemas/TrailerDvirObjectResponseBody'
        type:
          description: 'Inspection type of the DVIR.  Valid values: `preTrip`, `postTrip`, `mechanic`, `unspecified`'
          enum:
          - preTrip
          - postTrip
          - mechanic
          - unspecified
          example: mechanic
          type: string
        updatedAtTime:
          description: Time of any DVIR updates. UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        vehicle:
          $ref: '#/components/schemas/VehicleDvirObjectResponseBody'
      required:
      - authorSignature
      - dvirSubmissionBeginTime
      - dvirSubmissionTime
      - id
      - type
      - updatedAtTime
      type: object
    FormsMediaRecordObjectResponseBody:
      description: Forms media record object.
      properties:
        id:
          description: ID of the media record.
          example: 9814a1fa-f0c6-408b-bf85-51dc3bc71ac7
          format: uuid
          type: string
        processingStatus:
          description: 'Status of the media record.  Valid values: `unknown`, `processing`, `finished`'
          enum:
          - unknown
          - processing
          - finished
          example: processing
          type: string
        url:
          description: URL containing a link to associated media content. Included if 'processingStatus' is 'finished'.
          example: https://samsara-forms-submission-media-uploads.s3.us-west-2.amazonaws.com/123456
          format: uri
          type: string
        urlExpiresAt:
          description: Expiration time of the media record 'url'. UTC timestamp in RFC 3339 format.
          example: '2019-06-13T19:08:25Z'
          format: date-time
          type: string
      required:
      - id
      - processingStatus
      type: object
    DefectVehicleResponseResponseBody:
      description: Defect's vehicle object
      properties:
        externalIds:
          additionalProperties:
            type: string
          description: A map of external ids
          type: object
        id:
          description: ID of the vehicle
          example: '494125'
          type: string
      type: object
    EngineImmobilizerGetEngineImmobilizerStatesBadRequestErrorResponseBody:
      description: Bad Request parameters
      properties:
        message:
          description: Message of error
          example: Invalid value for parameter.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    IssuesGetIssuesStreamBadGatewayErrorResponseBody:
      description: Bad Gateway
      properties:
        message:
          description: Message of error
          example: 'rpc error: code = Unknown desc = connection refused'
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LocationAndSpeedGetLocationAndSpeedTooManyRequestsErrorResponseBody:
      description: Too many requests
      properties:
        message:
          description: Message of error
          example: Exceeded rate limit.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    IssuesGetIssuesStreamUnauthorizedErrorResponseBody:
      description: Unauthorized
      properties:
        message:
          description: Message of error
          example: Invalid token.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DvirDefectStreamDefectsInternalServerErrorResponseBody:
      description: An internal server error occurred
      properties:
        message:
          description: Message of error
          example: Failed to execute GraphQL query.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    EngineImmobilizerGetEngineImmobilizerStatesResponseBody:
      properties:
        data:
          description: A list of engine immobilizer states in ascending order of happenedAtTime.
          items:
            $ref: '#/components/schemas/EngineImmobilizerStateResponseBody'
          type: array
        pagination:
          $ref: '#/components/schemas/GoaPaginationResponseResponseBody'
      required:
      - data
      - pagination
      type: object
    IssuesGetIssuesStreamMethodNotAllowedErrorResponseBody:
      description: Method not allowed
      properties:
        message:
          description: Message of error
          example: DELETE not allowed on /endpoint.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LocationAndSpeedGetLocationAndSpeedGatewayTimeoutErrorResponseBody:
      description: Gateway timeout
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TripAssetResponseBody:
      description: Asset that the location readings are tied to
      properties:
        id:
          description: Unique ID for the asset object that is reporting the location.
          example: '12345'
          type: string
        name:
          description: Name for the asset object that is reporting the location. Only returns when `includeAsset` is set to `true`.
          example: MyAsset-1234
          type: string
        type:
          description: 'Type for the asset object that is reporting the location. Only returns when `includeAsset` is set to `true`.  Valid values: `uncategorized`, `trailer`, `equipment`, `unpowered`, `vehicle`'
          enum:
          - uncategorized
          - trailer
          - equipment
          - unpowered
          - vehicle
          example: trailer
          type: string
        vin:
          description: VIN for the asset object that is reporting the location. Only returns when `includeAsset` is set to `true`.
          example: 1GBJ6P1B2HV112765
          type: string
      required:
      - id
      type: object
    VehicleDvirObjectResponseBody:
      description: A vehicle object
      properties:
        externalIds:
          additionalProperties:
            type: string
          description: A map of external ids
          type: object
        id:
          description: ID of the vehicle
          example: '494123'
          type: string
      type: object
    DvirGetDvirsResponseBody:
      properties:
        data:
          items:
            $ref: '#/components/schemas/DvirStreamResponseDataResponseBody'
          type: array
        pagination:
          $ref: '#/components/schemas/GoaPaginationResponseResponseBody'
      required:
      - data
      - pagination
      type: object
    EngineImmobilizerRelayStateResponseBody:
      description: An engine immobilizer relay state.
      properties:
        id:
          description: 'The ID of the relay  Valid values: `relay1`, `relay2`'
          enum:
          - relay1
          - relay2
          example: relay1
          type: string
        isOpen:
          description: Whether the relay is open.
          example: false
          type: boolean
      required:
      - id
      - isOpen
      type: object
    IssuesGetIssuesStreamGatewayTimeoutErrorResponseBody:
      description: Gateway timeout
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TripsGetTripsNotImplementedErrorResponseBody:
      description: Requested endpoint is not yet implemented
      properties:
        message:
          description: Message of error
          example: Not implemented.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    IssuesGetIssuesStreamServiceUnavailableErrorResponseBody:
      description: Service unavailable
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DvirGetDvirsTooManyRequestsErrorResponseBody:
      description: Too many requests
      properties:
        message:
          description: Message of error
          example: Exceeded rate limit.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    EngineImmobilizerGetEngineImmobilizerStatesNotImplementedErrorResponseBody:
      description: Requested endpoint is not yet implemented
      properties:
        message:
          description: Message of error
          example: Not implemented.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TripsGetTripsBadRequestErrorResponseBody:
      description: Bad Request parameters
      properties:
        message:
          description: Message of error
          example: Invalid value for parameter.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LocationAndSpeedGetLocationAndSpeedBadGatewayErrorResponseBody:
      description: Bad Gateway
      properties:
        message:
          description: Message of error
          example: 'rpc error: code = Unknown desc = connection refused'
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    IssuesGetIssuesStreamNotFoundErrorResponseBody:
      description: Resource not found
      properties:
        message:
          description: Message of error
          example: Object not found.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    FormsPolymorphicUserObjectResponseBody:
      description: User or driver object.
      properties:
        id:
          description: ID of the polymorphic user.
          example: '938172'
          type: string
        type:
          description: 'The type of the polymorphic user.  Valid values: `driver`, `user`'
          enum:
          - driver
          - user
          example: driver
          type: string
      required:
      - id
      - type
      type: object
    GoaPaginationResponseResponseBody:
      description: Pagination parameters.
      properties:
        endCursor:
          description: Cursor identifier representing the last element in the response. This value should be used in conjunction with a subsequent request's 'after' query parameter. This may be an empty string if there are no more pages left to view.
          example: MjkY
          type: string
        hasNextPage:
          description: True if there are more pages of results immediately available after this endCursor.
          example: true
          type: boolean
      required:
      - endCursor
      - hasNextPage
      type: object
    DvirDefectStreamDefectsBadRequestErrorResponseBody:
      description: Bad Request parameters
      properties:
        message:
          description: Message of error
          example: Invalid value for parameter.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    FormsAssetObjectResponseBody:
      description: Tracked or untracked (i.e. manually entered) asset object.
      properties:
        entryType:
          description: 'The type of entry for the asset.  Valid values: `tracked`, `untracked`'
          enum:
          - tracked
          - untracked
          example: tracked
          type: string
        id:
          description: ID of a tracked asset. Included if 'entryType' is 'tracked'.
          example: '281474982859091'
          type: string
        name:
          description: Name of an untracked (i.e. manually entered) asset.
          example: trailer 123
          type: string
      required:
      - entryType
      type: object
    AuthorSignatureObjectResponseBody:
      description: An author signature for DVIRs with a signed time.
      properties:
        signatoryUser:
          $ref: '#/components/schemas/SignatoryUserObjectResponseBody'
        signedAtTime:
          description: The time when the DVIR was signed. UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        type:
          description: 'Whether the DVIR was submitted by a driver or mechanic.  Valid values: `driver`, `mechanic`'
          enum:
          - driver
          - mechanic
          example: driver
          type: string
      required:
      - signatoryUser
      - signedAtTime
      - type
      type: object
    DvirGetDvirsUnauthorizedErrorResponseBody:
      description: Unauthorized
      properties:
        message:
          description: Message of error
          example: Invalid token.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    EngineImmobilizerGetEngineImmobilizerStatesUnauthorizedErrorResponseBody:
      description: Unauthorized
      properties:
        message:
          description: Message of error
          example: Invalid token.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    IssueSourceObjectResponseBody:
      description: Contains information about where an issue came from.
      properties:
        id:
          description: ID of the issue's source object. The format depends on the 'type'. Included if 'type' is not 'ad-hoc'.
          example: 9814a1fa-f0c6-408b-bf85-51dc3bc71ac7
          type: string
        type:
          description: 'The type of issue source.  Valid values: `form`, `ad-hoc`'
          enum:
          - form
          - ad-hoc
          example: form
          type: string
      required:
      - type
      type: object
    IssueResponseObjectResponseBody:
      description: Issue response object.
      properties:
        asset:
          $ref: '#/components/schemas/FormsAssetObjectResponseBody'
        assignedTo:
          $ref: '#/components/schemas/FormsPolymorphicUserObjectResponseBody'
        createdAtTime:
          description: Creation time of the issue. UTC timestamp in RFC 3339 format.
          example: '2019-06-13T19:08:25Z'
          format: date-time
          type: string
        description:
          description: Description of the issue. Included if the issue was given a description.
          example: Oil spill in left corner of SF1
          type: string
        dueDate:
          description: Due date of the issue. UTC timestamp in RFC 3339 format. Included if the issue was assigned a due date.
          example: '2019-06-13T19:08:25Z'
          format: date-time
          type: string
        externalIds:
          additionalProperties:
            type: string
          description: A map of external ids
          type: object
        id:
          description: ID of the issue.
          example: 9814a1fa-f0c6-408b-bf85-51dc3bc71ac7
          type: string
        issueSource:
          $ref: '#/components/schemas/IssueSourceObjectResponseBody'
        mediaList:
          description: List of media objects for the issue. Included if the issue has media.
          items:
            $ref: '#/components/schemas/FormsMediaRecordObjectResponseBody'
          type: array
        priority:
          description: 'Priority of the issue. Included if the issue was assigned a priority.  Valid values: `low`, `medium`, `high`'
          enum:
          - low
          - medium
          - high
          example: high
          type: string
        status:
          description: 'Status of the issue.  Valid values: `open`, `inProgress`, `resolved`, `dismissed`'
          enum:
          - open
          - inProgress
          - resolved
          - dismissed
          example: open
          type: string
        submittedAtTime:
          description: Submission time of the issue. UTC timestamp in RFC 3339 format.
          example: '2019-06-13T19:08:25Z'
          format: date-time
          type: string
        submittedBy:
          $ref: '#/components/schemas/FormsPolymorphicUserObjectResponseBody'
        title:
          description: Title of the issue.
          example: Oil spill
          type: string
        updatedAtTime:
          description: Update time of the issue. UTC timestamp in RFC 3339 format.
          example: '2019-06-13T19:08:25Z'
          format: date-time
          type: string
      required:
      - createdAtTime
      - id
      - issueSource
      - status
      - submittedAtTime
      - submittedBy
      - title
      - updatedAtTime
      type: object
    LocationAndSpeedGetLocationAndSpeedServiceUnavailableErrorResponseBody:
      description: Service unavailable
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TripsGetTripsGatewayTimeoutErrorResponseBody:
      description: Gateway timeout
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LocationAndSpeedResponseResponseBody:
      description: Full location and speed objects.
      properties:
        asset:
          $ref: '#/components/schemas/AssetResponseResponseBody'
        happenedAtTime:
          description: UTC timestamp in RFC 3339 format of the event.
          example: '2020-01-27T07:06:25Z'
          type: string
        location:
          $ref: '#/components/schemas/LocationResponseResponseBody'
        speed:
          $ref: '#/components/schemas/SpeedResponseResponseBody'
      required:
      - asset
      - happenedAtTime
      - location
      type: object
    IssuesGetIssuesStreamResponseBody:
      properties:
        data:
          description: List of issues.
          items:
            $ref: '#/components/schemas/IssueResponseObjectResponseBody'
          type: array
        pagination:
          $ref: '#/components/schemas/GoaPaginationResponseResponseBody'
      required:
      - data
      - pagination
      type: object
    GeofenceResponseResponseBody:
      description: Closest geofence based on 1000 meter radial search.
      properties:
        externalIds:
          additionalProperties:
            type: string
          description: A map of external ids
          type: object
        id:
          description: Unique ID of the geofence object.
          example: '12345'
          type: string
      type: object
    DvirGetDvirsGatewayTimeoutErrorResponseBody:
      description: Gateway timeout
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    IssuesGetIssuesStreamTooManyRequestsErrorResponseBody:
      description: Too many requests
      properties:
        message:
          description: Message of error
          example: Exceeded rate limit.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    EngineImmobilizerGetEngineImmobilizerStatesServiceUnavailableErrorResponseBody:
      description: Service unavailable
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DvirDefectStreamDefectsMethodNotAllowedErrorResponseBody:
      description: Method not allowed
      properties:
        message:
          description: Message of error
          example: DELETE not allowed on /endpoint.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DvirDefectStreamDefectsServiceUnavailableErrorResponseBody:
      description: Service unavailable
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    EngineImmobilizerGetEngineImmobilizerStatesGatewayTimeoutErrorResponseBody:
      description: Gateway timeout
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    IssuesGetIssuesStreamNotImplementedErrorResponseBody:
      description: Requested endpoint is not yet implemented
      properties:
        message:
          description: Message of error
          example: Not implemented.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    EngineImmobilizerStateResponseBody:
      description: An engine immobilizer state.
      properties:
        happenedAtTime:
          description: 'A UTC time in RFC 3339 format. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).'
          example: '2019-06-13T19:08:25Z'
          type: string
        isConnectedToVehicle:
          description: Whether the engine immobilizer is connected the vehicle.
          example: false
          type: boolean
        relayStates:
          description: A list of states for each relay
          items:
            $ref: '#/components/schemas/EngineImmobilizerRelayStateResponseBody'
          type: array
        vehicleId:
          description: The ID of the vehicle that the engine immobilizer is connected to.
          example: '1234'
          type: string
      required:
      - happenedAtTime
      - isConnectedToVehicle
      - relayStates
      - vehicleId
      type: object
    GoaPaginationWithTokensResponseResponseBody:
      description: Pagination parameters.
      properties:
        endCursor:
          description: Cursor identifier representing the last element in the response. This value should be used in conjunction with a subsequent request's 'after' query parameter. This may be an empty string if there are no more pages left to view.
          example: MjkY
          type: string
        hasNextPage:
          description: True if there are more pages of results immediately available after this endCursor.
          example: true
          type: boolean
      required:
      - hasNextPage
      type: object
    TripsGetTripsTooManyRequestsErrorResponseBody:
      description: Too many requests
      properties:
        message:
          description: Message of error
          example: Exceeded rate limit.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DefectTrailerResponseResponseBody:
      description: Defect's trailer object
      properties:
        externalIds:
          additionalProperties:
            type: string
          description: A map of external ids
          type: object
        id:
          description: ID of the trailer
          example: '494123'
          type: string
      type: object
    LocationAndSpeedGetLocationAndSpeedResponseBody:
      properties:
        data:
          description: List of location and speed objects.
          items:
            $ref: '#/components/schemas/LocationAndSpeedResponseResponseBody'
          type: array
        pagination:
          $ref: '#/components/schemas/GoaPaginationWithTokensResponseResponseBody'
      required:
      - data
      - pagination
      type: object
    AssetResponseResponseBody:
      description: Asset that the location readings are tied to.
      properties:
        externalIds:
          additionalProperties:
            type: string
          description: A map of external ids
          type: object
        id:
          description: ID of the asset
          example: '12345'
          type: string
      required:
      - id
      type: object
    DvirDefectStreamDefectsUnauthorizedErrorResponseBody:
      description: Unauthorized
      properties:
        message:
          description: Message of error
          example: Invalid token.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DefectsResponseDataResponseBody:
      description: DVIR defects data.
      properties:
        comment:
          description: Comment on the defect.
          example: Engine failure.
          type: string
        createdAtTime:
          description: Time when defect was created in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        defectTypeId:
          description: The unique ID of the defect type.
          example: 25d6151e-29b5-453e-875a-7c5425332e09
          type: string
        dvirId:
          description: The unique ID of the defect's DVIR.
          example: '292371177'
          type: string
        id:
          description: The unique ID of the DVIR defect.
          example: '9700544'
          type: string
        isResolved:
          description: Signifies if this defect is resolved.
          example: true
          type: boolean
        mechanicNotes:
          description: The mechanics notes on the defect.
          example: Broken passenger side window.
          type: string
        resolvedAtTime:
          description: Time when this defect was resolved in RFC 3339 format. Will not be returned if the defect is unresolved.
          example: '2020-01-27T07:06:25Z'
          type: string
        resolvedBy:
          $ref: '#/components/schemas/DvirResolvedByObjectResponseBody'
        trailer:
          $ref: '#/components/schemas/DefectTrailerResponseResponseBody'
        updatedAtTime:
          description: Time when defect was last updated in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        vehicle:
          $ref: '#/components/schemas/DefectVehicleResponseResponseBody'
      required:
      - comment
      - dvirId
      - id
      - isResolved
      type: object
    DvirGetDvirsNotFoundErrorResponseBody:
      description: Resource not found
      properties:
        message:
          description: Message of error
          example: Object not found.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DvirGetDvirsBadRequestErrorResponseBody:
      description: Bad Request parameters
      properties:
        message:
          description: Message of error
          example: Invalid value for parameter.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerDvirObjectResponseBody:
      description: A trailer object
      properties:
        externalIds:
          additionalProperties:
            type: string
          description: A map of external ids
          type: object
        id:
          description: ID of the trailer
          example: '494123'
          type: string
      type: object
    TripsGetTripsServiceUnavailableErrorResponseBody:
      description: Service unavailable
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TripsGetTripsResponseBody:
      properties:
        data:
          description: List of trips
          items:
            $ref: '#/components/schemas/TripResponseBody'
          type: array
        pagination:
          $ref: '#/components/schemas/GoaPaginationResponseResponseBody'
      required:
      - data
      - pagination
      type: object
    TripResponseBody:
      description: Trip
      properties:
        asset:
          $ref: '#/components/schemas/TripAssetResponseBody'
        completionStatus:
          description: 'Trip completion status  Valid values: `inProgress`, `completed`'
          enum:
          - inProgress
          - completed
          example: completed
          type: string
        createdAtTime:
          description: '[RFC 3339] Time the trip was created in Samsara in UTC.'
          example: '2024-04-16T19:08:25Z'
          type: string
        endLocation:
          $ref: '#/components/schemas/LocationResponseResponseBody'
        startLocation:
          $ref: '#/components/schemas/LocationResponseResponseBody'
        tripEndTime:
          description: '[RFC 3339] Time the trip ended in UTC.'
          example: '2024-04-16T20:00:00Z'
          type: string
        tripStartTime:
          description: '[RFC 3339] Time the trip started in UTC.'
          example: '2024-04-16T19:08:25Z'
          type: string
        updatedAtTime:
          description: '[RFC 3339] Time the trip was updated in Samsara in UTC. Valid updates are when `endTime` populates or `completionStatus` changes values.'
          example: '2024-04-16T19:08:25Z'
          type: string
      required:
      - asset
      - completionStatus
      - createdAtTime
      - startLocation
      - tripStartTime
      - updatedAtTime
      type: object
    EngineImmobilizerGetEngineImmobilizerStatesBadGatewayErrorResponseBody:
      description: Bad Gateway
      properties:
        message:
          description: Message of error
          example: 'rpc error: code = Unknown desc = connection refused'
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DvirDefectStreamDefectsBadGatewayErrorResponseBody:
      description: Bad Gateway
      properties:
        message:
          description: Message of error
          example: 'rpc error: code = Unknown desc = connection refused'
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LocationAndSpeedGetLocationAndSpeedBadRequestErrorResponseBody:
      description: Bad Request parameters
      properties:
        message:
          description: Message of error
          example: Invalid value for parameter.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TripsGetTripsNotFoundErrorResponseBody:
      description: Resource not found
      properties:
        message:
          description: Message of error
          example: Object not found.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DvirDefectStreamDefectsTooManyRequestsErrorResponseBody:
      description: Too many requests
      properties:
        message:
          description: Message of error
          example: Exceeded rate limit.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DvirGetDvirsInternalServerErrorResponseBody:
      description: An internal server error occurred
      properties:
        message:
          description: Message of error
          example: Failed to execute GraphQL query.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    SignatoryUserObjectResponseBody:
      description: The user who signed the DVIR.
      properties:
        id:
          description: ID of the user.
          example: '938172'
          type: string
      required:
      - id
      type: object
    EngineImmobilizerGetEngineImmobilizerStatesTooManyRequestsErrorResponseBody:
      description: Too many requests
      properties:
        message:
          description: Message of error
          example: Exceeded rate limit.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    EngineImmobilizerGetEngineImmobilizerStatesInternalServerErrorResponseBody:
      description: An internal server error occurred
      properties:
        message:
          description: Message of error
          example: Failed to execute GraphQL query.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LocationAndSpeedGetLocationAndSpeedUnauthorizedErrorResponseBody:
      description: Unauthorized
      properties:
        message:
          description: Message of error
          example: Invalid token.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LocationAndSpeedGetLocationAndSpeedNotFoundErrorResponseBody:
      description: Resource not found
      properties:
        message:
          description: Message of error
          example: Object not found.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    IssuesGetIssuesStreamBadRequestErrorResponseBody:
      description: Bad Request parameters
      properties:
        message:
          description: Message of error
          example: Invalid value for parameter.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DvirDefectStreamDefectsGatewayTimeoutErrorResponseBody:
      description: Gateway timeout
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LocationResponseResponseBody:
      description: Location object.
      properties:
        accuracyMeters:
          description: Radial accuracy of gps location in meters. This will only return if strong GPS is not available.
          example: 5.801
          format: double
          type: number
        address:
          $ref: '#/components/schemas/AddressResponseResponseBody'
        geofence:
          $ref: '#/components/schemas/GeofenceResponseResponseBody'
        headingDegrees:
          description: Heading of the asset in degrees. May be 0 if the asset is not moving.
          example: 120
          format: int64
          type: integer
        latitude:
          description: Latitude of the location of the asset.
          example: 37.7749
          format: double
          type: number
        longitude:
          description: Longitude of the location of the asset.
          example: 137.2719
          format: double
          type: number
      required:
      - headingDegrees
      - latitude
      - longitude
      type: object
    TripsGetTripsUnauthorizedErrorResponseBody:
      description: Unauthorized
      properties:
        message:
          description: Message of error
          example: Invalid token.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LocationAndSpeedGetLocationAndSpeedMethodNotAllowedErrorResponseBody:
      description: Method not allowed
      properties:
        message:
          description: Message of error
          example: DELETE not allowed on /endpoint.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    LocationAndSpeedGetLocationAndSpeedInternalServerErrorResponseBody:
      description: An internal server error occurred
      properties:
        message:
          description: Message of error
          example: Failed to execute GraphQL query.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TripsGetTripsBadGatewayErrorResponseBody:
      description: Bad Gateway
      properties:
        message:
          description: Message of error
          example: 'rpc error: code = Unknown desc = connection refused'
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    IssuesGetIssuesStreamInternalServerErrorResponseBody:
      description: An internal server error occurred
      properties:
        message:
          description: Message of error
          example: Failed to execute GraphQL query.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DvirGetDvirsBadGatewayErrorResponseBody:
      description: Bad Gateway
      properties:
        message:
          description: Message of error
          example: 'rpc error: code = Unknown desc = connection refused'
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DvirDefectStreamDefectsNotImplementedErrorResponseBody:
      description: Requested endpoint is not yet implemented
      properties:
        message:
          description: Message of error
          example: Not implemented.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TripsGetTripsInternalServerErrorResponseBody:
      description: An internal server error occurred
      properties:
        message:
          description: Message of error
          example: Failed to execute GraphQL query.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TripsGetTripsMethodNotAllowedErrorResponseBody:
      description: Method not allowed
      properties:
        message:
          description: Message of error
          example: DELETE not allowed on /endpoint.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DvirGetDvirsNotImplementedErrorResponseBody:
      description: Requested endpoint is not yet implemented
      properties:
        message:
          description: Message of error
          example: Not implemented.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DvirGetDvirsServiceUnavailableErrorResponseBody:
      description: Service unavailable
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    AddressResponseResponseBody:
      description: Closest address that the GPS latitude and longitude match to.
      properties:
        city:
          description: The name of the city
          example: New York
          type: string
        country:
          description: The country
          example: USA
          type: string
        neighborhood:
          description: The name of the neighborhood if one exists
          example: Mission District
          type: string
        pointOfInterest:
          description: Point that may be of interest to the user
          example: The Eiffel Tower
          type: string
        postalCode:
          description: The zip code
          example: '10010'
          type: string
        state:
          description: The name of the state
          example: New York
          type: string
        street:
          description: The street name
          example: Main Street
          type: string
        streetNumber:
          description: Street number of the address
          example: '16'
          type: string
      type: object
    EngineImmobilizerGetEngineImmobilizerStatesMethodNotAllowedErrorResponseBody:
      description: Method not allowed
      properties:
        message:
          description: Message of error
          example: DELETE not allowed on /endpoint.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DvirDefectStreamDefectsResponseBody:
      properties:
        data:
          description: List of DVIR defects.
          items:
            $ref: '#/components/schemas/DefectsResponseDataResponseBody'
          type: array
        pagination:
          $ref: '#/components/schemas/GoaPaginationResponseResponseBody'
      required:
      - data
      - pagination
      type: object
    LocationAndSpeedGetLocationAndSpeedNotImplementedErrorResponseBody:
      description: Requested endpoint is not yet implemented
      properties:
        message:
          description: Message of error
          example: Not implemented.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    EngineImmobilizerGetEngineImmobilizerStatesNotFoundErrorResponseBody:
      description: Resource not found
      properties:
        message:
          description: Message of error
          example: Object not found.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DvirDefectStreamDefectsNotFoundErrorResponseBody:
      description: Resource not found
      properties:
        message:
          description: Message of error
          example: Object not found.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    DvirGetDvirsMethodNotAllowedErrorResponseBody:
      description: Method not allowed
      properties:
        message:
          description: Message of error
          example: DELETE not allowed on /endpoint.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    SpeedResponseResponseBody:
      description: Speed object.
      properties:
        ecuSpeedMetersPerSecond:
          description: Speed of asset based on ECU data.
          example: 30.2
          format: double
          type: number
        gpsSpeedMetersPerSecond:
          description: Speed of asset based on GPS data.
          example: 30.2
          format: double
          type: number
      type: object
    DvirResolvedByObjectResponseBody:
      description: The person who resolved this defect.
      properties:
        id:
          description: ID of the entity that resolved this defect. If the defect was resolved by a driver, this will be a Samsara Driver ID. If the defect was resolved by a mechanic, this will be the Samsara Dashboard User ID of the mechanic.
          example: '8172'
          type: string
        name:
          description: Name of the person who resolved this defect.
          example: Jane Mechanic
          type: string
        type:
          description: 'Indicates whether this defect was resolved by a driver or a mechanic.  Valid values: `driver`, `mechanic`'
          enum:
          - driver
          - mechanic
          example: mechanic
          type: string
      required:
      - id
      - name
      - type
      type: object
  securitySchemes:
    AccessTokenHeader:
      type: http
      scheme: bearer
x-original-swagger-version: '2.0'
x-readme:
  explorer-enabled: true
  proxy-enabled: true
