openapi: 3.0.1
info:
  description: Gain greater visibility by connecting your fleets, equipment, sites, and people.
  title: Samsara Feed API
  version: '2024-11-18'
servers:
- url: https://api.samsara.com/
- url: https://api.eu.samsara.com/
security:
- AccessTokenHeader: []
tags:
- name: Feed
paths:
  /fleet/equipment/locations/feed:
    get:
      description: "Follow a continuous feed of all equipment locations from Samsara AG26s.\n\nYour first call to this endpoint will provide you with the most recent location for each unit of equipment and a `pagination` object that contains an `endCursor`.\n\nYou can provide the `endCursor` to subsequent calls via the `after` parameter. The response will contain any equipment location updates since that `endCursor`.\n\nIf `hasNextPage` is `false`, no updates are readily available yet. We'd suggest waiting a minimum of 5 seconds before requesting updates. \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team.\n\nTo use this endpoint, select **Read Equipment Statistics** under the Equipment category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>"
      operationId: getEquipmentLocationsFeed
      parameters:
      - description: If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.
        in: query
        name: after
        schema:
          type: string
      - description: 'A filter on the data based on this comma-separated list of parent tag IDs, for use by orgs with tag hierarchies. Specifying a parent tag will implicitly include all descendent tags of the parent tag. Example: `parentTagIds=345,678`'
        explode: false
        in: query
        name: parentTagIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'A filter on the data based on this comma-separated list of tag IDs. Example: `tagIds=1234,5678`'
        explode: false
        in: query
        name: tagIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'A filter on the data based on this comma-separated list of equipment IDs. Example: `equipmentIds=1234,5678`'
        explode: false
        in: query
        name: equipmentIds
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentLocationsListResponse'
          description: The feed of equipment locations and pagination information
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Follow Feed of Equipment Locations
      tags:
      - Feed
  /fleet/equipment/stats/feed:
    get:
      description: "Follow a continuous feed of all equipment stats from Samsara AG26s.\n\nYour first call to this endpoint will provide you with the most recent stats for each unit of equipment and a `pagination` object that contains an `endCursor`.\n\nYou can provide the `endCursor` to subsequent calls via the `after` parameter. The response will contain any equipment stats updates since that `endCursor`.\n\nIf `hasNextPage` is `false`, no updates are readily available yet. Each stat type has a different refresh rate, but in general we'd suggest waiting a minimum of 5 seconds before requesting updates. \n\n <b>Rate limit:</b> 150 requests/sec (learn more about rate limits <a href=\"https://developers.samsara.com/docs/rate-limits\" target=\"_blank\">here</a>). \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team.\n\nTo use this endpoint, select **Read Equipment Statistics** under the Equipment category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>"
      operationId: getEquipmentStatsFeed
      parameters:
      - description: If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.
        in: query
        name: after
        schema:
          type: string
      - description: 'A filter on the data based on this comma-separated list of parent tag IDs, for use by orgs with tag hierarchies. Specifying a parent tag will implicitly include all descendent tags of the parent tag. Example: `parentTagIds=345,678`'
        explode: false
        in: query
        name: parentTagIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'A filter on the data based on this comma-separated list of tag IDs. Example: `tagIds=1234,5678`'
        explode: false
        in: query
        name: tagIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'A filter on the data based on this comma-separated list of equipment IDs. Example: `equipmentIds=1234,5678`'
        explode: false
        in: query
        name: equipmentIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "The types of equipment stats you want to query. Currently, you may submit up to 3 types.\r\n\r\n- `engineRpm`: The revolutions per minute of the engine.\r\n- `fuelPercents`: The percent of fuel in the unit of equipment.\r\n- `obdEngineSeconds`: The number of seconds the engine has been running since it was new. This value is provided directly from on-board diagnostics.\r\n- `gatewayEngineSeconds`: An approximation of the number of seconds the engine has been running since it was new, based on the amount of time the asset gateway has been receiving power with an offset provided manually through the Samsara cloud dashboard. This is supported with the following hardware configurations: \r\n  - AG24/AG26/AG46P + APWR cable ([Auxiliary engine configuration](https://kb.samsara.com/hc/en-us/articles/360043040512-Auxiliary-Inputs#UUID-d514abff-d10a-efaf-35d9-e10fa6c4888d) required) \r\n  - AG52 + BPWR/BEQP cable ([Auxiliary engine configuration](https://kb.samsara.com/hc/en-us/articles/360043040512-Auxiliary-Inputs#UUID-d514abff-d10a-efaf-35d9-e10fa6c4888d) required). \r\n- `gatewayJ1939EngineSeconds`: An approximation of the number of seconds the engine has been running since it was new, based on the amount of time the AG26 device is receiving power via J1939/CAT cable and an offset provided manually through the Samsara cloud dashboard.\r\n- `obdEngineStates`: The state of the engine read from on-board diagnostics. Can be `Off`, `On`, or `Idle`.\r\n- `gatewayEngineStates`: An approximation of engine state based on readings the AG26 receives from the aux/digio cable. Can be `Off` or `On`.\r\n- `gpsOdometerMeters`: An approximation of odometer reading based on GPS calculations since the AG26 was activated, and a manual odometer offset provided in the Samsara cloud dashboard. Valid values: `Off`, `On`.\r\n- `gps`: GPS data including lat/long, heading, speed, address book entry (if exists), and a reverse geocoded address."
        explode: false
        in: query
        name: types
        required: true
        schema:
          items:
            enum:
            - gatewayEngineStates
            - obdEngineStates
            - fuelPercents
            - engineRpm
            - gatewayEngineSeconds
            - obdEngineSeconds
            - gatewayJ1939EngineSeconds
            - gpsOdometerMeters
            - gps
            format: string
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentStatsListResponse'
          description: The feed of equipment stats and pagination information
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Follow a Feed of Equipment Stats
      tags:
      - Feed
  /fleet/safety-events/audit-logs/feed:
    get:
      description: "Get continuous safety events. The safety activity event feed offers a change-log for safety events. Use this endpoint to subscribe to safety event changes. See documentation below for all supported change-log types.\n\n| ActivityType      | Description |\n| ----------- | ----------- |\n| CreateSafetyEventActivityType | a new safety event is processed by Samsara      |\n| BehaviorLabelActivityType     | a label is added or removed from a safety event |\n| CoachingStateActivityType     | a safety event coaching state is updated        |\n\n <b>Rate limit:</b> 5 requests/sec (learn more about rate limits <a href=\"https://developers.samsara.com/docs/rate-limits\" target=\"_blank\">here</a>).\n\nTo use this endpoint, select **Read Safety Events & Scores** under the Safety & Cameras category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team."
      operationId: getSafetyActivityEventFeed
      parameters:
      - description: ' If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.'
        in: query
        name: after
        schema:
          type: string
      - description: ' A start time in RFC 3339 format. Defaults to now if not provided. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).'
        in: query
        name: startTime
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SafetyEventsGetSafetyActivityEventFeedResponseBody'
          description: OK response.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SafetyEventsGetSafetyActivityEventFeedUnauthorizedErrorResponseBody'
          description: Unauthorized response.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SafetyEventsGetSafetyActivityEventFeedNotFoundErrorResponseBody'
          description: Not Found response.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SafetyEventsGetSafetyActivityEventFeedMethodNotAllowedErrorResponseBody'
          description: Method Not Allowed response.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SafetyEventsGetSafetyActivityEventFeedTooManyRequestsErrorResponseBody'
          description: Too Many Requests response.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SafetyEventsGetSafetyActivityEventFeedInternalServerErrorResponseBody'
          description: Internal Server Error response.
        '501':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SafetyEventsGetSafetyActivityEventFeedNotImplementedErrorResponseBody'
          description: Not Implemented response.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SafetyEventsGetSafetyActivityEventFeedBadGatewayErrorResponseBody'
          description: Bad Gateway response.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SafetyEventsGetSafetyActivityEventFeedServiceUnavailableErrorResponseBody'
          description: Service Unavailable response.
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SafetyEventsGetSafetyActivityEventFeedGatewayTimeoutErrorResponseBody'
          description: Gateway Timeout response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SafetyEventsGetSafetyActivityEventFeedBadRequestErrorResponseBody'
          description: Bad Request response.
      summary: Fetches Safety Activity Event Feed
      tags:
      - Feed
  /fleet/vehicles/locations/feed:
    get:
      description: "***NOTE: The Vehicle Locations API is an older API that does not combine GPS data with onboard diagnostics. Try our new [Vehicle Stats API](ref:getvehiclestatsfeed) instead.***\n\nFollow a continuous feed of all vehicle locations from Samsara Vehicle Gateways.\n\nYour first call to this endpoint will provide you with the most recent location for each vehicle and a `pagination` object that contains an `endCursor`.\n\nYou can provide the `endCursor` to the `after` parameter of this endpoint to get location updates since that `endCursor`. \n\nIf `hasNextPage` is `false`, no updates are readily available yet. We'd suggest waiting a minimum of 5 seconds before requesting updates.\n\nRelated guide: <a href=\"/docs/vehicle-locations-1\" target=\"_blank\">Vehicle Locations</a>. \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team.\n\nTo use this endpoint, select **Read Vehicle Statistics** under the Vehicle category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>"
      operationId: getVehicleLocationsFeed
      parameters:
      - description: If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.
        in: query
        name: after
        schema:
          type: string
      - description: 'A filter on the data based on this comma-separated list of parent tag IDs, for use by orgs with tag hierarchies. Specifying a parent tag will implicitly include all descendent tags of the parent tag. Example: `parentTagIds=345,678`'
        explode: false
        in: query
        name: parentTagIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'A filter on the data based on this comma-separated list of tag IDs. Example: `tagIds=1234,5678`'
        explode: false
        in: query
        name: tagIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'A filter on the data based on this comma-separated list of vehicle IDs. Example: `vehicleIds=1234,5678`'
        explode: false
        in: query
        name: vehicleIds
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleLocationsListResponse'
          description: List of locations events for the specified vehicles.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Locations Feed
      tags:
      - Feed
  /fleet/vehicles/stats/feed:
    get:
      description: "Follow a feed of vehicle stats. \n\nYour first call to this endpoint will provide you with the most recent stats for each vehicle and an `endCursor`.\n\nYou can the provide the `endCursor` value to the `after` query parameter to get all updates since the last call you made.\n\nIf `hasNextPage` is `false`, no new data is immediately available. You should wait a minimum of 5 seconds making a subsequent request.\n\nRelated guide: <a href=\"/docs/telematics\" target=\"_blank\">Telematics</a>. \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team.\n\nTo use this endpoint, select **Read Vehicle Statistics** under the Vehicles category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>"
      operationId: getVehicleStatsFeed
      parameters:
      - description: If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.
        in: query
        name: after
        schema:
          type: string
      - description: 'A filter on the data based on this comma-separated list of parent tag IDs, for use by orgs with tag hierarchies. Specifying a parent tag will implicitly include all descendent tags of the parent tag. Example: `parentTagIds=345,678`'
        explode: false
        in: query
        name: parentTagIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'A filter on the data based on this comma-separated list of tag IDs. Example: `tagIds=1234,5678`'
        explode: false
        in: query
        name: tagIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'A filter on the data based on this comma-separated list of vehicle IDs. Example: `vehicleIds=1234,5678`'
        explode: false
        in: query
        name: vehicleIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "The stat types you want this endpoint to return information on. See also the <a href=\"/docs/telematics#query-parameters\" target=\"_blank\">Telematics</a> guide for more details.\n\nYou may list ***up to 3*** types using comma-separated format. For example: `types=gps,engineStates,obdOdometerMeters`.\n\n*Note:* `auxInput3`-`auxInput10` count as a single type against the limit of 3. For example, you could list `types=engineStates,obdOdometerMeters,auxInput3,auxInput4` because `auxInput3` and `auxInput4` count as a single stat type. `auxInput1` and `auxInput2` still count as their own individual types.\n\n- `ambientAirTemperatureMilliC`: The ambient air temperature reading in millidegree Celsius.\n- `auxInput1`-`auxInput13`: Stat events from the <a href=\"https://kb.samsara.com/hc/en-us/articles/360043040512-Auxiliary-Inputs\" target=\"_blank\">auxiliary inputs</a> for the vehicle.\n- `barometricPressurePa`: The barometric pressure reading in pascals.\n- `batteryMilliVolts`: The vehicle battery voltage reading.\n- `defLevelMilliPercent`: The Diesel Exhaust Fluid (DEF) level in milli percentage points (e.g. `99001`, `49999`, etc).\n- `ecuSpeedMph`: The speed of the engine in miles per hour according to the ECU.\n- `engineCoolantTemperatureMilliC`: The engine coolant temperature reading in millidegree Celsius.\n- `engineImmobilizer`: The state of the engine immobilizer - Valid values: `ignition_disabled`, `ignition_enabled`. This stat type will only return states of our first Engine Immobilizer Hardware (ACC-EI). Please use <a href=\"https://developers.samsara.com/reference/getengineimmobilizerstates\" target=\"_blank\">Get engine immobilizer states</a> to get states for both Engine Immobilizer Hardware versions (incl. HW-EI21).\n- `engineLoadPercent`: The engine load in percentage points (e.g. `99`, `50`, etc).\n- `engineOilPressureKPa`: The engine oil pressure reading in kilopascals.\n- `engineRpm`: The revolutions per minute of the engine.\n- `engineStates`: The state of the engine (`Off`, `On`, `Idle`).\n- `faultCodes`: The diagnostic fault codes for the vehicle.\n- `fuelPercents`: The engine fuel level in percentage points (e.g. `99`, `50`, etc).\n- `gps`: GPS data including lat/long, heading, speed, address book entry (if exists), and a reverse geocoded address.\n- `gpsDistanceMeters`: The distance the vehicle has traveled since the gateway was installed based on GPS calculations.\n- `gpsOdometerMeters`: Odometer reading provided by GPS calculations when OBD odometer cannot be pulled automatically. You must provide a manual odometer reading before this value is updated. Manual odometer readings can be provided via the [PATCH /fleet/vehicles/{id}](ref:updatevehicle) endpoint or through the <a href=\"https://kb.samsara.com/hc/en-us/articles/115005273667-Editing-Odometer-Reading\" target=\"_blank\">cloud dasbhoard</a>. Odometer readings that are manually set will update as GPS trip data is gathered. Try combining with `obdOdometerMeters`.\n- `intakeManifoldTemperatureMilliC`: The intake manifold temperature reading in millidegree Celsius.\n- `nfcCardScans`: ID card scans.\n- `obdEngineSeconds`: The cumulative number of seconds the engine has run according to onboard diagnostics.\n- `obdOdometerMeters`: The odometer reading according to onboard diagnostics. If Samsara does not have diagnostic coverage for a particular vehicle, the value for this stat type will be omitted. Try combining with `gpsOdometerMeters`. \n- `syntheticEngineSeconds`: Data for the synthetic engine seconds for the vehicle.\n- `evStateOfChargeMilliPercent`: Milli percent State of Charge for electric and hybrid vehicles. Not all EV and HEVs may report this field.\n- `evChargingStatus`: Charging status for electric and hybrid vehicles. Not all EV and HEVs may report this field. Statuses:  unknown - 0, not charging - 1, charging - 2.\n- `evChargingEnergyMicroWh`: Charging energy for electric and hybrid vehicles in microwatt hours. Not all EV and HEVs may report this field.\n- `evChargingVoltageMilliVolt`: Charging voltage for electric and hybrid vehicles in milli volts. Not all EV and HEVs may report this field.\n- `evChargingCurrentMilliAmp`: Charging current for electric and hybrid vehicles in milli amps. Not all EV and HEVs may report this field.\n- `evConsumedEnergyMicroWh`: Consumed energy (including regenerated) for electric and hybrid vehicles in microwatt hours. Not all EV and HEVs may report this field.\n- `evRegeneratedEnergyMicroWh`: Regenerated energy for electric and hybrid vehicles in microwatt hours. Not all EV and HEVs may report this field.\n- `evBatteryVoltageMilliVolt`: Battery voltage for electric and hybrid vehicles in milli volts. Not all EV and HEVs may report this field.\n- `evBatteryCurrentMilliAmp`: Battery current for electric and hybrid vehicles in milli amps. Not all EV and HEVs may report this field.\n- `evBatteryStateOfHealthMilliPercent`: Milli percent battery state of health for electric and hybrid vehicles. Not all EV and HEVs may report this field.\n- `evAverageBatteryTemperatureMilliCelsius`: Battery temperature for electric and hybrid vehicles in milli celsius. Not all EV and HEVs may report this field.\n- `evDistanceDrivenMeters`: Electric distance driven for electric and hybrid vehicles in meters. Not all EV and HEVs may report this field.\n- `spreaderLiquidRate`: Liquid spread rate reading in milliliters per meter, read from the material spreader. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance.\n- `spreaderGranularRate`: Granular spread rate reading in milliliters per meter, read from the material spreader. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance.\n- `spreaderPrewetRate`: Prewet spread rate reading in milliliters per meter, read from the material spreader. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance.\n- `spreaderAirTemp`: Air (ambient) temperature in milli celsius reading from material spreader.\n- `spreaderRoadTemp`: Road temperature reading in milli celsius from material spreader.\n- `spreaderOnState`: Whether vehicle spreader is enabled.\n- `spreaderActive`: Whether vehicle is actively spreading any material.\n- `spreaderBlastState`: Whether vehicle is actively spreading material in blast mode.\n- `spreaderGranularName`: Name of most recent type of granular material spread, read from the material spreader.\n- `spreaderPrewetName`: Name of most recent type of prewet material spread, read from the material spreader.\n- `spreaderLiquidName`: Name of most recent type of liquid material spread, read from the material spreader.\n- `spreaderPlowStatus`: Snow plow status (`Up` or `Down`), as read from the material spreader. Note: this is separate from plow status defined via auxInput.\n- `seatbeltDriver`: Seatbelt Driver Status as read from the vehicle. `Buckled` or `Unbuckled`. (Beta only)"
        explode: false
        in: query
        name: types
        required: true
        schema:
          items:
            enum:
            - ambientAirTemperatureMilliC
            - auxInput1
            - auxInput2
            - auxInput3
            - auxInput4
            - auxInput5
            - auxInput6
            - auxInput7
            - auxInput8
            - auxInput9
            - auxInput10
            - auxInput11
            - auxInput12
            - auxInput13
            - barometricPressurePa
            - batteryMilliVolts
            - defLevelMilliPercent
            - ecuSpeedMph
            - engineCoolantTemperatureMilliC
            - engineImmobilizer
            - engineLoadPercent
            - engineOilPressureKPa
            - engineRpm
            - engineStates
            - faultCodes
            - fuelPercents
            - gps
            - gpsDistanceMeters
            - gpsOdometerMeters
            - intakeManifoldTemperatureMilliC
            - nfcCardScans
            - obdEngineSeconds
            - obdOdometerMeters
            - syntheticEngineSeconds
            - evStateOfChargeMilliPercent
            - evChargingStatus
            - evChargingEnergyMicroWh
            - evChargingVoltageMilliVolt
            - evChargingCurrentMilliAmp
            - evConsumedEnergyMicroWh
            - evRegeneratedEnergyMicroWh
            - evBatteryVoltageMilliVolt
            - evBatteryCurrentMilliAmp
            - evBatteryStateOfHealthMilliPercent
            - evAverageBatteryTemperatureMilliCelsius
            - evDistanceDrivenMeters
            - spreaderLiquidRate
            - spreaderGranularRate
            - spreaderPrewetRate
            - spreaderAirTemp
            - spreaderRoadTemp
            - spreaderOnState
            - spreaderActive
            - spreaderBlastState
            - spreaderGranularName
            - spreaderPrewetName
            - spreaderLiquidName
            - spreaderPlowStatus
            - seatbeltDriver
            type: string
          type: array
        style: form
      - description: 'Decorations to add to the primary stats listed in the `types` parameter. For example, if you wish to know the vehicle''s location whenever the engine changes state, you may set `types=engineStates&decorations=gps`.


          You may list ***up to 2*** decorations using comma-separated format. If multiple stats are listed in the `types` parameter, the decorations will be added to each one. For example: `types=engineStates,obdOdometerMeters,faultCodes&decorations=gps,fuelPercents` will list GPS and fuel decorations for each engine state change, each odometer reading, and each fault code. See the <a href="/docs/telematics#query-parameters" target="_blank">Telematics</a> guide for more details.


          Note that decorations may significantly increase the response payload size.


          - `ambientAirTemperatureMilliC`: The ambient air temperature reading in millidegree Celsius.

          - `auxInput1`-`auxInput13`: Stat events from the <a href="https://kb.samsara.com/hc/en-us/articles/360043040512-Auxiliary-Inputs" target="_blank">auxiliary inputs</a> for the vehicle.

          - `batteryMilliVolts`: The vehicle battery voltage reading.

          - `barometricPressurePa`: The barometric pressure reading in pascals.

          - `ecuSpeedMph`: The speed of the engine in miles per hour according to the ECU.

          - `engineCoolantTemperatureMilliC`: The engine coolant temperature reading in millidegree Celsius.

          - `engineImmobilizer`: The state of the engine immobilizer - Valid values: `ignition_disabled`, `ignition_enabled`. This stat type will only return states of our first Engine Immobilizer Hardware (ACC-EI). Please use <a href="https://developers.samsara.com/reference/getengineimmobilizerstates" target="_blank">Get engine immobilizer states</a> to get states for both Engine Immobilizer Hardware versions (incl. HW-EI21).

          - `engineOilPressureKPa`: The engine oil pressure reading in kilopascals.

          - `engineLoadPercent`: The engine load in percentage points (e.g. `99`, `50`, etc).

          - `engineRpm`: The revolutions per minute of the engine.

          - `engineStates`: The state of the engine (`Off`, `On`, `Idle`).

          - `faultCodes`: The diagnostic fault codes for the vehicle.

          - `fuelPercents`: The engine fuel level in percentage points (e.g. `99`, `50`, etc).

          - `gps`: GPS data including lat/long, heading, speed, address book entry (if exists), and a reverse geocoded address.

          - `gpsDistanceMeters`: The distance the vehicle has traveled since the gateway was installed based on GPS calculations.

          - `intakeManifoldTemperatureMilliC`: The intake manifold temperature reading in millidegree Celsius.

          - `nfcCardScans`: ID card scans.

          - `obdEngineSeconds`: The cumulative number of seconds the engine has run according to onboard diagnostics.

          - `obdOdometerMeters`: The odometer reading according to onboard diagnostics. If Samsara does not have diagnostic coverage for a particular vehicle, the value for this stat type will be omitted.

          - `syntheticEngineSeconds`: Data for the synthetic engine seconds for the vehicle.

          - `evStateOfChargeMilliPercent`: Milli percent State of Charge for electric and hybrid vehicles. Not all EV and HEVs may report this field.

          - `evChargingStatus`: Charging status for electric and hybrid vehicles. Not all EV and HEVs may report this field. Statuses:  unknown - 0, not charging - 1, charging - 2.

          - `evChargingEnergyMicroWh`: Charging energy for electric and hybrid vehicles in microwatt hours. Not all EV and HEVs may report this field.

          - `evChargingVoltageMilliVolt`: Charging voltage for electric and hybrid vehicles in milli  volts. Not all EV and HEVs may report this field.

          - `evChargingCurrentMilliAmp`: Charging current for electric and hybrid vehicles in milli amps. Not all EV and HEVs may report this field.

          - `evConsumedEnergyMicroWh`: Consumed energy (including regenerated) for electric and hybrid vehicles in microwatt hours. Not all EV and HEVs may report this field.

          - `evRegeneratedEnergyMicroWh`: Regenerated energy for electric and hybrid vehicles in microwatt hours. Not all EV and HEVs may report this field.

          - `evBatteryVoltageMilliVolt`: Battery voltage for electric and hybrid vehicles in milli volts. Not all EV and HEVs may report this field.

          - `evBatteryCurrentMilliAmp`: Battery current for electric and hybrid vehicles in milli amps. Not all EV and HEVs may report this field.

          - `evBatteryStateOfHealthMilliPercent`: Milli percent battery state of health for electric and hybrid vehicles. Not all EV and HEVs may report this field.

          - `evAverageBatteryTemperatureMilliCelsius`: Battery temperature for electric and hybrid vehicles in milli celsius. Not all EV and HEVs may report this field.

          - `evDistanceDrivenMeters`: Electric distance driven for electric and hybrid vehicles in meters. Not all EV and HEVs may report this field.

          - `spreaderLiquidRate`: Liquid spread rate reading in milliliters per meter, read from the material spreader. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance.

          - `spreaderGranularRate`: Granular spread rate reading in milliliters per meter, read from the material spreader. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance.

          - `spreaderPrewetRate`: Prewet spread rate reading in milliliters per meter, read from the material spreader. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance.

          - `spreaderAirTemp`: Air (ambient) temperature in milli celsius reading from material spreader.

          - `spreaderRoadTemp`: Road temperature reading in milli celsius from material spreader.

          - `spreaderOnState`: Whether vehicle spreader is enabled.

          - `spreaderActive`: Whether vehicle is actively spreading any material.

          - `spreaderBlastState`: Whether vehicle is actively spreading material in blast mode.

          - `spreaderGranularName`: Name of most recent type of granular material spread, read from the material spreader.

          - `spreaderPrewetName`: Name of most recent type of prewet material spread, read from the material spreader.

          - `spreaderLiquidName`: Name of most recent type of liquid material spread, read from the material spreader.

          - `spreaderPlowStatus`: Snow plow status (`Up` or `Down`), as read from the material spreader. Note: this is separate from plow status defined via auxInput.

          - `seatbeltDriver`: Seatbelt Driver Status as read from the vehicle. `Buckled` or `Unbuckled`. (Beta only)'
        explode: false
        in: query
        name: decorations
        schema:
          items:
            enum:
            - ambientAirTemperatureMilliC
            - auxInput1
            - auxInput2
            - auxInput3
            - auxInput4
            - auxInput5
            - auxInput6
            - auxInput7
            - auxInput8
            - auxInput9
            - auxInput10
            - auxInput11
            - auxInput12
            - auxInput13
            - batteryMilliVolts
            - barometricPressurePa
            - defLevelMilliPercent
            - ecuSpeedMph
            - engineCoolantTemperatureMilliC
            - engineImmobilizer
            - engineLoadPercent
            - engineOilPressureKPa
            - engineRpm
            - engineStates
            - faultCodes
            - fuelPercents
            - gps
            - gpsDistanceMeters
            - intakeManifoldTemperatureMilliC
            - nfcCardScans
            - obdEngineSeconds
            - obdOdometerMeters
            - spreaderLiquidRate
            - spreaderGranularRate
            - spreaderPrewetRate
            - spreaderAirTemp
            - spreaderRoadTemp
            - spreaderOnState
            - spreaderActive
            - spreaderBlastState
            - spreaderGranularName
            - spreaderPrewetName
            - spreaderLiquidName
            - spreaderPlowStatus
            - seatbeltDriver
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleStatsListResponse'
          description: List of stat events for the specified vehicles and stat types.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Stats Feed
      tags:
      - Feed
  /industrial/data-inputs/data-points/feed:
    get:
      description: "Follow a continuous feed of all data input data points.\n\nYour first call to this endpoint will provide you with the most recent data points for each data input and a `pagination` object that contains an `endCursor`.\n\nYou can provide the `endCursor` to the `after` parameter of this endpoint to get data point updates since that `endCursor`.\n\nIf `hasNextPage` is `false`, no updates are readily available yet. We suggest waiting a minimum of 5 seconds before requesting updates. \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team.\n\nTo use this endpoint, select **Read Equipment Statistics** under the Equipment category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>"
      operationId: getDataInputDataFeed
      parameters:
      - description: If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.
        in: query
        name: after
        schema:
          type: string
      - description: 'A filter on the data based on this comma-separated list of parent tag IDs, for use by orgs with tag hierarchies. Specifying a parent tag will implicitly include all descendent tags of the parent tag. Example: `parentTagIds=345,678`'
        explode: false
        in: query
        name: parentTagIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'A filter on the data based on this comma-separated list of tag IDs. Example: `tagIds=1234,5678`'
        explode: false
        in: query
        name: tagIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'A comma-separated list of data input IDs. Example: `dataInputIds=1234,5678`'
        explode: false
        in: query
        name: dataInputIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'A comma-separated list of industrial asset UUIDs. Example: `assetIds=076efac2-83b5-47aa-ba36-18428436dcac,6707b3f0-23b9-4fe3-b7be-11be34aea544`'
        explode: false
        in: query
        name: assetIds
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataInputListResponse'
          description: List of all data points for specified data inputs
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Unexpected error.
      summary: Follow a Real-time Feed of Data Points for Data Inputs
      tags:
      - Feed
components:
  schemas:
    SafetyEventsGetSafetyActivityEventFeedResponseBody:
      properties:
        data:
          description: Paginated safety event activity feed limited to 10 events.
          items:
            $ref: '#/components/schemas/SafetyEventActivityFeedItemResponseBody'
          type: array
        pagination:
          $ref: '#/components/schemas/GoaPaginationResponseResponseBody'
      required:
      - data
      - pagination
      type: object
    VehicleStatsEngineLoadPercentWithDecoration:
      description: The engine load percentage reading.
      properties:
        decorations:
          $ref: '#/components/schemas/VehicleStatsDecorations'
        time:
          $ref: '#/components/schemas/time'
        value:
          description: The engine load in percentage points (e.g. `99`, `50`, etc).
          example: 54
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    time:
      description: 'UTC timestamp in RFC 3339 format. Example: `2020-01-27T07:06:25Z`.'
      example: '2020-01-27T07:06:25Z'
      type: string
    EquipmentLocationsListResponse:
      description: A time-series of equipment locations and pagination information
      properties:
        data:
          description: Time-series of locations for the specified units of equipment.
          items:
            $ref: '#/components/schemas/EquipmentLocationsListResponse_data'
          type: array
        pagination:
          $ref: '#/components/schemas/paginationResponse'
      required:
      - data
      - pagination
      type: object
    VehicleStatsAuxInputValue:
      description: Boolean indicating the state of the auxiliary equipment.
      example: true
      type: boolean
    VehicleStatsDecorations_ecuSpeedMph:
      properties:
        value:
          $ref: '#/components/schemas/VehicleStatsEcuSpeedMphValue'
      required:
      - value
      type: object
    VehicleStatsEvDistanceDrivenMeters:
      description: Electric distance driven for electric and hybrid vehicles in meters. Not all EV and HEVs may report this field.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Electric distance driven for electric and hybrid vehicles in meters.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsEcuSpeedMphValue:
      description: The speed of the vehicle in miles per hour, as reported by the ECU.
      example: 58.3
      format: double
      type: number
    VehicleStatsEvRegeneratedEnergyMicroWh:
      description: Regenerated energy for electric and hybrid vehicles in microwatt hours. Not all EV and HEVs may report this field.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Regenerated energy for electric and hybrid vehicles in microwatt hours.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    EquipmentObdEngineState:
      description: Engine state reading from on-board diagnostics.
      properties:
        time:
          $ref: '#/components/schemas/EquipmentTime'
        value:
          description: 'The state of the engine read from on-board diagnostics. Valid values: `Off`, `On`, `Idle`.'
          enum:
          - 'Off'
          - 'On'
          - Idle
          example: 'On'
          type: string
      required:
      - time
      - value
      type: object
    standardErrorResponse:
      description: Error response
      properties:
        message:
          description: The message of the error.
          example: An error has occurred.
          type: string
        requestId:
          description: The ID of the request.
          example: 8916e1c1
          type: string
      type: object
    VehicleStatsFuelPercentValue:
      description: The engine fuel level in percentage points (e.g. `99`, `50`, etc).
      example: 54
      format: int64
      type: integer
    VehicleStatsFaultCodesOemTroubleCode:
      description: Proprietary diagnostic trouble code for some OEM vehicles.
      properties:
        codeDescription:
          description: The OEM code description.
          example: KVGT Servo Error
          type: string
        codeIdentifier:
          description: The OEM code identifier.
          example: CA2387
          type: string
        codeSeverity:
          description: The OEM code severity.
          example: L03
          type: string
        codeSource:
          description: The OEM code source.
          example: ENG/M
          type: string
      type: object
    VehicleAuxInputName:
      description: 'The type of <a href="https://kb.samsara.com/hc/en-us/articles/360043040512-Auxiliary-Inputs" target="_blank">auxiliary input</a> configured for this Vehicle. Once configured, these inputs will generate dynamic, time-series data that will be available to view in the Samsara Dashboard. **By default**: empty. This can be set or updated through the Samsara Dashboard or the API at any time. Inputs 3-13 are only available on gateways with an attached aux expander. The value returned will match what is configured in the dashboard per vehicle.'
      example: Boom
      type: string
    VehicleStatsFaultCodesJ1939TroubleCode:
      description: Diagnostic trouble code for J1939 vehicles.
      properties:
        fmiDescription:
          description: A short description of the FMI identifier, if available.
          example: Voltage Below Normal
          type: string
        fmiId:
          description: The FMI identifier.
          example: 9
          format: int32
          type: integer
        milStatus:
          description: The MIL status, indicating a check engine light.
          example: 1
          format: int32
          type: integer
        occurrenceCount:
          description: The number of times this fault has triggered.
          example: 1
          format: int32
          type: integer
        sourceAddressName:
          description: The source address name corresponding to the txId
          example: 'Engine #1'
          type: string
        spnDescription:
          description: A short description of the SPN identifier, if available.
          example: 'System Diagnostic Code #1'
          type: string
        spnId:
          description: The SPN identifier.
          example: 3031
          format: int32
          type: integer
        txId:
          $ref: '#/components/schemas/VehicleStatsFaultCodesTxId'
        vendorSpecificFields:
          $ref: '#/components/schemas/VehicleStatsFaultCodesVendorSpecificFields'
      required:
      - fmiId
      - milStatus
      - occurrenceCount
      - spnId
      - txId
      type: object
    VehicleStatsListGps:
      description: GPS location data for the vehicle.
      properties:
        address:
          $ref: '#/components/schemas/VehicleLocationAddress'
        decorations:
          $ref: '#/components/schemas/VehicleStatsDecorations'
        headingDegrees:
          $ref: '#/components/schemas/VehicleLocationHeading'
        isEcuSpeed:
          $ref: '#/components/schemas/VehicleLocationIsEcuSpeed'
        latitude:
          $ref: '#/components/schemas/VehicleLocationLatitude'
        longitude:
          $ref: '#/components/schemas/VehicleLocationLongitude'
        reverseGeo:
          $ref: '#/components/schemas/reverseGeo'
        speedMilesPerHour:
          $ref: '#/components/schemas/VehicleLocationSpeed'
        time:
          $ref: '#/components/schemas/time'
      required:
      - latitude
      - longitude
      - time
      type: object
    VehicleStatsSpreaderPrewetName:
      description: Name of most recent type of prewet material spread, read from the material spreader.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Name of most recent type of prewet material spread, read from the material spreader.
          example: PWT1
          type: string
      required:
      - time
      - value
      type: object
    VehicleStatsFaultCodesJ1939TroubleCodes:
      description: Diagnostic trouble codes for J1939 vehicles.
      items:
        $ref: '#/components/schemas/VehicleStatsFaultCodesJ1939TroubleCode'
      type: array
    VehicleStatsFaultCodesPassengerMonitorStatus:
      description: Readings from engine sensors
      properties:
        catalyst:
          $ref: '#/components/schemas/VehicleStatsFaultCodesPassengerMonitorStatusValue'
        comprehensive:
          $ref: '#/components/schemas/VehicleStatsFaultCodesPassengerMonitorStatusValue'
        egr:
          $ref: '#/components/schemas/VehicleStatsFaultCodesPassengerMonitorStatusValue'
        evapSystem:
          $ref: '#/components/schemas/VehicleStatsFaultCodesPassengerMonitorStatusValue'
        fuel:
          $ref: '#/components/schemas/VehicleStatsFaultCodesPassengerMonitorStatusValue'
        heatedCatalyst:
          $ref: '#/components/schemas/VehicleStatsFaultCodesPassengerMonitorStatusValue'
        heatedO2Sensor:
          $ref: '#/components/schemas/VehicleStatsFaultCodesPassengerMonitorStatusValue'
        isoSaeReserved:
          $ref: '#/components/schemas/VehicleStatsFaultCodesPassengerMonitorStatusValue'
        misfire:
          $ref: '#/components/schemas/VehicleStatsFaultCodesPassengerMonitorStatusValue'
        notReadyCount:
          description: 'Count of the number of sensors reporting N: Not Complete'
          type: integer
        o2Sensor:
          $ref: '#/components/schemas/VehicleStatsFaultCodesPassengerMonitorStatusValue'
        secondaryAir:
          $ref: '#/components/schemas/VehicleStatsFaultCodesPassengerMonitorStatusValue'
      type: object
    VehicleStatsDefLevelMilliPercentWithDecoration:
      description: The Diesel Exhaust Fluid (DEF) milli percentage reading.
      properties:
        decorations:
          $ref: '#/components/schemas/VehicleStatsDecorations'
        time:
          $ref: '#/components/schemas/time'
        value:
          description: The Diesel Exhaust Fluid (DEF) level in milli percentage points (e.g. `99001`, `49999`, etc).
          example: 54200
          format: int64
          maximum: 99999
          minimum: 0
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsAmbientAirTempMilliCWithDecoration:
      description: Vehicle ambient air temperature reading.
      properties:
        decorations:
          $ref: '#/components/schemas/VehicleStatsDecorations'
        time:
          $ref: '#/components/schemas/time'
        value:
          description: The ambient air temperature reading in millidegree Celsius.
          example: 31110
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    EquipmentGpsOdometerMeters:
      description: GPS odometer reading.
      properties:
        time:
          $ref: '#/components/schemas/EquipmentTime'
        value:
          description: An approximation of odometer reading based on GPS calculations since the AG26 was activated, and a manual odometer offset provided in the Samsara cloud dashboard.
          example: 3200
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsDecorations_gpsDistanceMeters:
      properties:
        value:
          $ref: '#/components/schemas/VehicleStatsGpsDistanceMetersValue'
      required:
      - value
      type: object
    VehicleStatsGpsDistanceMetersValue:
      description: Number of meters the vehicle has traveled since the gateway was installed, based on GPS calculations.
      example: 81029.591434899
      format: double
      type: number
    VehicleStatsEngineOilPressureKPaWithDecoration:
      description: Vehicle engine oil pressure reading.
      properties:
        decorations:
          $ref: '#/components/schemas/VehicleStatsDecorations'
        time:
          $ref: '#/components/schemas/time'
        value:
          description: The engine oil pressure reading in kilopascals.
          example: 100
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleId:
      description: The unique Samsara ID of the Vehicle. This is automatically generated when the Vehicle object is created. It cannot be changed.
      example: '112'
      type: string
    VehicleStatsDecorations_engineStates:
      properties:
        value:
          description: The state of the engine.
          enum:
          - 'Off'
          - 'On'
          - Idle
          example: 'On'
          type: string
      required:
      - value
      type: object
    VehicleStatsFaultCodesWithDecoration:
      description: Engine fault codes read from J1939, OBDII, and OEM vehicles.
      properties:
        canBusType:
          $ref: '#/components/schemas/VehicleStatsFaultCodesCanBusType'
        decorations:
          $ref: '#/components/schemas/VehicleStatsDecorations'
        j1939:
          $ref: '#/components/schemas/VehicleStatsFaultCodesJ1939'
        obdii:
          $ref: '#/components/schemas/VehicleStatsFaultCodesOBDII'
        oem:
          $ref: '#/components/schemas/VehicleStatsFaultCodesOem'
        time:
          $ref: '#/components/schemas/time'
      required:
      - time
      type: object
    VehicleStatsEvChargingStatus:
      description: Charging status for electric and hybrid vehicles. Not all EV and HEVs may report this field.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: "Charging status for electric and hybrid vehicles. Statuses:\n unknown - 0,\n not charging - 1,\n charging - 2."
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    DataInputResponse_allOf:
      properties:
        fftSpectraPoints:
          description: List of FFT spectra data points from the data input.
          items:
            $ref: '#/components/schemas/FftSpectraDataPoint'
          type: array
        j1939D1StatusPoints:
          description: List of active J1939D1 statuses.
          items:
            $ref: '#/components/schemas/J1939D1StatusDataPoint'
          type: array
        locationPoints:
          description: List of location data points from the data input.
          items:
            $ref: '#/components/schemas/LocationDataPoint'
          type: array
        numberPoints:
          description: List of numeric data points from the data input.
          items:
            $ref: '#/components/schemas/NumberDataPoint'
          type: array
        stringPoints:
          description: List of string data points from the data input.
          items:
            $ref: '#/components/schemas/StringDataPoint'
          type: array
      type: object
    vehicleStatsAuxInputTime:
      description: 'UTC timestamp in RFC 3339 format. Example: `2020-01-27T07:06:25Z`.'
      example: '2020-01-27T07:06:25Z'
      type: string
      x-go-gen-location: models
    VehicleStatsFaultCodesValue_obdii_monitorStatus:
      description: Readings from engine sensors
      properties:
        catalyst:
          description: 'Enum of monitor status:

            -U: Unsupported

            -N: Not Complete

            -R: Complete

            '
          enum:
          - N
          - R
          - U
          type: string
        comprehensive:
          description: 'Enum of monitor status:

            -U: Unsupported

            -N: Not Complete

            -R: Complete

            '
          enum:
          - N
          - R
          - U
          type: string
        egr:
          description: 'Enum of monitor status:

            -U: Unsupported

            -N: Not Complete

            -R: Complete

            '
          enum:
          - N
          - R
          - U
          type: string
        evapSystem:
          description: 'Enum of monitor status:

            -U: Unsupported

            -N: Not Complete

            -R: Complete

            '
          enum:
          - N
          - R
          - U
          type: string
        fuel:
          description: 'Enum of monitor status:

            -U: Unsupported

            -N: Not Complete

            -R: Complete

            '
          enum:
          - N
          - R
          - U
          type: string
        heatedCatalyst:
          description: 'Enum of monitor status:

            -U: Unsupported

            -N: Not Complete

            -R: Complete

            '
          enum:
          - N
          - R
          - U
          type: string
        heatedO2Sensor:
          description: 'Enum of monitor status:

            -U: Unsupported

            -N: Not Complete

            -R: Complete

            '
          enum:
          - N
          - R
          - U
          type: string
        isoSaeReserved:
          description: 'Enum of monitor status:

            -U: Unsupported

            -N: Not Complete

            -R: Complete

            '
          enum:
          - N
          - R
          - U
          type: string
        misfire:
          description: 'Enum of monitor status:

            -U: Unsupported

            -N: Not Complete

            -R: Complete

            '
          enum:
          - N
          - R
          - U
          type: string
        notReadyCount:
          description: 'Count of the number of sensors reporting N: Not Complete'
          type: integer
        o2Sensor:
          description: 'Enum of monitor status:

            -U: Unsupported

            -N: Not Complete

            -R: Complete

            '
          enum:
          - N
          - R
          - U
          type: string
        secondaryAir:
          description: 'Enum of monitor status:

            -U: Unsupported

            -N: Not Complete

            -R: Complete

            '
          enum:
          - N
          - R
          - U
          type: string
      type: object
    VehicleStatsEngineImmobilizerWithDecoration:
      description: Data for the engine immobilizer
      properties:
        connected:
          description: Whether the engine immobilizer is connected or not
          example: false
          type: boolean
        decorations:
          $ref: '#/components/schemas/VehicleStatsDecorations'
        state:
          description: 'The state of the engine immobilizer. Valid values: `ignition_disabled`, `ignition_enabled`. This stat type will only return states of our first Engine Immobilizer Hardware (ACC-EI). Please use <a href="https://developers.samsara.com/reference/getengineimmobilizerstates" target="_blank">Get engine immobilizer states</a> to get states for both Engine Immobilizer Hardware versions (incl. HW-EI21).'
          enum:
          - ignition_disabled
          - ignition_enabled
          example: ignition_disabled
          type: string
        time:
          $ref: '#/components/schemas/vehicleStatsAuxInputTime'
      required:
      - connected
      - state
      - time
      type: object
    EquipmentGatewayEngineSeconds:
      description: Engine seconds reading from the aux/digio cable.
      properties:
        time:
          $ref: '#/components/schemas/EquipmentTime'
        value:
          description: An approximation of the number of seconds the engine has been running since it was new, based on the amount of time the AG26 device is receiving power and an offset provided manually through the Samsara cloud dashboard.
          example: 22374000
          type: integer
      required:
      - time
      - value
      type: object
    addressTinyResponse:
      description: Address book entry, if one exists
      properties:
        id:
          description: Address book identifier
          example: '123'
          type: string
        name:
          description: Name of this address book entry
          example: Main Distribution Warehouse
          type: string
      type: object
    VehicleStatsNfcCardScan_card:
      description: The card that was scanned.
      properties:
        id:
          description: The id code of the card that was scanned.
          example: '835063'
          type: string
      type: object
    paginationResponse:
      description: Pagination parameters.
      properties:
        endCursor:
          description: Cursor identifier representing the last element in the response. This value should be used in conjunction with a subsequent request's 'after' query parameter. This may be an empty string if there are no more pages left to view.
          example: MjkY
          format: string
          type: string
        hasNextPage:
          description: True if there are more pages of results immediately available after this endCursor.
          example: true
          type: boolean
      required:
      - endCursor
      - hasNextPage
      type: object
    VehicleStatsEngineLoadPercentValue:
      description: The engine load in percentage points (e.g. `99`, `50`, etc).
      example: 54
      format: int64
      type: integer
    VehicleStatsEngineRpmValue:
      description: The revolutions per minute of the engine.
      example: 1000
      format: int64
      type: integer
    VehicleStatsSeatbeltDriver:
      description: Seatbelt Driver Status as read from the vehicle. `Buckled` or `Unbuckled`.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Seatbelt Driver Status as read from the vehicle. `Buckled` or `Unbuckled`.
          enum:
          - Buckled
          - Unbuckled
          example: Buckled
          type: string
      required:
      - time
      - value
      type: object
    EquipmentFuelPercent:
      description: Fuel percent reading.
      properties:
        time:
          $ref: '#/components/schemas/EquipmentTime'
        value:
          description: The percent of fuel in the unit of equipment.
          example: 54
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsSpreaderGranularName:
      description: Name of most recent type of granular material spread, read from the material spreader.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Name of most recent type of granular material spread, read from the material spreader.
          example: SALT
          type: string
      required:
      - time
      - value
      type: object
    VehicleStatsNfcCardScanWithDecoration:
      description: Data for the nfc card and the time that it was scanned.
      properties:
        card:
          $ref: '#/components/schemas/VehicleStatsNfcCardScan_card'
        decorations:
          $ref: '#/components/schemas/VehicleStatsDecorations'
        time:
          $ref: '#/components/schemas/vehicleStatsAuxInputTime'
      required:
      - card
      - time
      type: object
    VehicleStatsEngineStateWithDecoration:
      description: Vehicle engine state event.
      properties:
        decorations:
          $ref: '#/components/schemas/VehicleStatsDecorations'
        time:
          $ref: '#/components/schemas/time'
        value:
          $ref: '#/components/schemas/VehicleStatsEngineStateSetting'
      required:
      - time
      - value
      type: object
    AssetLocationSpeed:
      description: GPS speed of the asset in miles per hour.
      example: 48.3
      format: double
      type: number
    VehicleStatsEngineImmobilizer:
      description: Data for the engine immobilizer
      properties:
        connected:
          description: Whether the engine immobilizer is connected or not
          example: false
          type: boolean
        state:
          description: 'The state of the engine immobilizer. Valid values: `ignition_disabled`, `ignition_enabled`. This stat type will only return states of our first Engine Immobilizer Hardware (ACC-EI). Please use <a href="https://developers.samsara.com/reference/getengineimmobilizerstates" target="_blank">Get engine immobilizer states</a> to get states for both Engine Immobilizer Hardware versions (incl. HW-EI21).'
          enum:
          - ignition_disabled
          - ignition_enabled
          example: ignition_disabled
          type: string
        time:
          $ref: '#/components/schemas/vehicleStatsAuxInputTime'
      required:
      - connected
      - state
      - time
      type: object
    VehicleStatsListResponse:
      description: List of vehicle stat events and pagination info.
      properties:
        data:
          description: A list of vehicles and an array of stat events for each vehicle.
          items:
            $ref: '#/components/schemas/VehicleStatsListResponse_data'
          type: array
        pagination:
          $ref: '#/components/schemas/paginationResponse'
      required:
      - data
      - pagination
      type: object
    SafetyEventsGetSafetyActivityEventFeedBadGatewayErrorResponseBody:
      description: Bad Gateway
      properties:
        message:
          description: Message of error
          example: 'rpc error: code = Unknown desc = connection refused'
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    VehicleStatsSpreaderGranularRate:
      description: Granular spread rate reading in milliliters per meter, read from the material spreader. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Granular spread rate reading in milliliters per meter, read from the material spreader. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsSpreaderLiquidRate:
      description: Liquid spread rate reading in milliliters per meter, read from the material spreader. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Liquid spread rate reading in milliliters per meter, read from the material spreader. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    EquipmentObdEngineSeconds:
      description: Engine seconds reading from on-board diagnostics.
      properties:
        time:
          $ref: '#/components/schemas/EquipmentTime'
        value:
          description: The number of seconds the engine has been running since it was new. This value is provided directly from on-board diagnostics.
          example: 22374000
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsFaultCodesOemTroubleCodes:
      description: Proprietary diagnostic trouble codes for OEM vehicles.
      items:
        $ref: '#/components/schemas/VehicleStatsFaultCodesOemTroubleCode'
      type: array
    VehicleStatsDecorations_engineRpm:
      properties:
        value:
          $ref: '#/components/schemas/VehicleStatsEngineRpmValue'
      required:
      - value
      type: object
    VehicleStatsGpsOdometerMetersValue:
      description: Number of meters the vehicle has traveled according to the GPS calculations and the manually-specified odometer reading.
      example: 14010293
      format: int64
      type: integer
    VehicleStatsDecorations_barometricPressurePa:
      properties:
        value:
          $ref: '#/components/schemas/VehicleStatsBarometricPressurePaValue'
      required:
      - value
      type: object
    VehicleLocationLongitude:
      description: GPS longitude represented in degrees
      example: -93.343
      format: double
      type: number
    GoaPaginationResponseResponseBody:
      description: Pagination parameters.
      properties:
        endCursor:
          description: Cursor identifier representing the last element in the response. This value should be used in conjunction with a subsequent request's 'after' query parameter. This may be an empty string if there are no more pages left to view.
          example: MjkY
          type: string
        hasNextPage:
          description: True if there are more pages of results immediately available after this endCursor.
          example: true
          type: boolean
      required:
      - endCursor
      - hasNextPage
      type: object
    EquipmentEngineState:
      description: '[DEPRECATED] Please use either `gatewayEngineStates` or `obdEngineStates`.'
      properties:
        time:
          $ref: '#/components/schemas/EquipmentTime'
        value:
          description: 'An approximation of engine state based on readings the AG26 receives from the aux/digio cable. Valid values: `Off`, `On`.'
          enum:
          - 'Off'
          - 'On'
          example: 'On'
          type: string
      required:
      - time
      - value
      type: object
    VehicleStatsDecorations_defLevelMilliPercent:
      properties:
        value:
          $ref: '#/components/schemas/VehicleStatsDefLevelMilliPercentValue'
      required:
      - value
      type: object
    SafetyEventsGetSafetyActivityEventFeedTooManyRequestsErrorResponseBody:
      description: Too many requests
      properties:
        message:
          description: Message of error
          example: Exceeded rate limit.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    VehicleStatsFaultCodesIgnitionType:
      description: 'The ignition type of this passenger vehicle. Valid values: `spark`, `compression`.'
      enum:
      - spark
      - compression
      type: string
    EquipmentLocationsListResponse_data:
      description: A unit of equipment and its time-series of location events.
      properties:
        id:
          $ref: '#/components/schemas/EquipmentId'
        locations:
          description: A time-series of location events for the given unit of equipment.
          items:
            $ref: '#/components/schemas/EquipmentLocation'
          type: array
        name:
          $ref: '#/components/schemas/EquipmentName'
      required:
      - id
      - locations
      - name
      type: object
    VehicleLocation:
      description: Vehicle location event.
      properties:
        heading:
          $ref: '#/components/schemas/VehicleLocationHeading'
        latitude:
          $ref: '#/components/schemas/VehicleLocationLatitude'
        longitude:
          $ref: '#/components/schemas/VehicleLocationLongitude'
        reverseGeo:
          $ref: '#/components/schemas/reverseGeo'
        speed:
          $ref: '#/components/schemas/VehicleLocationSpeed'
        time:
          $ref: '#/components/schemas/time'
      required:
      - latitude
      - longitude
      - time
      type: object
    VehicleStatsEvChargingCurrentMilliAmp:
      description: Charging current for electric and hybrid vehicles in milli amps. Not all EV and HEVs may report this field.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Charging current for electric and hybrid vehicles in milli amps.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    EquipmentEngineSeconds:
      description: '[DEPRECATED] Please use either `gatewayEngineSeconds` or `obdEngineSeconds`.'
      properties:
        time:
          $ref: '#/components/schemas/EquipmentTime'
        value:
          description: An approximation of the number of seconds the engine has been running since it was new, based on the amount of time the AG26 device is receiving power and an offset provided manually through the Samsara cloud dashboard.
          example: 22374000
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsListSyntheticEngineSeconds:
      description: A list of synthetic engine seconds for the vehicle.
      properties:
        decorations:
          $ref: '#/components/schemas/VehicleStatsDecorations'
        time:
          $ref: '#/components/schemas/vehicleStatsAuxInputTime'
        value:
          $ref: '#/components/schemas/VehicleStatsSyntheticEngineSecondsValue'
      required:
      - time
      - value
      type: object
    VehicleStatsEvChargingEnergyMicroWh:
      description: Charging energy for electric and hybrid vehicles in microwatt hours. Not all EV and HEVs may report this field.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Charging energy for electric and hybrid vehicles in microwatt hours.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    SafetyEventsGetSafetyActivityEventFeedServiceUnavailableErrorResponseBody:
      description: Service unavailable
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    VehicleStatsFaultCodesOBDII:
      description: Vehicle fault codes for passenger vehicles.
      properties:
        checkEngineLightIsOn:
          description: True if the check engine light is illuminated (MIL status field is nonzero for any faults).
          example: true
          type: boolean
        diagnosticTroubleCodes:
          description: Diagnostic trouble codes for passenger vehicles.
          items:
            $ref: '#/components/schemas/VehicleStatsFaultCodesOBDIITroubleCode'
          type: array
      type: object
    StringDataPoint:
      description: A single string data point of a data input.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: String value of the data point.
          example: 'On'
          format: string
          type: string
      type: object
    VehicleStatsEvBatteryStateOfHealthMilliPercent:
      description: Milli percent battery state of health for electric and hybrid vehicles. Not all EV and HEVs may report this field.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Milli percent battery state of health for electric and hybrid vehicles.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsDecorations_gpsOdometerMeters:
      properties:
        value:
          $ref: '#/components/schemas/VehicleStatsGpsOdometerMetersValue'
      required:
      - value
      type: object
    VehicleLocationHeading:
      description: Heading of the vehicle in degrees.
      example: 120
      format: double
      type: number
    VehicleStatsFaultCodesJ1939Lights:
      description: Status of engine lights on J1939 vehicles.
      properties:
        emissionsIsOn:
          description: True if the MIL status is nonzero.
          example: true
          type: boolean
        protectIsOn:
          description: True if the engine protect lamp status is nonzero.
          example: false
          type: boolean
        stopIsOn:
          description: True if the red lamp status is nonzero.
          example: false
          type: boolean
        warningIsOn:
          description: True if the amber lamp status is nonzero.
          example: false
          type: boolean
      required:
      - emissionsIsOn
      - protectIsOn
      - stopIsOn
      - warningIsOn
      type: object
    reverseGeo:
      description: Reverse geocoded information.
      properties:
        formattedLocation:
          description: Formatted address of the reverse geocoding data.
          example: 16 N Fair Oaks Ave, Pasadena, CA 91103
          type: string
      type: object
    VehicleStatsBarometricPressurePaWithDecoration:
      description: Vehicle barometric pressure reading.
      properties:
        decorations:
          $ref: '#/components/schemas/VehicleStatsDecorations'
        time:
          $ref: '#/components/schemas/time'
        value:
          description: The barometric pressure reading in pascals.
          example: 100
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsFaultCodesValue_oem:
      description: Vehicle fault codes for OEM vehicles.
      properties:
        diagnosticTroubleCodes:
          description: Proprietary diagnostic trouble codes for OEM vehicles.
          items:
            $ref: '#/components/schemas/VehicleStatsFaultCodesValue_oem_diagnosticTroubleCodes'
          type: array
      type: object
    VehicleStatsFaultCodesPassengerMonitorStatusValue:
      description: 'Enum of monitor status:

        -U: Unsupported

        -N: Not Complete

        -R: Complete

        '
      enum:
      - N
      - R
      - U
      type: string
    VehicleStatsFaultCodesCanBusType:
      description: The CAN bus type of the vehicle.
      example: CANBUS_J1939_500
      type: string
    VehicleStatsDecorations_fuelPercents:
      properties:
        value:
          $ref: '#/components/schemas/VehicleStatsFuelPercentValue'
      required:
      - value
      type: object
    EquipmentId:
      description: Unique Samsara ID for the equipment.
      example: '112'
      type: string
    VehicleStatsAuxInputDecoration:
      properties:
        name:
          description: 'The type of <a href="https://kb.samsara.com/hc/en-us/articles/360043040512-Auxiliary-Inputs" target="_blank">auxiliary input</a> configured for this Vehicle. Once configured, these inputs will generate dynamic, time-series data that will be available to view in the Samsara Dashboard. **By default**: empty. This can be set or updated through the Samsara Dashboard or the API at any time. Inputs 3-13 are only available on gateways with an attached aux expander. The value returned will match what is configured in the dashboard per vehicle.'
          example: Boom
          type: string
        value:
          $ref: '#/components/schemas/VehicleStatsAuxInputValue'
      required:
      - name
      - value
      type: object
    VehicleStatsEcuSpeedMphWithDecoration:
      description: The speed of the vehicle in miles per hour, as reported by the ECU.
      properties:
        decorations:
          $ref: '#/components/schemas/VehicleStatsDecorations'
        time:
          $ref: '#/components/schemas/time'
        value:
          description: The speed of the vehicle in miles per hour.
          example: 32.1
          format: double
          type: number
      required:
      - time
      - value
      type: object
    EquipmentStatsListResponse_data:
      description: A unit of equipment and its time-series of stats events.
      properties:
        engineRpm:
          description: A time-series of engine RPM readings for the given unit of equipment.
          items:
            $ref: '#/components/schemas/EquipmentEngineRpm'
          type: array
        engineSeconds:
          description: '[DEPRECATED] Please use either `gatewayEngineSeconds`, `obdEngineSeconds`, or `gatewayJ1939EngineSeconds`.'
          items:
            $ref: '#/components/schemas/EquipmentEngineSeconds'
          type: array
        engineStates:
          description: '[DEPRECATED] Please use either `gatewayEngineStates` or `obdEngineStates`.'
          items:
            $ref: '#/components/schemas/EquipmentEngineState'
          type: array
        fuelPercents:
          description: A time-series of fuel percent level changes for the given unit of equipment.
          items:
            $ref: '#/components/schemas/EquipmentFuelPercent'
          type: array
        gatewayEngineSeconds:
          description: A time-series of engine seconds readings for the given unit of equipment as an approximate based on readings from the AG26's aux/digio cable.
          items:
            $ref: '#/components/schemas/EquipmentGatewayEngineSeconds'
          type: array
        gatewayEngineStates:
          description: A time-series of engine state changes (as read from the AG26's aux/digio cable) for the given unit of equipment.
          items:
            $ref: '#/components/schemas/EquipmentGatewayEngineState'
          type: array
        gatewayJ1939EngineSeconds:
          description: A time-series of engine seconds readings for the given unit of equipment as an approximate based on readings from the AG26's CAT/J1939 cable.
          items:
            $ref: '#/components/schemas/EquipmentGatewayJ1939EngineSeconds'
          type: array
        gps:
          description: A time-series of GPS locations.
          items:
            $ref: '#/components/schemas/EquipmentStatsGps'
          type: array
        gpsOdometerMeters:
          description: A time-series of GPS odometer readings for the given unit of equipment.
          items:
            $ref: '#/components/schemas/EquipmentGpsOdometerMeters'
          type: array
        id:
          $ref: '#/components/schemas/EquipmentId'
        name:
          $ref: '#/components/schemas/EquipmentName'
        obdEngineSeconds:
          description: A time-series of engine seconds readings for the given unit of equipment directly from on-board diagnostics.
          items:
            $ref: '#/components/schemas/EquipmentObdEngineSeconds'
          type: array
        obdEngineStates:
          description: A time-series of engine state changes (as read from on-board diagnostics) for the given unit of equipment.
          items:
            $ref: '#/components/schemas/EquipmentObdEngineState'
          type: array
      required:
      - id
      - name
      type: object
    EquipmentEngineRpm:
      description: Engine RPM reading.
      properties:
        time:
          $ref: '#/components/schemas/EquipmentTime'
        value:
          description: The revolutions per minute of the engine.
          example: 1800
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsSpreaderAirTemp:
      description: Air (ambient) temperature in milli celsius reading from material spreader.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Air (ambient) temperature in milli celsius reading from material spreader.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleExternalIds:
      description: The <a href="/docs/external-ids" target="_blank">external IDs</a> for the given object.
      example:
        maintenanceId: '250020'
        payrollId: ABFS18600
      type: object
    EquipmentGatewayEngineState:
      description: Engine state reading from the aux/digio cable.
      properties:
        time:
          $ref: '#/components/schemas/EquipmentTime'
        value:
          description: 'An approximation of engine state based on readings the AG26 receives from the aux/digio cable. Valid values: `Off`, `On`.'
          enum:
          - 'Off'
          - 'On'
          example: 'On'
          type: string
      required:
      - time
      - value
      type: object
    VehicleStatsEvBatteryCurrentMilliAmp:
      description: Battery current for electric and hybrid vehicles in milli amps. Not all EV and HEVs may report this field.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Battery current for electric and hybrid vehicles in milli amps.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    LocationDataPoint:
      description: A single location data point of a data input.
      properties:
        gpsLocation:
          $ref: '#/components/schemas/LocationDataPoint_gpsLocation'
        time:
          $ref: '#/components/schemas/time'
      type: object
    VehicleStatsFaultCodesValue_obdii_confirmedDtcs:
      description: Passenger vehicle DTC information
      properties:
        dtcDescription:
          description: The DTC description, if available.
          example: Fuel Rail/System Pressure - Too Low Bank 1
          type: string
        dtcId:
          description: The DTC identifier.
          example: 135
          format: int32
          type: integer
        dtcShortCode:
          description: The DTC short code, if available.
          example: P0087
          type: string
      required:
      - dtcId
      type: object
    J1939D1StatusDataPoint_value:
      description: A single J1939D1 status
      properties:
        amberLampStatus:
          format: int32
          type: number
        fmi:
          format: int32
          type: number
        milStatus:
          format: int32
          type: number
        occuranceCount:
          format: int32
          type: number
        protectLampStatus:
          format: int32
          type: number
        redLampStatus:
          format: int32
          type: number
        spn:
          format: int32
          type: number
        txId:
          format: int32
          type: number
      type: object
    VehicleStatsFaultCodesOBDIITroubleCode:
      description: Diagnostic trouble code for passenger vehicles.
      properties:
        confirmedDtcs:
          description: Confirmed DTC codes.
          items:
            $ref: '#/components/schemas/VehicleStatsFaultCodesPassengerDtc'
          type: array
        ignitionType:
          $ref: '#/components/schemas/VehicleStatsFaultCodesIgnitionType'
        milStatus:
          description: The MIL status, indicating a check engine light.
          example: true
          type: boolean
        monitorStatus:
          $ref: '#/components/schemas/VehicleStatsFaultCodesPassengerMonitorStatus'
        pendingDtcs:
          description: Pending DTC codes.
          items:
            $ref: '#/components/schemas/VehicleStatsFaultCodesPassengerDtc'
          type: array
        permanentDtcs:
          description: Permanent DTC codes.
          items:
            $ref: '#/components/schemas/VehicleStatsFaultCodesPassengerDtc'
          type: array
        txId:
          $ref: '#/components/schemas/VehicleStatsFaultCodesTxId'
      required:
      - txId
      type: object
    VehicleStatsAmbientAirTempMilliCValue:
      description: The ambient air temperature reading in millidegree Celsius.
      example: 31110
      format: int64
      type: integer
    VehicleStatsFaultCodesOem:
      description: Vehicle fault codes for OEM vehicles.
      properties:
        diagnosticTroubleCodes:
          $ref: '#/components/schemas/VehicleStatsFaultCodesOemTroubleCodes'
      type: object
    VehicleStatsSpreaderRoadTemp:
      description: Road temperature reading in milli celsius from material spreader.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Road temperature reading in milli celsius from material spreader.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsAuxInputWithDecoration:
      description: Data for auxiliary digio equipment.
      properties:
        decorations:
          $ref: '#/components/schemas/VehicleStatsDecorations'
        name:
          $ref: '#/components/schemas/VehicleAuxInputName'
        time:
          $ref: '#/components/schemas/vehicleStatsAuxInputTime'
        value:
          description: Boolean indicating the state of the auxiliary equipment.
          example: true
          type: boolean
      type: object
    VehicleStatsEngineStateSetting:
      description: The state of the engine.
      enum:
      - 'Off'
      - 'On'
      - Idle
      example: 'On'
      type: string
    VehicleStatsDecorations_intakeManifoldTemperatureMilliC:
      properties:
        value:
          $ref: '#/components/schemas/VehicleStatsIntakeManifoldTempMilliCValue'
      required:
      - value
      type: object
    AssetLocationHeading:
      description: Heading of the asset in degrees.
      example: 120
      format: double
      type: number
    VehicleStatsFaultCodesValue_obdii_diagnosticTroubleCodes:
      description: Diagnostic trouble code for passenger vehicles.
      properties:
        confirmedDtcs:
          description: Confirmed DTC codes.
          items:
            $ref: '#/components/schemas/VehicleStatsFaultCodesValue_obdii_confirmedDtcs'
          type: array
        ignitionType:
          description: 'The ignition type of this passenger vehicle. Valid values: `spark`, `compression`.'
          enum:
          - spark
          - compression
          type: string
        milStatus:
          description: The MIL status, indicating a check engine light.
          example: true
          type: boolean
        monitorStatus:
          $ref: '#/components/schemas/VehicleStatsFaultCodesValue_obdii_monitorStatus'
        pendingDtcs:
          description: Pending DTC codes.
          items:
            $ref: '#/components/schemas/VehicleStatsFaultCodesValue_obdii_confirmedDtcs'
          type: array
        permanentDtcs:
          description: Permanent DTC codes.
          items:
            $ref: '#/components/schemas/VehicleStatsFaultCodesValue_obdii_confirmedDtcs'
          type: array
        txId:
          description: The TX identifier.
          example: 0
          format: int32
          type: integer
      required:
      - txId
      type: object
    VehicleStatsObdEngineSecondsWithDecoration:
      description: Vehicle OBD engine seconds reading.
      properties:
        decorations:
          $ref: '#/components/schemas/VehicleStatsDecorations'
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Number of seconds the vehicle's engine has been on according to the on-board diagnostics.
          example: 9723103
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    EquipmentGatewayJ1939EngineSeconds:
      description: Engine seconds reading from the J1939/CAT cable.
      properties:
        time:
          $ref: '#/components/schemas/EquipmentTime'
        value:
          description: An approximation of the number of seconds the engine has been running since it was new, based on the amount of time the AG26 device is receiving power and an offset provided manually through the Samsara cloud dashboard.
          example: 22374000
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsEvChargingVoltageMilliVolt:
      description: Charging voltage for electric and hybrid vehicles in milli volts. Not all EV and HEVs may report this field.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Charging voltage for electric and hybrid vehicles in milli volts.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    SafetyEventActivityFeedItemResponseBody:
      description: Safety event activity feed item.
      properties:
        id:
          description: The ID of the activity event feed line item.
          example: 1622151765-212014918174029-1550954461759
          type: string
        safetyEvent:
          $ref: '#/components/schemas/SafetyEventObjectResponseBody'
        time:
          description: The time the activity occurred in the corresponding safety event in RFC 3339 milliseconds format.
          example: '2019-10-12T07:20:50.52Z'
          type: string
        type:
          description: 'The type of activity that occurred in the safety event. We currently only support CoachingStateActivityType, BehaviorLabelActivityType, and CreateSafetyEventActivityType, but we may add support for more activity types in the future.  Valid values: `BehaviorLabelActivityType`, `CoachingStateActivityType`, `CreateSafetyEventActivityType`'
          enum:
          - BehaviorLabelActivityType
          - CoachingStateActivityType
          - CreateSafetyEventActivityType
          example: CreateSafetyEventActivityType
          type: string
      required:
      - id
      - safetyEvent
      - time
      - type
      type: object
    J1939D1StatusDataPoint:
      description: Active J1939D1 statuses of a device.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: List of active statuses.
          items:
            $ref: '#/components/schemas/J1939D1StatusDataPoint_value'
          type: array
      type: object
    EquipmentLocation:
      description: Location reading.
      properties:
        heading:
          description: Heading of the unit of equipment in degrees.
          example: 120
          format: double
          type: number
        latitude:
          description: GPS latitude represented in degrees
          example: 122.142
          format: double
          type: number
        longitude:
          description: GPS longitude represented in degrees
          example: -93.343
          format: double
          type: number
        speed:
          description: GPS speed of the unit of equipment in miles per hour.
          example: 48.3
          format: double
          type: number
        time:
          $ref: '#/components/schemas/time'
      required:
      - latitude
      - longitude
      - time
      type: object
    SafetyEventsGetSafetyActivityEventFeedUnauthorizedErrorResponseBody:
      description: Unauthorized
      properties:
        message:
          description: Message of error
          example: Invalid token.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    VehicleStatsEvBatteryVoltageMilliVolt:
      description: Battery voltage for electric and hybrid vehicles in milli volts. Not all EV and HEVs may report this field.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Battery voltage for electric and hybrid vehicles in milli volts.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    LocationDataPoint_gpsLocation_place:
      description: Address of the location
      properties:
        city:
          description: City
          example: San Francisco
          format: string
          type: string
        houseNumber:
          description: House number
          example: '350'
          format: string
          type: string
        neighborhood:
          description: Neighborhood
          example: Castro
          format: string
          type: string
        poi:
          description: POI
          example: '400'
          format: string
          type: string
        postcode:
          description: Postcode
          example: '94103'
          format: string
          type: string
        state:
          description: State
          example: CA
          format: string
          type: string
        street:
          description: Street
          example: Rhode Island
          format: string
          type: string
      type: object
    DataInputResponse:
      allOf:
      - $ref: '#/components/schemas/DataInputTinyResponse'
      - $ref: '#/components/schemas/DataInputResponse_allOf'
    SafetyEventsGetSafetyActivityEventFeedMethodNotAllowedErrorResponseBody:
      description: Method not allowed
      properties:
        message:
          description: Message of error
          example: DELETE not allowed on /endpoint.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
[...]
