openapi: 3.0.1
info:
  description: Gain greater visibility by connecting your fleets, equipment, sites, and people.
  title: Samsara Vehicle  Stats API
  version: '2024-11-18'
servers:
- url: https://api.samsara.com/
- url: https://api.eu.samsara.com/
security:
- AccessTokenHeader: []
tags:
- name: Vehicle  Stats
paths:
  /fleet/vehicles/stats:
    get:
      description: "Returns the last known stats of all vehicles at the given `time`. If no `time` is specified, the current time is used.\n\nRelated guide: <a href=\"/docs/telematics\" target=\"_blank\">Telematics</a>. \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team.\n\nTo use this endpoint, select **Read Vehicle Statistics** under the Vehicles category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>"
      operationId: getVehicleStats
      parameters:
      - description: If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.
        in: query
        name: after
        schema:
          type: string
      - description: 'A filter on the data that returns the last known data points with timestamps less than or equal to this value. Defaults to now if not provided. Must be a string in RFC 3339 format. Millisecond precision and timezones are supported. (Example: `2020-01-27T07:06:25Z`).'
        in: query
        name: time
        schema:
          type: string
      - description: 'A filter on the data based on this comma-separated list of parent tag IDs, for use by orgs with tag hierarchies. Specifying a parent tag will implicitly include all descendent tags of the parent tag. Example: `parentTagIds=345,678`'
        explode: false
        in: query
        name: parentTagIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'A filter on the data based on this comma-separated list of tag IDs. Example: `tagIds=1234,5678`'
        explode: false
        in: query
        name: tagIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'A filter on the data based on this comma-separated list of vehicle IDs. Example: `vehicleIds=1234,5678`'
        explode: false
        in: query
        name: vehicleIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "The stat types you want this endpoint to return information on. See also the <a href=\"/docs/telematics#query-parameters\" target=\"_blank\">Telematics</a> guide for more details.\n\nYou may list ***up to 3*** types using comma-separated format. For example: `types=gps,engineStates,obdOdometerMeters`.\n\n*Note:* `auxInput3`-`auxInput10` count as a single type against the limit of 3. For example, you could list `types=engineStates,obdOdometerMeters,auxInput3,auxInput4` because `auxInput3` and `auxInput4` count as a single stat type. `auxInput1` and `auxInput2` still count as their own individual types.\n\n- `ambientAirTemperatureMilliC`: The ambient air temperature reading in millidegree Celsius.\n- `auxInput1`-`auxInput13`: Stat events from the <a href=\"https://kb.samsara.com/hc/en-us/articles/360043040512-Auxiliary-Inputs\" target=\"_blank\">auxiliary inputs</a> for the vehicle.\n- `barometricPressurePa`: The barometric pressure reading in pascals.\n- `batteryMilliVolts`: The vehicle battery voltage reading.\n- `defLevelMilliPercent`: The Diesel Exhaust Fluid (DEF) level in milli percentage points (e.g. `99001`, `49999`, etc).\n- `ecuSpeedMph`: The speed of the engine in miles per hour according to the ECU.\n- `engineCoolantTemperatureMilliC`: The engine coolant temperature reading in millidegree Celsius.\n- `engineImmobilizer`: The state of the engine immobilizer - Valid values: `ignition_disabled`, `ignition_enabled`. This stat type will only return states of our first Engine Immobilizer Hardware (ACC-EI). Please use <a href=\"https://developers.samsara.com/reference/getengineimmobilizerstates\" target=\"_blank\">Get engine immobilizer states</a> to get states for both Engine Immobilizer Hardware versions (incl. HW-EI21).\n- `engineLoadPercent`: The engine load in percentage points (e.g. `99`, `50`, etc).\n- `engineOilPressureKPa`: The engine oil pressure reading in kilopascals.\n- `engineRpm`: The revolutions per minute of the engine.\n- `engineStates`: The state of the engine (`Off`, `On`, `Idle`).\n- `faultCodes`: The diagnostic fault codes for the vehicle.\n- `fuelPercents`: The engine fuel level in percentage points (e.g. `99`, `50`, etc).\n- `gps`: GPS data including lat/long, heading, speed, address book entry (if exists), and a reverse geocoded address.\n- `gpsDistanceMeters`: The distance the vehicle has traveled since the gateway was installed based on GPS calculations.\n- `gpsOdometerMeters`: Odometer reading provided by GPS calculations when OBD odometer cannot be pulled automatically. You must provide a manual odometer reading before this value is updated. Manual odometer readings can be provided via the [PATCH /fleet/vehicles/{id}](ref:updatevehicle) endpoint or through the <a href=\"https://kb.samsara.com/hc/en-us/articles/115005273667-Editing-Odometer-Reading\" target=\"_blank\">cloud dasbhoard</a>. Odometer readings that are manually set will update as GPS trip data is gathered. Try combining with `obdOdometerMeters`.\n- `intakeManifoldTemperatureMilliC`: The intake manifold temperature reading in millidegree Celsius.\n- `nfcCardScans`: ID card scans.\n- `obdEngineSeconds`: The cumulative number of seconds the engine has run according to onboard diagnostics.\n- `obdOdometerMeters`: The odometer reading according to onboard diagnostics. If Samsara does not have diagnostic coverage for a particular vehicle, the value for this stat type will be omitted. Try combining with `gpsOdometerMeters`. \n- `syntheticEngineSeconds`: Data for the synthetic engine seconds for the vehicle.\n- `evStateOfChargeMilliPercent`: Milli percent State of Charge for electric and hybrid vehicles. Not all EV and HEVs may report this field.\n- `evChargingStatus`: Charging status for electric and hybrid vehicles. Not all EV and HEVs may report this field. Statuses:  unknown - 0, not charging - 1, charging - 2.\n- `evChargingEnergyMicroWh`: Charging energy for electric and hybrid vehicles in microwatt hours. Not all EV and HEVs may report this field.\n- `evChargingVoltageMilliVolt`: Charging voltage for electric and hybrid vehicles in milli volts. Not all EV and HEVs may report this field.\n- `evChargingCurrentMilliAmp`: Charging current for electric and hybrid vehicles in milli amps. Not all EV and HEVs may report this field.\n- `evConsumedEnergyMicroWh`: Consumed energy (including regenerated) for electric and hybrid vehicles in microwatt hours. Not all EV and HEVs may report this field.\n- `evRegeneratedEnergyMicroWh`: Regenerated energy for electric and hybrid vehicles in microwatt hours. Not all EV and HEVs may report this field.\n- `evBatteryVoltageMilliVolt`: Battery voltage for electric and hybrid vehicles in milli volts. Not all EV and HEVs may report this field.\n- `evBatteryCurrentMilliAmp`: Battery current for electric and hybrid vehicles in milli amps. Not all EV and HEVs may report this field.\n- `evBatteryStateOfHealthMilliPercent`: Milli percent battery state of health for electric and hybrid vehicles. Not all EV and HEVs may report this field.\n- `evAverageBatteryTemperatureMilliCelsius`: Battery temperature for electric and hybrid vehicles in milli celsius. Not all EV and HEVs may report this field.\n- `evDistanceDrivenMeters`: Electric distance driven for electric and hybrid vehicles in meters. Not all EV and HEVs may report this field.\n- `spreaderLiquidRate`: Liquid spread rate reading in milliliters per meter, read from the material spreader. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance.\n- `spreaderGranularRate`: Granular spread rate reading in milliliters per meter, read from the material spreader. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance.\n- `spreaderPrewetRate`: Prewet spread rate reading in milliliters per meter, read from the material spreader. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance.\n- `spreaderAirTemp`: Air (ambient) temperature in milli celsius reading from material spreader.\n- `spreaderRoadTemp`: Road temperature reading in milli celsius from material spreader.\n- `spreaderOnState`: Whether vehicle spreader is enabled.\n- `spreaderActive`: Whether vehicle is actively spreading any material.\n- `spreaderBlastState`: Whether vehicle is actively spreading material in blast mode.\n- `spreaderGranularName`: Name of most recent type of granular material spread, read from the material spreader.\n- `spreaderPrewetName`: Name of most recent type of prewet material spread, read from the material spreader.\n- `spreaderLiquidName`: Name of most recent type of liquid material spread, read from the material spreader.\n- `spreaderPlowStatus`: Snow plow status (`Up` or `Down`), as read from the material spreader. Note: this is separate from plow status defined via auxInput.\n- `seatbeltDriver`: Seatbelt Driver Status as read from the vehicle. `Buckled` or `Unbuckled`. (Beta only)"
        explode: false
        in: query
        name: types
        required: true
        schema:
          items:
            enum:
            - ambientAirTemperatureMilliC
            - auxInput1
            - auxInput2
            - auxInput3
            - auxInput4
            - auxInput5
            - auxInput6
            - auxInput7
            - auxInput8
            - auxInput9
            - auxInput10
            - auxInput11
            - auxInput12
            - auxInput13
            - barometricPressurePa
            - batteryMilliVolts
            - defLevelMilliPercent
            - ecuSpeedMph
            - engineCoolantTemperatureMilliC
            - engineImmobilizer
            - engineLoadPercent
            - engineOilPressureKPa
            - engineRpm
            - engineStates
            - faultCodes
            - fuelPercents
            - gps
            - gpsDistanceMeters
            - gpsOdometerMeters
            - intakeManifoldTemperatureMilliC
            - nfcCardScans
            - obdEngineSeconds
            - obdOdometerMeters
            - syntheticEngineSeconds
            - evStateOfChargeMilliPercent
            - evChargingStatus
            - evChargingEnergyMicroWh
            - evChargingVoltageMilliVolt
            - evChargingCurrentMilliAmp
            - evConsumedEnergyMicroWh
            - evRegeneratedEnergyMicroWh
            - evBatteryVoltageMilliVolt
            - evBatteryCurrentMilliAmp
            - evBatteryStateOfHealthMilliPercent
            - evAverageBatteryTemperatureMilliCelsius
            - evDistanceDrivenMeters
            - spreaderLiquidRate
            - spreaderGranularRate
            - spreaderPrewetRate
            - spreaderAirTemp
            - spreaderRoadTemp
            - spreaderOnState
            - spreaderActive
            - spreaderBlastState
            - spreaderGranularName
            - spreaderPrewetName
            - spreaderLiquidName
            - spreaderPlowStatus
            - seatbeltDriver
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleStatsResponse'
          description: Vehicle stats snapshot
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Stats Snapshot
      tags:
      - Vehicle  Stats
components:
  schemas:
    VehicleStatsResponse_spreaderPlowStatus:
      description: 'Snow plow status (`Up` or `Down`), as read from the material spreader. Note: this is separate from plow status defined via auxInput.'
      properties:
        time:
          description: 'UTC timestamp in RFC 3339 format. Example: `2020-01-27T07:06:25Z`.'
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: Snow plow status, as read from the material spreader
          enum:
          - Up
          - Down
          example: Down
          type: string
      required:
      - time
      - value
      type: object
    VehicleStatsResponse_spreaderBlastState:
      description: Whether vehicle is actively spreading material in blast mode.
      properties:
        time:
          description: 'UTC timestamp in RFC 3339 format. Example: `2020-01-27T07:06:25Z`.'
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: Whether vehicle is actively spreading material in blast mode.
          enum:
          - 'On'
          - 'Off'
          example: 'Off'
          type: string
      required:
      - time
      - value
      type: object
    VehicleStatsEngineState:
      description: Vehicle engine state event.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          $ref: '#/components/schemas/VehicleStatsEngineStateSetting'
      required:
      - time
      - value
      type: object
    VehicleStatsResponse_evDistanceDrivenMeters:
      description: Electric distance driven for electric and hybrid vehicles in meters. Not all EV and HEVs may report this field.
      properties:
        time:
          description: 'UTC timestamp in RFC 3339 format. Example: `2020-01-27T07:06:25Z`.'
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: Electric distance driven for electric and hybrid vehicles in meters.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    time:
      description: 'UTC timestamp in RFC 3339 format. Example: `2020-01-27T07:06:25Z`.'
      example: '2020-01-27T07:06:25Z'
      type: string
    VehicleStatsAuxInputValue:
      description: Boolean indicating the state of the auxiliary equipment.
      example: true
      type: boolean
    VehicleStatsDecorations_ecuSpeedMph:
      properties:
        value:
          $ref: '#/components/schemas/VehicleStatsEcuSpeedMphValue'
      required:
      - value
      type: object
    VehicleStatsEvDistanceDrivenMeters:
      description: Electric distance driven for electric and hybrid vehicles in meters. Not all EV and HEVs may report this field.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Electric distance driven for electric and hybrid vehicles in meters.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsEcuSpeedMphValue:
      description: The speed of the vehicle in miles per hour, as reported by the ECU.
      example: 58.3
      format: double
      type: number
    VehicleStatsEvRegeneratedEnergyMicroWh:
      description: Regenerated energy for electric and hybrid vehicles in microwatt hours. Not all EV and HEVs may report this field.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Regenerated energy for electric and hybrid vehicles in microwatt hours.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsResponse_evChargingEnergyMicroWh:
      description: Charging energy for electric and hybrid vehicles in microwatt hours. Not all EV and HEVs may report this field.
      properties:
        time:
          description: 'UTC timestamp in RFC 3339 format. Example: `2020-01-27T07:06:25Z`.'
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: Charging energy for electric and hybrid vehicles in microwatt hours.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    standardErrorResponse:
      description: Error response
      properties:
        message:
          description: The message of the error.
          example: An error has occurred.
          type: string
        requestId:
          description: The ID of the request.
          example: 8916e1c1
          type: string
      type: object
    VehicleStatsFuelPercentValue:
      description: The engine fuel level in percentage points (e.g. `99`, `50`, etc).
      example: 54
      format: int64
      type: integer
    VehicleStatsFaultCodesOemTroubleCode:
      description: Proprietary diagnostic trouble code for some OEM vehicles.
      properties:
        codeDescription:
          description: The OEM code description.
          example: KVGT Servo Error
          type: string
        codeIdentifier:
          description: The OEM code identifier.
          example: CA2387
          type: string
        codeSeverity:
          description: The OEM code severity.
          example: L03
          type: string
        codeSource:
          description: The OEM code source.
          example: ENG/M
          type: string
      type: object
    VehicleAuxInputName:
      description: 'The type of <a href="https://kb.samsara.com/hc/en-us/articles/360043040512-Auxiliary-Inputs" target="_blank">auxiliary input</a> configured for this Vehicle. Once configured, these inputs will generate dynamic, time-series data that will be available to view in the Samsara Dashboard. **By default**: empty. This can be set or updated through the Samsara Dashboard or the API at any time. Inputs 3-13 are only available on gateways with an attached aux expander. The value returned will match what is configured in the dashboard per vehicle.'
      example: Boom
      type: string
    VehicleStatsFaultCodesJ1939TroubleCode:
      description: Diagnostic trouble code for J1939 vehicles.
      properties:
        fmiDescription:
          description: A short description of the FMI identifier, if available.
          example: Voltage Below Normal
          type: string
        fmiId:
          description: The FMI identifier.
          example: 9
          format: int32
          type: integer
        milStatus:
          description: The MIL status, indicating a check engine light.
          example: 1
          format: int32
          type: integer
        occurrenceCount:
          description: The number of times this fault has triggered.
          example: 1
          format: int32
          type: integer
        sourceAddressName:
          description: The source address name corresponding to the txId
          example: 'Engine #1'
          type: string
        spnDescription:
          description: A short description of the SPN identifier, if available.
          example: 'System Diagnostic Code #1'
          type: string
        spnId:
          description: The SPN identifier.
          example: 3031
          format: int32
          type: integer
        txId:
          $ref: '#/components/schemas/VehicleStatsFaultCodesTxId'
        vendorSpecificFields:
          $ref: '#/components/schemas/VehicleStatsFaultCodesVendorSpecificFields'
      required:
      - fmiId
      - milStatus
      - occurrenceCount
      - spnId
      - txId
      type: object
    VehicleStatsSpreaderPrewetName:
      description: Name of most recent type of prewet material spread, read from the material spreader.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Name of most recent type of prewet material spread, read from the material spreader.
          example: PWT1
          type: string
      required:
      - time
      - value
      type: object
    VehicleStatsFaultCodesJ1939TroubleCodes:
      description: Diagnostic trouble codes for J1939 vehicles.
      items:
        $ref: '#/components/schemas/VehicleStatsFaultCodesJ1939TroubleCode'
      type: array
    VehicleStatsFaultCodesPassengerMonitorStatus:
      description: Readings from engine sensors
      properties:
        catalyst:
          $ref: '#/components/schemas/VehicleStatsFaultCodesPassengerMonitorStatusValue'
        comprehensive:
          $ref: '#/components/schemas/VehicleStatsFaultCodesPassengerMonitorStatusValue'
        egr:
          $ref: '#/components/schemas/VehicleStatsFaultCodesPassengerMonitorStatusValue'
        evapSystem:
          $ref: '#/components/schemas/VehicleStatsFaultCodesPassengerMonitorStatusValue'
        fuel:
          $ref: '#/components/schemas/VehicleStatsFaultCodesPassengerMonitorStatusValue'
        heatedCatalyst:
          $ref: '#/components/schemas/VehicleStatsFaultCodesPassengerMonitorStatusValue'
        heatedO2Sensor:
          $ref: '#/components/schemas/VehicleStatsFaultCodesPassengerMonitorStatusValue'
        isoSaeReserved:
          $ref: '#/components/schemas/VehicleStatsFaultCodesPassengerMonitorStatusValue'
        misfire:
          $ref: '#/components/schemas/VehicleStatsFaultCodesPassengerMonitorStatusValue'
        notReadyCount:
          description: 'Count of the number of sensors reporting N: Not Complete'
          type: integer
        o2Sensor:
          $ref: '#/components/schemas/VehicleStatsFaultCodesPassengerMonitorStatusValue'
        secondaryAir:
          $ref: '#/components/schemas/VehicleStatsFaultCodesPassengerMonitorStatusValue'
      type: object
    VehicleStatsDecorations_gpsDistanceMeters:
      properties:
        value:
          $ref: '#/components/schemas/VehicleStatsGpsDistanceMetersValue'
      required:
      - value
      type: object
    VehicleStatsGpsDistanceMetersValue:
      description: Number of meters the vehicle has traveled since the gateway was installed, based on GPS calculations.
      example: 81029.591434899
      format: double
      type: number
    VehicleId:
      description: The unique Samsara ID of the Vehicle. This is automatically generated when the Vehicle object is created. It cannot be changed.
      example: '112'
      type: string
    VehicleStatsDecorations_engineStates:
      properties:
        value:
          description: The state of the engine.
          enum:
          - 'Off'
          - 'On'
          - Idle
          example: 'On'
          type: string
      required:
      - value
      type: object
    VehicleStatsResponse_evAverageBatteryTemperatureMilliCelsius:
      description: Battery temperature for electric and hybrid vehicles in milli celsius. Not all EV and HEVs may report this field.
      properties:
        time:
          description: 'UTC timestamp in RFC 3339 format. Example: `2020-01-27T07:06:25Z`.'
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: Battery temperature for electric and hybrid vehicles in milli celsius.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsEvChargingStatus:
      description: Charging status for electric and hybrid vehicles. Not all EV and HEVs may report this field.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: "Charging status for electric and hybrid vehicles. Statuses:\n unknown - 0,\n not charging - 1,\n charging - 2."
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    vehicleStatsAuxInputTime:
      description: 'UTC timestamp in RFC 3339 format. Example: `2020-01-27T07:06:25Z`.'
      example: '2020-01-27T07:06:25Z'
      type: string
      x-go-gen-location: models
    VehicleStatsIntakeManifoldTempMilliC:
      description: Vehicle intake manifold temperature reading.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: The intake manifold temperature reading in millidegree Celsius.
          example: 88000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsFaultCodesValue_obdii_monitorStatus:
      description: Readings from engine sensors
      properties:
        catalyst:
          description: 'Enum of monitor status:

            -U: Unsupported

            -N: Not Complete

            -R: Complete

            '
          enum:
          - N
          - R
          - U
          type: string
        comprehensive:
          description: 'Enum of monitor status:

            -U: Unsupported

            -N: Not Complete

            -R: Complete

            '
          enum:
          - N
          - R
          - U
          type: string
        egr:
          description: 'Enum of monitor status:

            -U: Unsupported

            -N: Not Complete

            -R: Complete

            '
          enum:
          - N
          - R
          - U
          type: string
        evapSystem:
          description: 'Enum of monitor status:

            -U: Unsupported

            -N: Not Complete

            -R: Complete

            '
          enum:
          - N
          - R
          - U
          type: string
        fuel:
          description: 'Enum of monitor status:

            -U: Unsupported

            -N: Not Complete

            -R: Complete

            '
          enum:
          - N
          - R
          - U
          type: string
        heatedCatalyst:
          description: 'Enum of monitor status:

            -U: Unsupported

            -N: Not Complete

            -R: Complete

            '
          enum:
          - N
          - R
          - U
          type: string
        heatedO2Sensor:
          description: 'Enum of monitor status:

            -U: Unsupported

            -N: Not Complete

            -R: Complete

            '
          enum:
          - N
          - R
          - U
          type: string
        isoSaeReserved:
          description: 'Enum of monitor status:

            -U: Unsupported

            -N: Not Complete

            -R: Complete

            '
          enum:
          - N
          - R
          - U
          type: string
        misfire:
          description: 'Enum of monitor status:

            -U: Unsupported

            -N: Not Complete

            -R: Complete

            '
          enum:
          - N
          - R
          - U
          type: string
        notReadyCount:
          description: 'Count of the number of sensors reporting N: Not Complete'
          type: integer
        o2Sensor:
          description: 'Enum of monitor status:

            -U: Unsupported

            -N: Not Complete

            -R: Complete

            '
          enum:
          - N
          - R
          - U
          type: string
        secondaryAir:
          description: 'Enum of monitor status:

            -U: Unsupported

            -N: Not Complete

            -R: Complete

            '
          enum:
          - N
          - R
          - U
          type: string
      type: object
    VehicleStatsNfcCardScan_card:
      description: The card that was scanned.
      properties:
        id:
          description: The id code of the card that was scanned.
          example: '835063'
          type: string
      type: object
    VehicleStatsResponse_spreaderRoadTemp:
      description: Road temperature reading in milli celsius from material spreader.
      properties:
        time:
          description: 'UTC timestamp in RFC 3339 format. Example: `2020-01-27T07:06:25Z`.'
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: Road temperature reading in milli celsius from material spreader.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    paginationResponse:
      description: Pagination parameters.
      properties:
        endCursor:
          description: Cursor identifier representing the last element in the response. This value should be used in conjunction with a subsequent request's 'after' query parameter. This may be an empty string if there are no more pages left to view.
          example: MjkY
          format: string
          type: string
        hasNextPage:
          description: True if there are more pages of results immediately available after this endCursor.
          example: true
          type: boolean
      required:
      - endCursor
      - hasNextPage
      type: object
    VehicleStatsEngineLoadPercentValue:
      description: The engine load in percentage points (e.g. `99`, `50`, etc).
      example: 54
      format: int64
      type: integer
    VehicleStatsEngineRpmValue:
      description: The revolutions per minute of the engine.
      example: 1000
      format: int64
      type: integer
    VehicleStatsSeatbeltDriver:
      description: Seatbelt Driver Status as read from the vehicle. `Buckled` or `Unbuckled`.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Seatbelt Driver Status as read from the vehicle. `Buckled` or `Unbuckled`.
          enum:
          - Buckled
          - Unbuckled
          example: Buckled
          type: string
      required:
      - time
      - value
      type: object
    VehicleStatsSpreaderGranularName:
      description: Name of most recent type of granular material spread, read from the material spreader.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Name of most recent type of granular material spread, read from the material spreader.
          example: SALT
          type: string
      required:
      - time
      - value
      type: object
    VehicleStatsResponse_evConsumedEnergyMicroWh:
      description: Consumed energy (including regenerated) for electric and hybrid vehicles in microwatt hours. Not all EV and HEVs may report this field.
      properties:
        time:
          description: 'UTC timestamp in RFC 3339 format. Example: `2020-01-27T07:06:25Z`.'
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: Consumed energy (including regenerated) for electric and hybrid vehicles in microwatt hours.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsResponse_spreaderGranularRate:
      description: Granular spread rate reading in milliliters per meter, read from the material spreader. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance.
      properties:
        time:
          description: 'UTC timestamp in RFC 3339 format. Example: `2020-01-27T07:06:25Z`.'
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: Granular spread rate reading in milliliters per meter, read from the material spreader. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsEngineImmobilizer:
      description: Data for the engine immobilizer
      properties:
        connected:
          description: Whether the engine immobilizer is connected or not
          example: false
          type: boolean
        state:
          description: 'The state of the engine immobilizer. Valid values: `ignition_disabled`, `ignition_enabled`. This stat type will only return states of our first Engine Immobilizer Hardware (ACC-EI). Please use <a href="https://developers.samsara.com/reference/getengineimmobilizerstates" target="_blank">Get engine immobilizer states</a> to get states for both Engine Immobilizer Hardware versions (incl. HW-EI21).'
          enum:
          - ignition_disabled
          - ignition_enabled
          example: ignition_disabled
          type: string
        time:
          $ref: '#/components/schemas/vehicleStatsAuxInputTime'
      required:
      - connected
      - state
      - time
      type: object
    VehicleStatsSpreaderGranularRate:
      description: Granular spread rate reading in milliliters per meter, read from the material spreader. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Granular spread rate reading in milliliters per meter, read from the material spreader. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsResponse_spreaderGranularName:
      description: Name of most recent type of granular material spread, read from the material spreader.
      properties:
        time:
          description: 'UTC timestamp in RFC 3339 format. Example: `2020-01-27T07:06:25Z`.'
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: Name of most recent type of granular material spread, read from the material spreader.
          example: SALT
          type: string
      required:
      - time
      - value
      type: object
    VehicleStatsResponse_spreaderActive:
      description: Whether vehicle is actively spreading any material.
      properties:
        time:
          description: 'UTC timestamp in RFC 3339 format. Example: `2020-01-27T07:06:25Z`.'
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: Whether vehicle is actively spreading any material.
          enum:
          - 'Off'
          - 'On'
          example: 'On'
          type: string
      required:
      - time
      - value
      type: object
    VehicleStatsSpreaderLiquidRate:
      description: Liquid spread rate reading in milliliters per meter, read from the material spreader. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Liquid spread rate reading in milliliters per meter, read from the material spreader. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsResponse_spreaderLiquidRate:
      description: Liquid spread rate reading in milliliters per meter, read from the material spreader. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance.
      properties:
        time:
          description: 'UTC timestamp in RFC 3339 format. Example: `2020-01-27T07:06:25Z`.'
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: Liquid spread rate reading in milliliters per meter, read from the material spreader. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsFaultCodesOemTroubleCodes:
      description: Proprietary diagnostic trouble codes for OEM vehicles.
      items:
        $ref: '#/components/schemas/VehicleStatsFaultCodesOemTroubleCode'
      type: array
    VehicleStatsDecorations_engineRpm:
      properties:
        value:
          $ref: '#/components/schemas/VehicleStatsEngineRpmValue'
      required:
      - value
      type: object
    VehicleStatsDefLevelMilliPercent:
      description: The Diesel Exhaust Fluid (DEF) milli percentage reading.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: The Diesel Exhaust Fluid (DEF) level in milli percentage points (e.g. `99001`, `49999`, etc).
          example: 54200
          format: int64
          maximum: 99999
          minimum: 0
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsGpsOdometerMetersValue:
      description: Number of meters the vehicle has traveled according to the GPS calculations and the manually-specified odometer reading.
      example: 14010293
      format: int64
      type: integer
    VehicleStatsResponse_spreaderPrewetName:
      description: Name of most recent type of prewet material spread, read from the material spreader.
      properties:
        time:
          description: 'UTC timestamp in RFC 3339 format. Example: `2020-01-27T07:06:25Z`.'
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: Name of most recent type of prewet material spread, read from the material spreader.
          example: PWT1
          type: string
      required:
      - time
      - value
      type: object
    VehicleStatsDecorations_barometricPressurePa:
      properties:
        value:
          $ref: '#/components/schemas/VehicleStatsBarometricPressurePaValue'
      required:
      - value
      type: object
    VehicleLocationLongitude:
      description: GPS longitude represented in degrees
      example: -93.343
      format: double
      type: number
    VehicleStatsObdEngineSeconds:
      description: Vehicle OBD engine seconds reading.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Number of seconds the vehicle's engine has been on according to the on-board diagnostics.
          example: 9723103
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsDecorations_defLevelMilliPercent:
      properties:
        value:
          $ref: '#/components/schemas/VehicleStatsDefLevelMilliPercentValue'
      required:
      - value
      type: object
    VehicleStatsResponse_spreaderOnState:
      description: Whether vehicle spreader is enabled.
      properties:
        time:
          description: 'UTC timestamp in RFC 3339 format. Example: `2020-01-27T07:06:25Z`.'
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: Whether vehicle spreader is enabled.
          enum:
          - 'On'
          - 'Off'
          example: 'On'
          type: string
      required:
      - time
      - value
      type: object
    VehicleStatsFaultCodesIgnitionType:
      description: 'The ignition type of this passenger vehicle. Valid values: `spark`, `compression`.'
      enum:
      - spark
      - compression
      type: string
    VehicleStatsEvChargingCurrentMilliAmp:
      description: Charging current for electric and hybrid vehicles in milli amps. Not all EV and HEVs may report this field.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Charging current for electric and hybrid vehicles in milli amps.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsEvChargingEnergyMicroWh:
      description: Charging energy for electric and hybrid vehicles in microwatt hours. Not all EV and HEVs may report this field.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Charging energy for electric and hybrid vehicles in microwatt hours.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsGpsOdometerMeters:
      description: Vehicle GPS odometer event.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Number of meters the vehicle has traveled according to the GPS calculations and the manually-specified odometer reading.
          example: 14010293
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsResponse:
      description: Vehicle stats snapshot and pagination info.
      properties:
        data:
          description: List of vehicles and a snapshot of the request stats.
          items:
            $ref: '#/components/schemas/VehicleStatsResponse_data'
          type: array
        pagination:
          $ref: '#/components/schemas/paginationResponse'
      required:
      - data
      - pagination
      type: object
    VehicleStatsFaultCodesOBDII:
      description: Vehicle fault codes for passenger vehicles.
      properties:
        checkEngineLightIsOn:
          description: True if the check engine light is illuminated (MIL status field is nonzero for any faults).
          example: true
          type: boolean
        diagnosticTroubleCodes:
          description: Diagnostic trouble codes for passenger vehicles.
          items:
            $ref: '#/components/schemas/VehicleStatsFaultCodesOBDIITroubleCode'
          type: array
      type: object
    VehicleStatsGps:
      description: GPS location data for the vehicle.
      properties:
        address:
          $ref: '#/components/schemas/VehicleLocationAddress'
        headingDegrees:
          $ref: '#/components/schemas/VehicleLocationHeading'
        isEcuSpeed:
          $ref: '#/components/schemas/VehicleLocationIsEcuSpeed'
        latitude:
          $ref: '#/components/schemas/VehicleLocationLatitude'
        longitude:
          $ref: '#/components/schemas/VehicleLocationLongitude'
        reverseGeo:
          $ref: '#/components/schemas/reverseGeo'
        speedMilesPerHour:
          $ref: '#/components/schemas/VehicleLocationSpeed'
        time:
          $ref: '#/components/schemas/time'
      required:
      - latitude
      - longitude
      - time
      type: object
    VehicleStatsEvBatteryStateOfHealthMilliPercent:
      description: Milli percent battery state of health for electric and hybrid vehicles. Not all EV and HEVs may report this field.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Milli percent battery state of health for electric and hybrid vehicles.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsSyntheticEngineSeconds:
      description: Data for the synthetic engine seconds for the vehicle
      properties:
        decorations:
          $ref: '#/components/schemas/VehicleStatsDecorations'
        time:
          $ref: '#/components/schemas/vehicleStatsAuxInputTime'
        value:
          $ref: '#/components/schemas/VehicleStatsSyntheticEngineSecondsValue'
      required:
      - time
      - value
      type: object
    VehicleStatsDecorations_gpsOdometerMeters:
      properties:
        value:
          $ref: '#/components/schemas/VehicleStatsGpsOdometerMetersValue'
      required:
      - value
      type: object
    VehicleLocationHeading:
      description: Heading of the vehicle in degrees.
      example: 120
      format: double
      type: number
    VehicleStatsFaultCodesJ1939Lights:
      description: Status of engine lights on J1939 vehicles.
      properties:
        emissionsIsOn:
          description: True if the MIL status is nonzero.
          example: true
          type: boolean
        protectIsOn:
          description: True if the engine protect lamp status is nonzero.
          example: false
          type: boolean
        stopIsOn:
          description: True if the red lamp status is nonzero.
          example: false
          type: boolean
        warningIsOn:
          description: True if the amber lamp status is nonzero.
          example: false
          type: boolean
      required:
      - emissionsIsOn
      - protectIsOn
      - stopIsOn
      - warningIsOn
      type: object
    VehicleStatsResponse_spreaderLiquidName:
      description: Name of most recent type of liquid material spread, read from the material spreader.
      properties:
        time:
          description: 'UTC timestamp in RFC 3339 format. Example: `2020-01-27T07:06:25Z`.'
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: Name of most recent type of liquid material spread, read from the material spreader.
          example: DIR1
          type: string
      required:
      - time
      - value
      type: object
    reverseGeo:
      description: Reverse geocoded information.
      properties:
        formattedLocation:
          description: Formatted address of the reverse geocoding data.
          example: 16 N Fair Oaks Ave, Pasadena, CA 91103
          type: string
      type: object
    VehicleStatsFaultCodesValue_oem:
      description: Vehicle fault codes for OEM vehicles.
      properties:
        diagnosticTroubleCodes:
          description: Proprietary diagnostic trouble codes for OEM vehicles.
          items:
            $ref: '#/components/schemas/VehicleStatsFaultCodesValue_oem_diagnosticTroubleCodes'
          type: array
      type: object
    VehicleStatsFaultCodesPassengerMonitorStatusValue:
      description: 'Enum of monitor status:

        -U: Unsupported

        -N: Not Complete

        -R: Complete

        '
      enum:
      - N
      - R
      - U
      type: string
    VehicleStatsFaultCodesCanBusType:
      description: The CAN bus type of the vehicle.
      example: CANBUS_J1939_500
      type: string
    VehicleStatsDecorations_fuelPercents:
      properties:
        value:
          $ref: '#/components/schemas/VehicleStatsFuelPercentValue'
      required:
      - value
      type: object
    VehicleStatsAuxInput:
      description: Data for auxiliary digio equipment.
      properties:
        name:
          $ref: '#/components/schemas/VehicleAuxInputName'
        time:
          $ref: '#/components/schemas/vehicleStatsAuxInputTime'
        value:
          description: Boolean indicating the state of the auxiliary equipment.
          example: true
          type: boolean
      type: object
    VehicleStatsResponse_evChargingCurrentMilliAmp:
      description: Charging current for electric and hybrid vehicles in milli amps. Not all EV and HEVs may report this field.
      properties:
        time:
          description: 'UTC timestamp in RFC 3339 format. Example: `2020-01-27T07:06:25Z`.'
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: Charging current for electric and hybrid vehicles in milli amps.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsAuxInputDecoration:
      properties:
        name:
          description: 'The type of <a href="https://kb.samsara.com/hc/en-us/articles/360043040512-Auxiliary-Inputs" target="_blank">auxiliary input</a> configured for this Vehicle. Once configured, these inputs will generate dynamic, time-series data that will be available to view in the Samsara Dashboard. **By default**: empty. This can be set or updated through the Samsara Dashboard or the API at any time. Inputs 3-13 are only available on gateways with an attached aux expander. The value returned will match what is configured in the dashboard per vehicle.'
          example: Boom
          type: string
        value:
          $ref: '#/components/schemas/VehicleStatsAuxInputValue'
      required:
      - name
      - value
      type: object
    VehicleStatsEngineRpm:
      description: Vehicle engine RPM reading.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: The revolutions per minute of the engine.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsSpreaderAirTemp:
      description: Air (ambient) temperature in milli celsius reading from material spreader.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Air (ambient) temperature in milli celsius reading from material spreader.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleExternalIds:
      description: The <a href="/docs/external-ids" target="_blank">external IDs</a> for the given object.
      example:
        maintenanceId: '250020'
        payrollId: ABFS18600
      type: object
    VehicleStatsEvBatteryCurrentMilliAmp:
      description: Battery current for electric and hybrid vehicles in milli amps. Not all EV and HEVs may report this field.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Battery current for electric and hybrid vehicles in milli amps.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsBarometricPressurePa:
      description: Vehicle barometric pressure reading.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: The barometric pressure reading in pascals.
          example: 99000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsResponse_evRegeneratedEnergyMicroWh:
      description: Regenerated energy for electric and hybrid vehicles in microwatt hours. Not all EV and HEVs may report this field.
      properties:
        time:
          description: 'UTC timestamp in RFC 3339 format. Example: `2020-01-27T07:06:25Z`.'
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: Regenerated energy for electric and hybrid vehicles in microwatt hours.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsFaultCodesValue_obdii_confirmedDtcs:
      description: Passenger vehicle DTC information
      properties:
        dtcDescription:
          description: The DTC description, if available.
          example: Fuel Rail/System Pressure - Too Low Bank 1
          type: string
        dtcId:
          description: The DTC identifier.
          example: 135
          format: int32
          type: integer
        dtcShortCode:
          description: The DTC short code, if available.
          example: P0087
          type: string
      required:
      - dtcId
      type: object
    VehicleStatsFaultCodesOBDIITroubleCode:
      description: Diagnostic trouble code for passenger vehicles.
      properties:
        confirmedDtcs:
          description: Confirmed DTC codes.
          items:
            $ref: '#/components/schemas/VehicleStatsFaultCodesPassengerDtc'
          type: array
        ignitionType:
          $ref: '#/components/schemas/VehicleStatsFaultCodesIgnitionType'
        milStatus:
          description: The MIL status, indicating a check engine light.
          example: true
          type: boolean
        monitorStatus:
          $ref: '#/components/schemas/VehicleStatsFaultCodesPassengerMonitorStatus'
        pendingDtcs:
          description: Pending DTC codes.
          items:
            $ref: '#/components/schemas/VehicleStatsFaultCodesPassengerDtc'
          type: array
        permanentDtcs:
          description: Permanent DTC codes.
          items:
            $ref: '#/components/schemas/VehicleStatsFaultCodesPassengerDtc'
          type: array
        txId:
          $ref: '#/components/schemas/VehicleStatsFaultCodesTxId'
      required:
      - txId
      type: object
    VehicleStatsResponse_evBatteryStateOfHealthMilliPercent:
      description: Milli percent battery state of health for electric and hybrid vehicles. Not all EV and HEVs may report this field.
      properties:
        time:
          description: 'UTC timestamp in RFC 3339 format. Example: `2020-01-27T07:06:25Z`.'
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: Milli percent battery state of health for electric and hybrid vehicles.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsAmbientAirTempMilliCValue:
      description: The ambient air temperature reading in millidegree Celsius.
      example: 31110
      format: int64
      type: integer
    VehicleStatsResponse_evStateOfChargeMilliPercent:
      description: State of Charge for electric and hybrid vehicles. Not all EV and HEVs may report this field.
      properties:
        time:
          description: 'UTC timestamp in RFC 3339 format. Example: `2020-01-27T07:06:25Z`.'
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: Milli percent State of Charge for electric and hybrid vehicles.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsFaultCodesOem:
      description: Vehicle fault codes for OEM vehicles.
      properties:
        diagnosticTroubleCodes:
          $ref: '#/components/schemas/VehicleStatsFaultCodesOemTroubleCodes'
      type: object
    VehicleStatsResponse_spreaderAirTemp:
      description: Air (ambient) temperature in milli celsius reading from material spreader.
      properties:
        time:
          description: 'UTC timestamp in RFC 3339 format. Example: `2020-01-27T07:06:25Z`.'
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: Air (ambient) temperature in milli celsius reading from material spreader.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsFaultCodes:
      description: Engine fault codes read from J1939, OBDII, and OEM vehicles.
      properties:
        canBusType:
          $ref: '#/components/schemas/VehicleStatsFaultCodesCanBusType'
        j1939:
          $ref: '#/components/schemas/VehicleStatsFaultCodesJ1939'
        obdii:
          $ref: '#/components/schemas/VehicleStatsFaultCodesOBDII'
        oem:
          $ref: '#/components/schemas/VehicleStatsFaultCodesOem'
        time:
          $ref: '#/components/schemas/vehicleStatsAuxInputTime'
      required:
      - time
      type: object
    VehicleStatsSpreaderRoadTemp:
      description: Road temperature reading in milli celsius from material spreader.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Road temperature reading in milli celsius from material spreader.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsEngineStateSetting:
      description: The state of the engine.
      enum:
      - 'Off'
      - 'On'
      - Idle
      example: 'On'
      type: string
    VehicleStatsDecorations_intakeManifoldTemperatureMilliC:
      properties:
        value:
          $ref: '#/components/schemas/VehicleStatsIntakeManifoldTempMilliCValue'
      required:
      - value
      type: object
    VehicleStatsFaultCodesValue_obdii_diagnosticTroubleCodes:
      description: Diagnostic trouble code for passenger vehicles.
      properties:
        confirmedDtcs:
          description: Confirmed DTC codes.
          items:
            $ref: '#/components/schemas/VehicleStatsFaultCodesValue_obdii_confirmedDtcs'
          type: array
        ignitionType:
          description: 'The ignition type of this passenger vehicle. Valid values: `spark`, `compression`.'
          enum:
          - spark
          - compression
          type: string
        milStatus:
          description: The MIL status, indicating a check engine light.
          example: true
          type: boolean
        monitorStatus:
          $ref: '#/components/schemas/VehicleStatsFaultCodesValue_obdii_monitorStatus'
        pendingDtcs:
          description: Pending DTC codes.
          items:
            $ref: '#/components/schemas/VehicleStatsFaultCodesValue_obdii_confirmedDtcs'
          type: array
        permanentDtcs:
          description: Permanent DTC codes.
          items:
            $ref: '#/components/schemas/VehicleStatsFaultCodesValue_obdii_confirmedDtcs'
          type: array
        txId:
          description: The TX identifier.
          example: 0
          format: int32
          type: integer
      required:
      - txId
      type: object
    VehicleStatsEvChargingVoltageMilliVolt:
      description: Charging voltage for electric and hybrid vehicles in milli volts. Not all EV and HEVs may report this field.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Charging voltage for electric and hybrid vehicles in milli volts.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsResponse_evBatteryVoltageMilliVolt:
      description: Battery voltage for electric and hybrid vehicles in milli volts. Not all EV and HEVs may report this field.
      properties:
        time:
          description: 'UTC timestamp in RFC 3339 format. Example: `2020-01-27T07:06:25Z`.'
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: Battery voltage for electric and hybrid vehicles in milli volts.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsEvBatteryVoltageMilliVolt:
      description: Battery voltage for electric and hybrid vehicles in milli volts. Not all EV and HEVs may report this field.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Battery voltage for electric and hybrid vehicles in milli volts.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsSpreaderActive:
      description: Whether vehicle is actively spreading any material.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Whether vehicle is actively spreading any material.
          enum:
          - 'Off'
          - 'On'
          example: 'On'
          type: string
      required:
      - time
      - value
      type: object
    VehicleStatsBatteryMilliVoltsValue:
      description: The battery voltage in millivolts.
      example: 7991
      format: int64
      type: integer
    VehicleStatsEvConsumedEnergyMicroWh:
      description: Consumed energy (including regenerated) for electric and hybrid vehicles in microwatt hours. Not all EV and HEVs may report this field.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Consumed energy (including regenerated) for electric and hybrid vehicles in microwatt hours.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsNfcCardScan:
      description: Data for the nfc card and the time that it was scanned.
      properties:
        card:
          $ref: '#/components/schemas/VehicleStatsNfcCardScan_card'
        time:
          $ref: '#/components/schemas/vehicleStatsAuxInputTime'
      required:
      - card
      - time
      type: object
    VehicleStatsFaultCodesValue_j1939:
      description: Vehicle fault codes for J1939 vehicles.
      properties:
        checkEngineLights:
          $ref: '#/components/schemas/VehicleStatsFaultCodesValue_j1939_checkEngineLights'
        diagnosticTroubleCodes:
          description: Diagnostic trouble codes for J1939 vehicles.
          items:
            $ref: '#/components/schemas/VehicleStatsFaultCodesValue_j1939_diagnosticTroubleCodes'
          type: array
      type: object
    VehicleStatsResponse_spreaderPrewetRate:
      description: Prewet spread rate reading in milliliters per meter, read from the material spreader. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance.
      properties:
        time:
          description: 'UTC timestamp in RFC 3339 format. Example: `2020-01-27T07:06:25Z`.'
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: Prewet spread rate reading in milliliters per meter, read from the material spreader. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleLocationSpeed:
      description: GPS speed of the vehicle in miles per hour. See `isEcuSpeed` to determine speed data source.
      example: 48.3
      format: double
      type: number
    VehicleStatsSpreaderPrewetRate:
      description: Prewet spread rate reading in milliliters per meter, read from the material spreader. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Prewet spread rate reading in milliliters per meter, read from the material spreader. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance. Unfiltered live stats are supplied as-read from the Material Spreader unit. Readings do not consider total spread rate(s) over time or distance.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsResponse_evChargingStatus:
      description: Charging status for electric and hybrid vehicles. Not all EV and HEVs may report this field.
      properties:
        time:
          description: 'UTC timestamp in RFC 3339 format. Example: `2020-01-27T07:06:25Z`.'
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: "Charging status for electric and hybrid vehicles. Statuses:\n unknown - 0,\n not charging - 1,\n charging - 2."
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsEngineOilPressureKPa:
      description: Vehicle engine oil pressure reading.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: The engine oil pressure reading in kilopascals.
          example: 100
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsResponse_seatbeltDriver:
      description: Seatbelt Driver Status as read from the vehicle. `Buckled` or `Unbuckled`.
      properties:
        time:
          description: 'UTC timestamp in RFC 3339 format. Example: `2020-01-27T07:06:25Z`.'
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: Seatbelt Driver Status as read from the vehicle. `Buckled` or `Unbuckled`.
          enum:
          - Buckled
          - Unbuckled
          example: Buckled
          type: string
      required:
      - time
      - value
      type: object
    VehicleStatsFuelPercent:
      description: Vehicle fuel percentage reading.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: The engine fuel level in percentage points (e.g. `99`, `50`, etc).
          example: 54
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsSpreaderLiquidName:
      description: Name of most recent type of liquid material spread, read from the material spreader.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Name of most recent type of liquid material spread, read from the material spreader.
          example: DIR1
          type: string
      required:
      - time
      - value
      type: object
    VehicleStatsDecorations_gps:
      properties:
        address:
          $ref: '#/components/schemas/VehicleLocationAddress'
        headingDegrees:
          $ref: '#/components/schemas/VehicleLocationHeading'
        isEcuSpeed:
          $ref: '#/components/schemas/VehicleLocationIsEcuSpeed'
        latitude:
          $ref: '#/components/schemas/VehicleLocationLatitude'
        longitude:
          $ref: '#/components/schemas/VehicleLocationLongitude'
        reverseGeo:
          $ref: '#/components/schemas/reverseGeo'
        speedMilesPerHour:
          $ref: '#/components/schemas/VehicleLocationSpeed'
      required:
      - latitude
      - longitude
      type: object
    VehicleStatsFaultCodesVendorSpecificFields:
      description: Vendor specific data for J1939 vehicles.
      properties:
        dtcDescription:
          description: The DTC description, if available.
          example: 'false'
          type: string
        repairInstructionsUrl:
          description: A link to vendor repair instructions, if available.
          example: 'false'
          type: string
      type: object
    VehicleStatsDecorations:
      description: "Optional decorations to the primary stat event. See [here](doc:decorations) for more details. The example shows the response if you were to submit `decorations=engineStates&obdEngineSeconds` to the query parameter:\n\n```json\n\"decorations\":{\n  \"engineStates\": {\n    \"value\": \"Off\"\n  },\n  \"obdEngineSeconds\": {\n    \"value\": 9723103\n  }\n}\n```"
      properties:
        ambientAirTemperatureMilliC:
          $ref: '#/components/schemas/VehicleStatsDecorations_ambientAirTemperatureMilliC'
        auxInput1:
          $ref: '#/components/schemas/VehicleStatsAuxInputDecoration'
        auxInput10:
          $ref: '#/components/schemas/VehicleStatsAuxInputDecoration'
        auxInput11:
          $ref: '#/components/schemas/VehicleStatsAuxInputDecoration'
        auxInput12:
          $ref: '#/components/schemas/VehicleStatsAuxInputDecoration'
        auxInput13:
          $ref: '#/components/schemas/VehicleStatsAuxInputDecoration'
        auxInput2:
          $ref: '#/components/schemas/VehicleStatsAuxInputDecoration'
        auxInput3:
          $ref: '#/components/schemas/VehicleStatsAuxInputDecoration'
        auxInput4:
          $ref: '#/components/schemas/VehicleStatsAuxInputDecoration'
        auxInput5:
          $ref: '#/components/schemas/VehicleStatsAuxInputDecoration'
        auxInput6:
          $ref: '#/components/schemas/VehicleStatsAuxInputDecoration'
        auxInput7:
          $ref: '#/components/schemas/VehicleStatsAuxInputDecoration'
        auxInput8:
          $ref: '#/components/schemas/VehicleStatsAuxInputDecoration'
        auxInput9:
          $ref: '#/components/schemas/VehicleStatsAuxInputDecoration'
        barometricPressurePa:
          $ref: '#/components/schemas/VehicleStatsDecorations_barometricPressurePa'
        batteryMilliVolts:
          $ref: '#/components/schemas/VehicleStatsDecorations_batteryMilliVolts'
        defLevelMilliPercent:
          $ref: '#/components/schemas/VehicleStatsDecorations_defLevelMilliPercent'
        ecuSpeedMph:
          $ref: '#/components/schemas/VehicleStatsDecorations_ecuSpeedMph'
        engineCoolantTemperatureMilliC:
          $ref: '#/components/schemas/VehicleStatsDecorations_engineCoolantTemperatureMilliC'
        engineImmobilizer:
          $ref: '#/components/schemas/VehicleStatsEngineImmobilizer'
        engineLoadPercent:
          $ref: '#/components/schemas/VehicleStatsDecorations_engineLoadPercent'
        engineOilPressureKPa:
          $ref: '#/components/schemas/VehicleStatsDecorations_engineOilPressureKPa'
        engineRpm:
          $ref: '#/components/schemas/VehicleStatsDecorations_engineRpm'
        engineStates:
          $ref: '#/components/schemas/VehicleStatsDecorations_engineStates'
        evAverageBatteryTemperatureMilliCelsius:
          $ref: '#/components/schemas/VehicleStatsEvAverageBatteryTemperatureMilliCelsius'
        evBatteryCurrentMilliAmp:
          $ref: '#/components/schemas/VehicleStatsEvBatteryCurrentMilliAmp'
        evBatteryStateOfHealthMilliPercent:
          $ref: '#/components/schemas/VehicleStatsEvBatteryStateOfHealthMilliPercent'
        evBatteryVoltageMilliVolt:
          $ref: '#/components/schemas/VehicleStatsEvBatteryVoltageMilliVolt'
        evChargingCurrentMilliAmp:
          $ref: '#/components/schemas/VehicleStatsEvChargingCurrentMilliAmp'
        evChargingEnergyMicroWh:
          $ref: '#/components/schemas/VehicleStatsEvChargingEnergyMicroWh'
        evChargingStatus:
          $ref: '#/components/schemas/VehicleStatsEvChargingStatus'
        evChargingVoltageMilliVolt:
          $ref: '#/components/schemas/VehicleStatsEvChargingVoltageMilliVolt'
        evConsumedEnergyMicroWh:
          $ref: '#/components/schemas/VehicleStatsEvConsumedEnergyMicroWh'
        evDistanceDrivenMeters:
          $ref: '#/components/schemas/VehicleStatsEvDistanceDrivenMeters'
        evRegeneratedEnergyMicroWh:
          $ref: '#/components/schemas/VehicleStatsEvRegeneratedEnergyMicroWh'
        evStateOfChargeMilliPercent:
          $ref: '#/components/schemas/VehicleStatsEvStateOfChargeMilliPercent'
        faultCodes:
          $ref: '#/components/schemas/VehicleStatsFaultCodesValue'
        fuelPercents:
          $ref: '#/components/schemas/VehicleStatsDecorations_fuelPercents'
        gps:
          $ref: '#/components/schemas/VehicleStatsDecorations_gps'
        gpsDistanceMeters:
          $ref: '#/components/schemas/VehicleStatsDecorations_gpsDistanceMeters'
        gpsOdometerMeters:
          $ref: '#/components/schemas/VehicleStatsDecorations_gpsOdometerMeters'
        intakeManifoldTemperatureMilliC:
          $ref: '#/components/schemas/VehicleStatsDecorations_intakeManifoldTemperatureMilliC'
        obdEngineSeconds:
          $ref: '#/components/schemas/VehicleStatsDecorations_obdEngineSeconds'
        obdOdometerMeters:
          $ref: '#/components/schemas/VehicleStatsDecorations_obdOdometerMeters'
        seatbeltDriver:
          $ref: '#/components/schemas/VehicleStatsSeatbeltDriver'
        spreaderActive:
          $ref: '#/components/schemas/VehicleStatsSpreaderActive'
        spreaderAirTemp:
          $ref: '#/components/schemas/VehicleStatsSpreaderAirTemp'
        spreaderBlastState:
          $ref: '#/components/schemas/VehicleStatsSpreaderBlastState'
        spreaderGranularName:
          $ref: '#/components/schemas/VehicleStatsSpreaderGranularName'
        spreaderGranularRate:
          $ref: '#/components/schemas/VehicleStatsSpreaderGranularRate'
        spreaderLiquidName:
          $ref: '#/components/schemas/VehicleStatsSpreaderLiquidName'
        spreaderLiquidRate:
          $ref: '#/components/schemas/VehicleStatsSpreaderLiquidRate'
        spreaderOnState:
          $ref: '#/components/schemas/VehicleStatsSpreaderOnState'
        spreaderPlowStatus:
          $ref: '#/components/schemas/VehicleStatsSpreaderPlowStatus'
        spreaderPrewetName:
          $ref: '#/components/schemas/VehicleStatsSpreaderPrewetName'
        spreaderPrewetRate:
          $ref: '#/components/schemas/VehicleStatsSpreaderPrewetRate'
        spreaderRoadTemp:
          $ref: '#/components/schemas/VehicleStatsSpreaderRoadTemp'
        tirePressure:
          $ref: '#/components/schemas/VehicleStatsTirePressures'
      type: object
    VehicleName:
      description: The human-readable name of the Vehicle. This is set by a fleet administrator and will appear in both Samsaras cloud dashboard as well as the Samsara Driver mobile app. **By default**, this name is the serial number of the Samsara Vehicle Gateway. It can be set or updated through the Samsara Dashboard or through the API at any time.
      example: Truck A7
      type: string
    VehicleLocationLatitude:
      description: GPS latitude represented in degrees
      example: 122.142
      format: double
      type: number
    VehicleStatsEngineOilPressureKPaValue:
      description: The engine oil pressure reading in kilopascals.
      example: 100
      format: int64
      type: integer
    VehicleStatsEngineCoolantTempMilliC:
      description: Vehicle engine coolant temperature reading.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: The engine coolant temperature reading in millidegree Celsius.
          example: 31110
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsFaultCodesTxId:
      description: The TX identifier.
      example: 0
      format: int32
      type: integer
    VehicleStatsFaultCodesJ1939:
      description: Vehicle fault codes for J1939 vehicles.
      properties:
        checkEngineLights:
          $ref: '#/components/schemas/VehicleStatsFaultCodesJ1939Lights'
        diagnosticTroubleCodes:
          $ref: '#/components/schemas/VehicleStatsFaultCodesJ1939TroubleCodes'
      type: object
    VehicleStatsSpreaderPlowStatus:
      description: 'Snow plow status (`Up` or `Down`), as read from the material spreader. Note: this is separate from plow status defined via auxInput.'
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Snow plow status, as read from the material spreader
          enum:
          - Up
          - Down
          example: Down
          type: string
      required:
      - time
      - value
      type: object
    VehicleStatsIntakeManifoldTempMilliCValue:
      description: The intake manifold temperature reading in millidegree Celsius.
      example: 88000
      format: int64
      type: integer
    VehicleStatsObdOdometerMetersValue:
      description: Number of meters the vehicle has traveled according to the on-board diagnostics.
      example: 14010293
      format: int64
      type: integer
    VehicleStatsFaultCodesValue_oem_diagnosticTroubleCodes:
      description: Proprietary diagnostic trouble code for some OEM vehicles.
      properties:
        codeDescription:
          description: The OEM code description.
          example: KVGT Servo Error
          type: string
        codeIdentifier:
          description: The OEM code identifier.
          example: CA2387
          type: string
        codeSeverity:
          description: The OEM code severity.
          example: L03
          type: string
        codeSource:
          description: The OEM code source.
          example: ENG/M
          type: string
      type: object
    VehicleStatsFaultCodesValue_j1939_diagnosticTroubleCodes:
      description: Diagnostic trouble code for J1939 vehicles.
      properties:
        fmiDescription:
          description: A short description of the FMI identifier, if available.
          example: Voltage Below Normal
          type: string
        fmiId:
          description: The FMI identifier.
          example: 9
          format: int32
          type: integer
        milStatus:
          description: The MIL status, indicating a check engine light.
          example: 1
          format: int32
          type: integer
        occurrenceCount:
          description: The number of times this fault has triggered.
          example: 1
          format: int32
          type: integer
        sourceAddressName:
          description: The source address name corresponding to the txId
          example: 'Engine #1'
          type: string
        spnDescription:
          description: A short description of the SPN identifier, if available.
          example: 'System Diagnostic Code #1'
          type: string
        spnId:
          description: The SPN identifier.
          example: 3031
          format: int32
          type: integer
        txId:
          description: The TX identifier.
          example: 0
          format: int32
          type: integer
        vendorSpecificFields:
          $ref: '#/components/schemas/VehicleStatsFaultCodesValue_j1939_vendorSpecificFields'
      required:
      - fmiId
      - milStatus
      - occurrenceCount
      - spnId
      - txId
      type: object
    VehicleStatsResponse_data:
      description: A vehicle and its most recent stat.
      properties:
        ambientAirTemperatureMilliC:
          $ref: '#/components/schemas/VehicleStatsAmbientAirTempMilliC'
        auxInput1:
          $ref: '#/components/schemas/VehicleStatsAuxInput'
        auxInput10:
          $ref: '#/components/schemas/VehicleStatsAuxInput'
        auxInput11:
          $ref: '#/components/schemas/VehicleStatsAuxInput'
        auxInput12:
          $ref: '#/components/schemas/VehicleStatsAuxInput'
        auxInput13:
          $ref: '#/components/schemas/VehicleStatsAuxInput'
        auxInput2:
          $ref: '#/components/schemas/VehicleStatsAuxInput'
        auxInput3:
          $ref: '#/components/schemas/VehicleStatsAuxInput'
        auxInput4:
          $ref: '#/components/schemas/VehicleStatsAuxInput'
        auxInput5:
          $ref: '#/components/schemas/VehicleStatsAuxInput'
        auxInput6:
          $ref: '#/components/schemas/VehicleStatsAuxInput'
        auxInput7:
          $ref: '#/components/schemas/VehicleStatsAuxInput'
        auxInput8:
          $ref: '#/components/schemas/VehicleStatsAuxInput'
        auxInput9:
          $ref: '#/components/schemas/VehicleStatsAuxInput'
        barometricPressurePa:
          $ref: '#/components/schemas/VehicleStatsBarometricPressurePa'
        batteryMilliVolts:
          $ref: '#/components/schemas/VehicleStatsBatteryVoltage'
        defLevelMilliPercent:
          $ref: '#/components/schemas/VehicleStatsDefLevelMilliPercent'
        ecuSpeedMph:
          $ref: '#/components/schemas/VehicleStatsEcuSpeedMph'
        engineCoolantTemperatureMilliC:
          $ref: '#/components/schemas/VehicleStatsEngineCoolantTempMilliC'
        engineImmobilizer:
          $ref: '#/components/schemas/VehicleStatsEngineImmobilizer'
        engineLoadPercent:
          $ref: '#/components/schemas/VehicleStatsEngineLoadPercent'
        engineOilPressureKPa:
          $ref: '#/components/schemas/VehicleStatsEngineOilPressureKPa'
        engineRpm:
          $ref: '#/components/schemas/VehicleStatsEngineRpm'
        engineState:
          $ref: '#/components/schemas/VehicleStatsEngineState'
        evAverageBatteryTemperatureMilliCelsius:
          $ref: '#/components/schemas/VehicleStatsResponse_evAverageBatteryTemperatureMilliCelsius'
        evBatteryCurrentMilliAmp:
          $ref: '#/components/schemas/VehicleStatsResponse_evBatteryCurrentMilliAmp'
        evBatteryStateOfHealthMilliPercent:
          $ref: '#/components/schemas/VehicleStatsResponse_evBatteryStateOfHealthMilliPercent'
        evBatteryVoltageMilliVolt:
          $ref: '#/components/schemas/VehicleStatsResponse_evBatteryVoltageMilliVolt'
        evChargingCurrentMilliAmp:
          $ref: '#/components/schemas/VehicleStatsResponse_evChargingCurrentMilliAmp'
        evChargingEnergyMicroWh:
          $ref: '#/components/schemas/VehicleStatsResponse_evChargingEnergyMicroWh'
        evChargingStatus:
          $ref: '#/components/schemas/VehicleStatsResponse_evChargingStatus'
        evChargingVoltageMilliVolt:
          $ref: '#/components/schemas/VehicleStatsResponse_evChargingVoltageMilliVolt'
        evConsumedEnergyMicroWh:
          $ref: '#/components/schemas/VehicleStatsResponse_evConsumedEnergyMicroWh'
        evDistanceDrivenMeters:
          $ref: '#/components/schemas/VehicleStatsResponse_evDistanceDrivenMeters'
        evRegeneratedEnergyMicroWh:
          $ref: '#/components/schemas/VehicleStatsResponse_evRegeneratedEnergyMicroWh'
        evStateOfChargeMilliPercent:
          $ref: '#/components/schemas/VehicleStatsResponse_evStateOfChargeMilliPercent'
        externalIds:
          $ref: '#/components/schemas/VehicleExternalIds'
        faultCodes:
          $ref: '#/components/schemas/VehicleStatsFaultCodes'
        fuelPercent:
          $ref: '#/components/schemas/VehicleStatsFuelPercent'
        gps:
          $ref: '#/components/schemas/VehicleStatsGps'
        gpsDistanceMeters:
          $ref: '#/components/schemas/VehicleStatsGpsDistanceMeters'
        gpsOdometerMeters:
          $ref: '#/components/schemas/VehicleStatsGpsOdometerMeters'
        id:
          $ref: '#/components/schemas/VehicleId'
        intakeManifoldTemperatureMilliC:
          $ref: '#/components/schemas/VehicleStatsIntakeManifoldTempMilliC'
        name:
          $ref: '#/components/schemas/VehicleName'
        nfcCardScan:
          $ref: '#/components/schemas/VehicleStatsNfcCardScan'
        obdEngineSeconds:
          $ref: '#/components/schemas/VehicleStatsObdEngineSeconds'
        obdOdometerMeters:
          $ref: '#/components/schemas/VehicleStatsObdOdometerMeters'
        seatbeltDriver:
          $ref: '#/components/schemas/VehicleStatsResponse_seatbeltDriver'
        spreaderActive:
          $ref: '#/components/schemas/VehicleStatsResponse_spreaderActive'
        spreaderAirTemp:
          $ref: '#/components/schemas/VehicleStatsResponse_spreaderAirTemp'
        spreaderBlastState:
          $ref: '#/components/schemas/VehicleStatsResponse_spreaderBlastState'
        spreaderGranularName:
          $ref: '#/components/schemas/VehicleStatsResponse_spreaderGranularName'
        spreaderGranularRate:
          $ref: '#/components/schemas/VehicleStatsResponse_spreaderGranularRate'
        spreaderLiquidName:
          $ref: '#/components/schemas/VehicleStatsResponse_spreaderLiquidName'
        spreaderLiquidRate:
          $ref: '#/components/schemas/VehicleStatsResponse_spreaderLiquidRate'
        spreaderOnState:
          $ref: '#/components/schemas/VehicleStatsResponse_spreaderOnState'
        spreaderPlowStatus:
          $ref: '#/components/schemas/VehicleStatsResponse_spreaderPlowStatus'
        spreaderPrewetName:
          $ref: '#/components/schemas/VehicleStatsResponse_spreaderPrewetName'
        spreaderPrewetRate:
          $ref: '#/components/schemas/VehicleStatsResponse_spreaderPrewetRate'
        spreaderRoadTemp:
          $ref: '#/components/schemas/VehicleStatsResponse_spreaderRoadTemp'
        syntheticEngineSeconds:
          $ref: '#/components/schemas/VehicleStatsSyntheticEngineSeconds'
      required:
      - id
      - name
      type: object
    VehicleStatsFaultCodesValue_j1939_vendorSpecificFields:
      description: Vendor specific data for J1939 vehicles.
      properties:
        dtcDescription:
          description: The DTC description, if available.
          example: 'false'
          type: string
        repairInstructionsUrl:
          description: A link to vendor repair instructions, if available.
          example: 'false'
          type: string
      type: object
    VehicleStatsObdEngineSecondsValue:
      description: Number of seconds the vehicle's engine has been on according to the on-board diagnostics.
      example: 9723103
      format: int64
      type: integer
    VehicleStatsDecorations_batteryMilliVolts:
      properties:
        value:
          $ref: '#/components/schemas/VehicleStatsBatteryMilliVoltsValue'
      required:
      - value
      type: object
    VehicleStatsEvAverageBatteryTemperatureMilliCelsius:
      description: Battery temperature for electric and hybrid vehicles in milli celsius. Not all EV and HEVs may report this field.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Battery temperature for electric and hybrid vehicles in milli celsius.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsSyntheticEngineSecondsValue:
      description: Stats for the number of seconds the vehicle's engine has been on, calculated based on a manually-specified engine seconds reading and the number of seconds the vehicle has been on according to the engine state changes reported to the vehicle gateway since that reading was set. This stat will not be present for any vehicle that does not have the engine seconds reading set. The engine seconds reading can be set from the UI on the vehicle details page.
      example: 14010293
      format: int64
      type: integer
    VehicleStatsEcuSpeedMph:
      description: The speed of the vehicle in miles per hour, as reported by the ECU.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: The speed of the vehicle in miles per hour.
          example: 32.1
          format: double
          type: number
      required:
      - time
      - value
      type: object
    VehicleStatsFaultCodesPassengerDtc:
      description: Passenger vehicle DTC information
      properties:
        dtcDescription:
          description: The DTC description, if available.
          example: Fuel Rail/System Pressure - Too Low Bank 1
          type: string
        dtcId:
          description: The DTC identifier.
          example: 135
          format: int32
          type: integer
        dtcShortCode:
          description: The DTC short code, if available.
          example: P0087
          type: string
      required:
      - dtcId
      type: object
    VehicleStatsDecorations_engineCoolantTemperatureMilliC:
      properties:
        value:
          $ref: '#/components/schemas/VehicleStatsEngineCoolantTempMilliCValue'
      required:
      - value
      type: object
    VehicleStatsDefLevelMilliPercentValue:
      description: The Diesel Exhaust Fluid (DEF) level in milli percentage points (e.g. `99001`, `49999`, etc).
      example: 54200
      format: int64
      maximum: 99999
      minimum: 0
      type: integer
    VehicleStatsFaultCodesValue_obdii:
      description: Vehicle fault codes for passenger vehicles.
      properties:
        checkEngineLightIsOn:
          description: True if the check engine light is illuminated (MIL status field is nonzero for any faults).
          example: true
          type: boolean
        diagnosticTroubleCodes:
          description: Diagnostic trouble codes for passenger vehicles.
          items:
            $ref: '#/components/schemas/VehicleStatsFaultCodesValue_obdii_diagnosticTroubleCodes'
          type: array
      type: object
    VehicleStatsDecorations_obdOdometerMeters:
      properties:
        value:
          $ref: '#/components/schemas/VehicleStatsObdOdometerMetersValue'
      required:
      - value
      type: object
    VehicleStatsTirePressures:
      description: Tire pressure readings for each of four tires in kilopascals.
      properties:
        backLeftTirePressureKPa:
          description: The tire pressure of the rear left tire as seen when standing behind the vehicle in kilopascals.
          example: 200
          format: int64
          type: integer
        backRightTirePressureKPa:
          description: The tire pressure of the rear right tire as seen when standing behind the vehicle in kilopascals.
          example: 200
          format: int64
          type: integer
        frontLeftTirePressureKPa:
          description: The tire pressure of the front left tire as seen when standing behind the vehicle in kilopascals.
          example: 200
          format: int64
          type: integer
        frontRightTirePressureKPa:
          description: The tire pressure of the front right tire as seen when standing behind the vehicle in kilopascals.
          example: 200
          format: int64
          type: integer
      type: object
    VehicleStatsDecorations_engineLoadPercent:
      properties:
        value:
          $ref: '#/components/schemas/VehicleStatsEngineLoadPercentValue'
      required:
      - value
      type: object
    VehicleStatsDecorations_ambientAirTemperatureMilliC:
      properties:
        value:
          $ref: '#/components/schemas/VehicleStatsAmbientAirTempMilliCValue'
      required:
      - value
      type: object
    VehicleStatsFaultCodesValue:
      description: Fault codes for the vehicle
      properties:
        canBusType:
          description: The CAN bus type of the vehicle.
          example: CANBUS_J1939_500
          type: string
        j1939:
          $ref: '#/components/schemas/VehicleStatsFaultCodesValue_j1939'
        obdii:
          $ref: '#/components/schemas/VehicleStatsFaultCodesValue_obdii'
        oem:
          $ref: '#/components/schemas/VehicleStatsFaultCodesValue_oem'
      type: object
    VehicleStatsEngineLoadPercent:
      description: The engine load percentage reading.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: The engine load in percentage points (e.g. `99`, `50`, etc).
          example: 54
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsObdOdometerMeters:
      description: Vehicle OBD odometer reading.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Number of meters the vehicle has traveled according to the on-board diagnostics.
          example: 14010293
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsDecorations_obdEngineSeconds:
      properties:
        value:
          $ref: '#/components/schemas/VehicleStatsObdEngineSecondsValue'
      required:
      - value
      type: object
    VehicleStatsGpsDistanceMeters:
      description: Vehicle GPS distance event.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Number of meters the vehicle has traveled since the gateway was installed, based on GPS calculations.
          example: 81029.591434899
          format: double
          type: number
      required:
      - time
      - value
      type: object
    VehicleStatsSpreaderBlastState:
      description: Whether vehicle is actively spreading material in blast mode.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Whether vehicle is actively spreading material in blast mode.
          enum:
          - 'On'
          - 'Off'
          example: 'Off'
          type: string
      required:
      - time
      - value
      type: object
    VehicleStatsDecorations_engineOilPressureKPa:
      properties:
        value:
          $ref: '#/components/schemas/VehicleStatsEngineOilPressureKPaValue'
      required:
      - value
      type: object
    VehicleStatsSpreaderOnState:
      description: Whether vehicle spreader is enabled.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Whether vehicle spreader is enabled.
          enum:
          - 'On'
          - 'Off'
          example: 'On'
          type: string
      required:
      - time
      - value
      type: object
    VehicleStatsBarometricPressurePaValue:
      description: The barometric pressure reading in pascals.
      example: 99000
      format: int64
      type: integer
    VehicleLocationIsEcuSpeed:
      description: True if the speed value is reported from the ECU. Speed value is reported from GPS otherwise.
      example: true
      type: boolean
    VehicleLocationAddress:
      description: Address that the location is in.
      properties:
        id:
          description: Id of the address.
          example: '1234'
          type: string
        name:
          description: Name of address.
          example: Address 1
          type: string
      type: object
    VehicleStatsAmbientAirTempMilliC:
      description: Vehicle ambient air temperature reading.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: The ambient air temperature reading in millidegree Celsius.
          example: 31110
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsEngineCoolantTempMilliCValue:
      description: The engine coolant temperature reading in millidegree Celsius.
      example: 31110
      format: int64
      type: integer
    VehicleStatsResponse_evChargingVoltageMilliVolt:
      description: Charging voltage for electric and hybrid vehicles in milli volts. Not all EV and HEVs may report this field.
      properties:
        time:
          description: 'UTC timestamp in RFC 3339 format. Example: `2020-01-27T07:06:25Z`.'
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: Charging voltage for electric and hybrid vehicles in milli volts.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsBatteryVoltage:
      description: Vehicle battery voltage reading.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: The battery voltage in millivolts.
          example: 7991
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsEvStateOfChargeMilliPercent:
      description: State of Charge for electric and hybrid vehicles. Not all EV and HEVs may report this field.
      properties:
        time:
          $ref: '#/components/schemas/time'
        value:
          description: Milli percent State of Charge for electric and hybrid vehicles.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsResponse_evBatteryCurrentMilliAmp:
      description: Battery current for electric and hybrid vehicles in milli amps. Not all EV and HEVs may report this field.
      properties:
        time:
          description: 'UTC timestamp in RFC 3339 format. Example: `2020-01-27T07:06:25Z`.'
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: Battery current for electric and hybrid vehicles in milli amps.
          example: 1000
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    VehicleStatsFaultCodesValue_j1939_checkEngineLights:
      description: Status of engine lights on J1939 vehicles.
      properties:
        emissionsIsOn:
          description: True if the MIL status is nonzero.
          example: true
          type: boolean
        protectIsOn:
          description: True if the engine protect lamp status is nonzero.
          example: false
          type: boolean
        stopIsOn:
          description: True if the red lamp status is nonzero.
          example: false
          type: boolean
        warningIsOn:
          description: True if the amber lamp status is nonzero.
          example: false
          type: boolean
      required:
      - emissionsIsOn
      - protectIsOn
      - stopIsOn
      - warningIsOn
      type: object
  securitySchemes:
    AccessTokenHeader:
      type: http
      scheme: bearer
x-original-swagger-version: '2.0'
x-readme:
  explorer-enabled: true
  proxy-enabled: true
