openapi: 3.0.1
info:
  description: Gain greater visibility by connecting your fleets, equipment, sites, and people.
  title: Samsara Statistics API
  version: '2024-11-18'
servers:
- url: https://api.samsara.com/
- url: https://api.eu.samsara.com/
security:
- AccessTokenHeader: []
tags:
- name: Statistics
paths:
  /beta/fleet/trailers/stats:
    get:
      description: "Returns the last known stats of all trailers at the given `time`. If no `time` is specified, the current time is used.\n\n <b>Rate limit:</b> 25 requests/sec (learn more about rate limits <a href=\"https://developers.samsara.com/docs/rate-limits\" target=\"_blank\">here</a>).\n\nTo use this endpoint, select **Read Trailer Statistics** under the Trailers category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team."
      operationId: getTrailerStatsSnapshot
      parameters:
      - description: 'The stat types you want this endpoint to return information on.


          You may list **up to 3** types using comma-separated format. For example: `types=gps,reeferAmbientAirTemperatureMilliC,gpsOdometerMeters`.


          * `gps`: GPS data including lat/long, heading, speed, and a reverse geocode address.

          * `gpsOdometerMeters`: Odometer reading provided by GPS calculations. You must provide a manual odometer reading before this value is updated. Manual odometer readings can be provided via the PATCH /fleet/trailers/{id} endpoint or through the [cloud dashboard](https://kb.samsara.com/hc/en-us/articles/115005273667-Editing-Odometer-Reading). Odometer readings wthat are manually set will update as GPS trip data is gathered.

          * `reeferAmbientAirTemperatureMilliC`: The ambient air temperature reading of the reefer in millidegree Celsius.

          * `reeferObdEngineSeconds`: The cumulative number of seconds the reefer has run according to onboard diagnostics. Only supported on reefer solutions.

          * `reeferSupplyAirTemperatureMilliCZone1`: The supply or discharge air temperature zone 1 in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.

          * `reeferSupplyAirTemperatureMilliCZone2`: The supply or discharge air temperature zone 2 in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferSupplyAirTemperatureMilliCZone3`: The supply or discharge air temperature zone 3 in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferFuelPercent`: The fuel level of the reefer unit in percentage points (e.g. `99`, `50`, etc). Only supported on reefer solutions.

          * `carrierReeferState`: The overall state of the reefer (`Off`, `On`). Only supported on multizone Carrier reefer solutions.

          * `reeferStateZone1`: The state of the reefer in zone 1. For single zone reefers, this applies tot he single zone. Only supported on multizone reefer solutions.

          * `reeferStateZone2`: The state of the reefer in zone 2. Only supported on multizone reefer solutions.

          * `reeferStateZone3`: The state of the reefer in zone 3. Only supported on multizone reefer solutions.

          * `reeferRunMode`: The operational mode of the reefer (`Start/Stop`, `Continuous`)

          * `reeferAlarms`: Any alarms that are present on the reefer. Only supported on reefer solutions.

          * `reeferReturnAirTemperatureMilliCZone1`: The return air temperature in zone 1 of the reefer in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.

          * `reeferReturnAirTemperatureMilliCZone2`: The return air temperature in zone 2 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferReturnAirTemperatureMilliCZone3`: The return air temperature in zone 3 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferSetPointTemperatureMilliCZone1`: The set point temperature in zone 1 of the reefer in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.

          * `reeferSetPointTemperatureMilliCZone2`: The set point temperature in zone 2 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferSetPointTemperatureMilliCZone3`: The set point temperature in zone 3 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferDoorStateZone1`: The door status in zone 1 of the reefer. For single zone reefers, this applies to the single zone.

          * `reeferDoorStateZone2`: The door status in zone 2 of the reefer. Only supported on multizone reefer solutions.

          * `reeferDoorStateZone3`: The door status in zone 3 of the reefer. Only supported on multizone reefer solutions.'
        in: query
        name: types
        required: true
        schema:
          type: string
      - description: ' A filter on the data based on this comma-separated list of tag IDs. Example: `tagIds=1234,5678`'
        in: query
        name: tagIds
        schema:
          type: string
      - description: ' A filter on the data based on this comma-separated list of parent tag IDs, for use by orgs with tag hierarchies. Specifying a parent tag will implicitly include all descendent tags of the parent tag. Example: `parentTagIds=345,678`'
        in: query
        name: parentTagIds
        schema:
          type: string
      - description: ' If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.'
        in: query
        name: after
        schema:
          type: string
      - description: ' A filter on the data based on this comma-separated list of trailer IDs and externalIds. Example: `trailerIds=1234,5678,samsara.vin:1HGBH41JXMN109186`'
        in: query
        name: trailerIds
        schema:
          type: string
      - description: ' A filter on the data that returns the last known data points with timestamps less than or equal to this value. Defaults to now if not provided. Must be a string in RFC 3339 Format. Millisecond precision and timezones are supported.'
        in: query
        name: time
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsSnapshotResponseBody'
          description: OK response.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsSnapshotUnauthorizedErrorResponseBody'
          description: Unauthorized response.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsSnapshotNotFoundErrorResponseBody'
          description: Not Found response.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsSnapshotMethodNotAllowedErrorResponseBody'
          description: Method Not Allowed response.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsSnapshotTooManyRequestsErrorResponseBody'
          description: Too Many Requests response.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsSnapshotInternalServerErrorResponseBody'
          description: Internal Server Error response.
        '501':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsSnapshotNotImplementedErrorResponseBody'
          description: Not Implemented response.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsSnapshotBadGatewayErrorResponseBody'
          description: Bad Gateway response.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsSnapshotServiceUnavailableErrorResponseBody'
          description: Service Unavailable response.
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsSnapshotGatewayTimeoutErrorResponseBody'
          description: Gateway Timeout response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsSnapshotBadRequestErrorResponseBody'
          description: Bad Request response.
      summary: '[beta] Get Trailer Stats'
      tags:
      - Statistics
  /beta/fleet/trailers/stats/feed:
    get:
      description: "Follow a feed of trailer stats.\n\nThe first call to this endpoint will provide the most recent stats for each trailer and an `endCursor`.\n\nProviding the `endCursor` value to the `after` query parameter will fetch all updates since the previous API call.\n\nIf `hasNextPage` is false, no new data is immediately available. Please wait a minimum of 5 seconds before making a subsequent request.\n\n <b>Rate limit:</b> 25 requests/sec (learn more about rate limits <a href=\"https://developers.samsara.com/docs/rate-limits\" target=\"_blank\">here</a>).\n\nTo use this endpoint, select **Read Trailer Statistics** under the Trailers category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team."
      operationId: getTrailerStatsFeed
      parameters:
      - description: 'The stat types you want this endpoint to return information on.


          You may list **up to 3** types using comma-separated format. For example: `types=gps,reeferAmbientAirTemperatureMilliC,gpsOdometerMeters`.


          * `gps`: GPS data including lat/long, heading, speed, and a reverse geocode address.

          * `gpsOdometerMeters`: Odometer reading provided by GPS calculations. You must provide a manual odometer reading before this value is updated. Manual odometer readings can be provided via the PATCH /fleet/trailers/{id} endpoint or through the [cloud dashboard](https://kb.samsara.com/hc/en-us/articles/115005273667-Editing-Odometer-Reading). Odometer readings wthat are manually set will update as GPS trip data is gathered.

          * `reeferAmbientAirTemperatureMilliC`: The ambient air temperature reading of the reefer in millidegree Celsius.

          * `reeferObdEngineSeconds`: The cumulative number of seconds the reefer has run according to onboard diagnostics. Only supported on reefer solutions.

          * `reeferSupplyAirTemperatureMilliCZone1`: The supply or discharge air temperature zone 1 in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.

          * `reeferSupplyAirTemperatureMilliCZone2`: The supply or discharge air temperature zone 2 in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferSupplyAirTemperatureMilliCZone3`: The supply or discharge air temperature zone 3 in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferFuelPercent`: The fuel level of the reefer unit in percentage points (e.g. `99`, `50`, etc). Only supported on reefer solutions.

          * `carrierReeferState`: The overall state of the reefer (`Off`, `On`). Only supported on multizone Carrier reefer solutions.

          * `reeferStateZone1`: The state of the reefer in zone 1. For single zone reefers, this applies tot he single zone. Only supported on multizone reefer solutions.

          * `reeferStateZone2`: The state of the reefer in zone 2. Only supported on multizone reefer solutions.

          * `reeferStateZone3`: The state of the reefer in zone 3. Only supported on multizone reefer solutions.

          * `reeferRunMode`: The operational mode of the reefer (`Start/Stop`, `Continuous`)

          * `reeferAlarms`: Any alarms that are present on the reefer. Only supported on reefer solutions.

          * `reeferReturnAirTemperatureMilliCZone1`: The return air temperature in zone 1 of the reefer in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.

          * `reeferReturnAirTemperatureMilliCZone2`: The return air temperature in zone 2 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferReturnAirTemperatureMilliCZone3`: The return air temperature in zone 3 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferSetPointTemperatureMilliCZone1`: The set point temperature in zone 1 of the reefer in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.

          * `reeferSetPointTemperatureMilliCZone2`: The set point temperature in zone 2 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferSetPointTemperatureMilliCZone3`: The set point temperature in zone 3 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferDoorStateZone1`: The door status in zone 1 of the reefer. For single zone reefers, this applies to the single zone.

          * `reeferDoorStateZone2`: The door status in zone 2 of the reefer. Only supported on multizone reefer solutions.

          * `reeferDoorStateZone3`: The door status in zone 3 of the reefer. Only supported on multizone reefer solutions.'
        in: query
        name: types
        required: true
        schema:
          type: string
      - description: ' A filter on the data based on this comma-separated list of tag IDs. Example: `tagIds=1234,5678`'
        in: query
        name: tagIds
        schema:
          type: string
      - description: ' A filter on the data based on this comma-separated list of parent tag IDs, for use by orgs with tag hierarchies. Specifying a parent tag will implicitly include all descendent tags of the parent tag. Example: `parentTagIds=345,678`'
        in: query
        name: parentTagIds
        schema:
          type: string
      - description: ' If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.'
        in: query
        name: after
        schema:
          type: string
      - description: ' A filter on the data based on this comma-separated list of trailer IDs and externalIds. Example: `trailerIds=1234,5678,samsara.vin:1HGBH41JXMN109186`'
        in: query
        name: trailerIds
        schema:
          type: string
      - description: 'Decorations add to the primary stats listed in the `types` parameter. For example, if you wish to know the trailer''s location whenever the odometer updates, you may set `types=gpsOdometerMeters&decorations=gps`.


          You may list **up to 2** types using comma-separated format. If multiple stats are listed in the types parameter, the decorations will be added to each type. For example: `types=reeferStateZone1,reeferAmbientAirTemperatureMilliC,gpsOdometerMeters&decorations=gps` will list GPS decorations for each reeferStateZone1 reading, each reeferAmbientAirTemperatureMilliC reding, and gpsOdometerMeters reading.


          Note that decorations may significantly increase the response payload size.


          * `gps`: GPS data including lat/long, heading, speed, and a reverse geocode address.

          * `gpsOdometerMeters`: Odometer reading provided by GPS calculations. You must provide a manual odometer reading before this value is updated. Manual odometer readings can be provided via the PATCH /fleet/trailers/{id} endpoint or through the [cloud dashboard](https://kb.samsara.com/hc/en-us/articles/115005273667-Editing-Odometer-Reading). Odometer readings wthat are manually set will update as GPS trip data is gathered.

          * `reeferAmbientAirTemperatureMilliC`: The ambient air temperature reading of the reefer in millidegree Celsius.

          * `reeferObdEngineSeconds`: The cumulative number of seconds the reefer has run according to onboard diagnostics. Only supported on reefer solutions.

          * `reeferSupplyAirTemperatureMilliCZone1`: The supply or discharge air temperature zone 1 in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.

          * `reeferSupplyAirTemperatureMilliCZone2`: The supply or discharge air temperature zone 2 in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferSupplyAirTemperatureMilliCZone3`: The supply or discharge air temperature zone 3 in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferFuelPercent`: The fuel level of the reefer unit in percentage points (e.g. `99`, `50`, etc). Only supported on reefer solutions.

          * `carrierReeferState`: The overall state of the reefer (`Off`, `On`). Only supported on multizone Carrier reefer solutions.

          * `reeferStateZone1`: The state of the reefer in zone 1. For single zone reefers, this applies tot he single zone. Only supported on multizone reefer solutions.

          * `reeferStateZone2`: The state of the reefer in zone 2. Only supported on multizone reefer solutions.

          * `reeferStateZone3`: The state of the reefer in zone 3. Only supported on multizone reefer solutions.

          * `reeferRunMode`: The operational mode of the reefer (`Start/Stop`, `Continuous`)

          * `reeferAlarms`: Any alarms that are present on the reefer. Only supported on reefer solutions.

          * `reeferReturnAirTemperatureMilliCZone1`: The return air temperature in zone 1 of the reefer in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.

          * `reeferReturnAirTemperatureMilliCZone2`: The return air temperature in zone 2 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferReturnAirTemperatureMilliCZone3`: The return air temperature in zone 3 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferSetPointTemperatureMilliCZone1`: The set point temperature in zone 1 of the reefer in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.

          * `reeferSetPointTemperatureMilliCZone2`: The set point temperature in zone 2 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferSetPointTemperatureMilliCZone3`: The set point temperature in zone 3 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferDoorStateZone1`: The door status in zone 1 of the reefer. For single zone reefers, this applies to the single zone.

          * `reeferDoorStateZone2`: The door status in zone 2 of the reefer. Only supported on multizone reefer solutions.

          * `reeferDoorStateZone3`: The door status in zone 3 of the reefer. Only supported on multizone reefer solutions.'
        in: query
        name: decorations
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsFeedResponseBody'
          description: OK response.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsFeedUnauthorizedErrorResponseBody'
          description: Unauthorized response.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsFeedNotFoundErrorResponseBody'
          description: Not Found response.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsFeedMethodNotAllowedErrorResponseBody'
          description: Method Not Allowed response.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsFeedTooManyRequestsErrorResponseBody'
          description: Too Many Requests response.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsFeedInternalServerErrorResponseBody'
          description: Internal Server Error response.
        '501':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsFeedNotImplementedErrorResponseBody'
          description: Not Implemented response.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsFeedBadGatewayErrorResponseBody'
          description: Bad Gateway response.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsFeedServiceUnavailableErrorResponseBody'
          description: Service Unavailable response.
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsFeedGatewayTimeoutErrorResponseBody'
          description: Gateway Timeout response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsFeedBadRequestErrorResponseBody'
          description: Bad Request response.
      summary: '[beta] Get Trailer Stats Feed'
      tags:
      - Statistics
  /beta/fleet/trailers/stats/history:
    get:
      description: "Returns trailer stats during the given time range for all trailers. This can be optionally filtered by tags or specific trailer IDs.\n\n <b>Rate limit:</b> 10 requests/sec (learn more about rate limits <a href=\"https://developers.samsara.com/docs/rate-limits\" target=\"_blank\">here</a>).\n\nTo use this endpoint, select **Read Trailer Statistics** under the Trailers category when creating or editing an API token. <a href=\"https://developers.samsara.com/docs/authentication#scopes-for-api-tokens\" target=\"_blank\">Learn More.</a>\n \n\n **Submit Feedback**: Likes, dislikes, and API feature requests should be filed as feedback in our <a href=\"https://forms.gle/zkD4NCH7HjKb7mm69\" target=\"_blank\">API feedback form</a>. If you encountered an issue or noticed inaccuracies in the API documentation, please <a href=\"https://www.samsara.com/help\" target=\"_blank\">submit a case</a> to our support team."
      operationId: getTrailerStatsHistory
      parameters:
      - description: ' A start time in RFC 3339 format. Defaults to now if not provided. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).'
        in: query
        name: startTime
        required: true
        schema:
          type: string
      - description: ' An end time in RFC 3339 format. Defaults to now if not provided. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).'
        in: query
        name: endTime
        required: true
        schema:
          type: string
      - description: 'The stat types you want this endpoint to return information on.


          You may list **up to 3** types using comma-separated format. For example: `types=gps,reeferAmbientAirTemperatureMilliC,gpsOdometerMeters`.


          * `gps`: GPS data including lat/long, heading, speed, and a reverse geocode address.

          * `gpsOdometerMeters`: Odometer reading provided by GPS calculations. You must provide a manual odometer reading before this value is updated. Manual odometer readings can be provided via the PATCH /fleet/trailers/{id} endpoint or through the [cloud dashboard](https://kb.samsara.com/hc/en-us/articles/115005273667-Editing-Odometer-Reading). Odometer readings wthat are manually set will update as GPS trip data is gathered.

          * `reeferAmbientAirTemperatureMilliC`: The ambient air temperature reading of the reefer in millidegree Celsius.

          * `reeferObdEngineSeconds`: The cumulative number of seconds the reefer has run according to onboard diagnostics. Only supported on reefer solutions.

          * `reeferSupplyAirTemperatureMilliCZone1`: The supply or discharge air temperature zone 1 in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.

          * `reeferSupplyAirTemperatureMilliCZone2`: The supply or discharge air temperature zone 2 in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferSupplyAirTemperatureMilliCZone3`: The supply or discharge air temperature zone 3 in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferFuelPercent`: The fuel level of the reefer unit in percentage points (e.g. `99`, `50`, etc). Only supported on reefer solutions.

          * `carrierReeferState`: The overall state of the reefer (`Off`, `On`). Only supported on multizone Carrier reefer solutions.

          * `reeferStateZone1`: The state of the reefer in zone 1. For single zone reefers, this applies tot he single zone. Only supported on multizone reefer solutions.

          * `reeferStateZone2`: The state of the reefer in zone 2. Only supported on multizone reefer solutions.

          * `reeferStateZone3`: The state of the reefer in zone 3. Only supported on multizone reefer solutions.

          * `reeferRunMode`: The operational mode of the reefer (`Start/Stop`, `Continuous`)

          * `reeferAlarms`: Any alarms that are present on the reefer. Only supported on reefer solutions.

          * `reeferReturnAirTemperatureMilliCZone1`: The return air temperature in zone 1 of the reefer in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.

          * `reeferReturnAirTemperatureMilliCZone2`: The return air temperature in zone 2 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferReturnAirTemperatureMilliCZone3`: The return air temperature in zone 3 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferSetPointTemperatureMilliCZone1`: The set point temperature in zone 1 of the reefer in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.

          * `reeferSetPointTemperatureMilliCZone2`: The set point temperature in zone 2 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferSetPointTemperatureMilliCZone3`: The set point temperature in zone 3 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferDoorStateZone1`: The door status in zone 1 of the reefer. For single zone reefers, this applies to the single zone.

          * `reeferDoorStateZone2`: The door status in zone 2 of the reefer. Only supported on multizone reefer solutions.

          * `reeferDoorStateZone3`: The door status in zone 3 of the reefer. Only supported on multizone reefer solutions.'
        in: query
        name: types
        required: true
        schema:
          type: string
      - description: ' A filter on the data based on this comma-separated list of tag IDs. Example: `tagIds=1234,5678`'
        in: query
        name: tagIds
        schema:
          type: string
      - description: ' A filter on the data based on this comma-separated list of parent tag IDs, for use by orgs with tag hierarchies. Specifying a parent tag will implicitly include all descendent tags of the parent tag. Example: `parentTagIds=345,678`'
        in: query
        name: parentTagIds
        schema:
          type: string
      - description: ' If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.'
        in: query
        name: after
        schema:
          type: string
      - description: ' A filter on the data based on this comma-separated list of trailer IDs and externalIds. Example: `trailerIds=1234,5678,samsara.vin:1HGBH41JXMN109186`'
        in: query
        name: trailerIds
        schema:
          type: string
      - description: 'Decorations add to the primary stats listed in the `types` parameter. For example, if you wish to know the trailer''s location whenever the odometer updates, you may set `types=gpsOdometerMeters&decorations=gps`.


          You may list **up to 2** types using comma-separated format. If multiple stats are listed in the types parameter, the decorations will be added to each type. For example: `types=reeferStateZone1,reeferAmbientAirTemperatureMilliC,gpsOdometerMeters&decorations=gps` will list GPS decorations for each reeferStateZone1 reading, each reeferAmbientAirTemperatureMilliC reding, and gpsOdometerMeters reading.


          Note that decorations may significantly increase the response payload size.


          * `gps`: GPS data including lat/long, heading, speed, and a reverse geocode address.

          * `gpsOdometerMeters`: Odometer reading provided by GPS calculations. You must provide a manual odometer reading before this value is updated. Manual odometer readings can be provided via the PATCH /fleet/trailers/{id} endpoint or through the [cloud dashboard](https://kb.samsara.com/hc/en-us/articles/115005273667-Editing-Odometer-Reading). Odometer readings wthat are manually set will update as GPS trip data is gathered.

          * `reeferAmbientAirTemperatureMilliC`: The ambient air temperature reading of the reefer in millidegree Celsius.

          * `reeferObdEngineSeconds`: The cumulative number of seconds the reefer has run according to onboard diagnostics. Only supported on reefer solutions.

          * `reeferSupplyAirTemperatureMilliCZone1`: The supply or discharge air temperature zone 1 in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.

          * `reeferSupplyAirTemperatureMilliCZone2`: The supply or discharge air temperature zone 2 in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferSupplyAirTemperatureMilliCZone3`: The supply or discharge air temperature zone 3 in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferFuelPercent`: The fuel level of the reefer unit in percentage points (e.g. `99`, `50`, etc). Only supported on reefer solutions.

          * `carrierReeferState`: The overall state of the reefer (`Off`, `On`). Only supported on multizone Carrier reefer solutions.

          * `reeferStateZone1`: The state of the reefer in zone 1. For single zone reefers, this applies tot he single zone. Only supported on multizone reefer solutions.

          * `reeferStateZone2`: The state of the reefer in zone 2. Only supported on multizone reefer solutions.

          * `reeferStateZone3`: The state of the reefer in zone 3. Only supported on multizone reefer solutions.

          * `reeferRunMode`: The operational mode of the reefer (`Start/Stop`, `Continuous`)

          * `reeferAlarms`: Any alarms that are present on the reefer. Only supported on reefer solutions.

          * `reeferReturnAirTemperatureMilliCZone1`: The return air temperature in zone 1 of the reefer in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.

          * `reeferReturnAirTemperatureMilliCZone2`: The return air temperature in zone 2 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferReturnAirTemperatureMilliCZone3`: The return air temperature in zone 3 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferSetPointTemperatureMilliCZone1`: The set point temperature in zone 1 of the reefer in millidegrees Celsius. For single zone reefers, this applies to the single zone. Only supported on multizone reefer solutions.

          * `reeferSetPointTemperatureMilliCZone2`: The set point temperature in zone 2 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferSetPointTemperatureMilliCZone3`: The set point temperature in zone 3 of the reefer in millidegrees Celsius. Only supported on multizone reefer solutions.

          * `reeferDoorStateZone1`: The door status in zone 1 of the reefer. For single zone reefers, this applies to the single zone.

          * `reeferDoorStateZone2`: The door status in zone 2 of the reefer. Only supported on multizone reefer solutions.

          * `reeferDoorStateZone3`: The door status in zone 3 of the reefer. Only supported on multizone reefer solutions.'
        in: query
        name: decorations
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsHistoryResponseBody'
          description: OK response.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsHistoryUnauthorizedErrorResponseBody'
          description: Unauthorized response.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsHistoryNotFoundErrorResponseBody'
          description: Not Found response.
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsHistoryMethodNotAllowedErrorResponseBody'
          description: Method Not Allowed response.
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsHistoryTooManyRequestsErrorResponseBody'
          description: Too Many Requests response.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsHistoryInternalServerErrorResponseBody'
          description: Internal Server Error response.
        '501':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsHistoryNotImplementedErrorResponseBody'
          description: Not Implemented response.
        '502':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsHistoryBadGatewayErrorResponseBody'
          description: Bad Gateway response.
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsHistoryServiceUnavailableErrorResponseBody'
          description: Service Unavailable response.
        '504':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsHistoryGatewayTimeoutErrorResponseBody'
          description: Gateway Timeout response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerStatsGetTrailerStatsHistoryBadRequestErrorResponseBody'
          description: Bad Request response.
      summary: '[beta] Get Trailer Stats History'
      tags:
      - Statistics
components:
  schemas:
    TrailerStatReeferDoorStateZone1WithDecorationsTypeResponseBody:
      description: Door stats that have been emitted by the reefer.
      properties:
        decorations:
          $ref: '#/components/schemas/TrailerStatDecorationResponseBody'
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: 'The door state of zone 2 of the reefer.  Valid values: `open`, `closed`'
          enum:
          - open
          - closed
          example: closed
          type: string
      required:
      - time
      - value
      type: object
    TrailerStatReeferRunModeTypeResponseBody:
      description: The run mode of the reefer.
      properties:
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The operational mode of the reefer.
          example: '`Start/Stop`,`Continuous`'
          type: string
      required:
      - time
      - value
      type: object
    TrailerStatReeferSetPointTemperatureMilliCZone2WithDecorationsTypeResponseBody:
      description: Set point temperature of zone 2 of the reefer.
      properties:
        decorations:
          $ref: '#/components/schemas/TrailerStatDecorationResponseBody'
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The set point temperature reading in millidegree Celsius.
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    TrailerStatsGetTrailerStatsHistoryNotFoundErrorResponseBody:
      description: Resource not found
      properties:
        message:
          description: Message of error
          example: Object not found.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatsGetTrailerStatsSnapshotBadRequestErrorResponseBody:
      description: Bad Request parameters
      properties:
        message:
          description: Message of error
          example: Invalid value for parameter.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatsGetTrailerStatsHistoryNotImplementedErrorResponseBody:
      description: Requested endpoint is not yet implemented
      properties:
        message:
          description: Message of error
          example: Not implemented.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatsSnapshotObjectResponseBody:
      description: A trailer and its stats
      properties:
        carrierReeferState:
          $ref: '#/components/schemas/TrailerStatReeferStateTypeResponseBody'
        gps:
          $ref: '#/components/schemas/TrailerStatGpsTypeResponseBody'
        gpsOdometerMeters:
          $ref: '#/components/schemas/TrailerStatGpsOdometerMetersTypeResponseBody'
        id:
          description: ID of the trailer.
          example: '1234'
          type: string
        name:
          description: Name of the vehicle.
          example: Trailer-123
          type: string
        reeferAlarms:
          $ref: '#/components/schemas/TrailerStatReeferAlarmTypeResponseBody'
        reeferAmbientAirTemperatureMilliC:
          $ref: '#/components/schemas/TrailerStatReeferAmbientAirTemperatureMilliCTypeResponseBody'
        reeferDoorStateZone1:
          $ref: '#/components/schemas/TrailerStatReeferDoorStateZone1TypeResponseBody'
        reeferDoorStateZone2:
          $ref: '#/components/schemas/TrailerStatReeferDoorStateZone2TypeResponseBody'
        reeferDoorStateZone3:
          $ref: '#/components/schemas/TrailerStatReeferDoorStateZone3TypeResponseBody'
        reeferFuelPercent:
          $ref: '#/components/schemas/TrailerStatReeferFuelPercentTypeResponseBody'
        reeferObdEngineSeconds:
          $ref: '#/components/schemas/TrailerStatReeferObdEngineSecondsTypeResponseBody'
        reeferReturnAirTemperatureMilliCZone1:
          $ref: '#/components/schemas/TrailerStatReeferReturnAirTemperatureMilliCZone1TypeResponseBody'
        reeferReturnAirTemperatureMilliCZone2:
          $ref: '#/components/schemas/TrailerStatReeferReturnAirTemperatureMilliCZone2TypeResponseBody'
        reeferReturnAirTemperatureMilliCZone3:
          $ref: '#/components/schemas/TrailerStatReeferReturnAirTemperatureMilliCZone3TypeResponseBody'
        reeferRunMode:
          $ref: '#/components/schemas/TrailerStatReeferRunModeTypeResponseBody'
        reeferSetPointTemperatureMilliCZone1:
          $ref: '#/components/schemas/TrailerStatReeferSetPointTemperatureMilliCZone1TypeResponseBody'
        reeferSetPointTemperatureMilliCZone2:
          $ref: '#/components/schemas/TrailerStatReeferSetPointTemperatureMilliCZone2TypeResponseBody'
        reeferSetPointTemperatureMilliCZone3:
          $ref: '#/components/schemas/TrailerStatReeferSetPointTemperatureMilliCZone3TypeResponseBody'
        reeferStateZone1:
          $ref: '#/components/schemas/TrailerStatReeferStateZone1TypeResponseBody'
        reeferStateZone2:
          $ref: '#/components/schemas/TrailerStatReeferStateZone2TypeResponseBody'
        reeferStateZone3:
          $ref: '#/components/schemas/TrailerStatReeferStateZone3TypeResponseBody'
        reeferSupplyAirTemperatureMilliCZone1:
          $ref: '#/components/schemas/TrailerStatReeferSupplyAirTemperatureMilliCZone1TypeResponseBody'
        reeferSupplyAirTemperatureMilliCZone2:
          $ref: '#/components/schemas/TrailerStatReeferSupplyAirTemperatureMilliCZone2TypeResponseBody'
        reeferSupplyAirTemperatureMilliCZone3:
          $ref: '#/components/schemas/TrailerStatReeferSupplyAirTemperatureMilliCZone3TypeResponseBody'
      required:
      - id
      - name
      type: object
    TrailerStatReeferAmbientAirTemperatureWithDecorationsTypeResponseBody:
      description: Reefer ambient air temperature reading.
      properties:
        decorations:
          $ref: '#/components/schemas/TrailerStatDecorationResponseBody'
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The ambient air temperature reading of the reefer in millidegree Celsius.
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    TrailerStatReeferObdEngineSecondsWithDecorationsTypeResponseBody:
      description: Reefer onboard engine seconds reading.
      properties:
        decorations:
          $ref: '#/components/schemas/TrailerStatDecorationResponseBody'
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The number of seconds the reefer has been on according to the onboard diagnostics.
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    TrailerStatReeferStateZone2TypeResponseBody:
      description: Reefer state event.
      properties:
        substateValue:
          description: The substate zone 2 of the reefer, if available.
          example: '`Pretrip`, `Defrost`'
          type: string
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The state zone 2 of the reefer.
          example: '`Off`, `On`'
          type: string
      required:
      - time
      - value
      type: object
    TrailerStatReeferDoorStateZone3WithDecorationsTypeResponseBody:
      description: Door stats that have been emitted by the reefer.
      properties:
        decorations:
          $ref: '#/components/schemas/TrailerStatDecorationResponseBody'
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: 'The door state of zone 2 of the reefer.  Valid values: `open`, `closed`'
          enum:
          - open
          - closed
          example: closed
          type: string
      required:
      - time
      - value
      type: object
    TrailerStatReeferAmbientAirTemperatureMilliCTypeResponseBody:
      description: Reefer ambient air temperature reading.
      properties:
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The ambient air temperature reading of the reefer in millidegree Celsius.
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    TrailerStatDecorationResponseBody:
      description: Decorated values for the primary trailer stat datapoints.
      properties:
        carrierReeferState:
          $ref: '#/components/schemas/TrailerStatReeferStateTypeResponseBody'
        gps:
          $ref: '#/components/schemas/TrailerStatGpsTypeResponseBody'
        gpsOdometerMeters:
          $ref: '#/components/schemas/TrailerStatGpsOdometerMetersTypeResponseBody'
        reeferAlarms:
          $ref: '#/components/schemas/TrailerStatReeferAlarmTypeResponseBody'
        reeferAmbientAirTemperatureMilliC:
          $ref: '#/components/schemas/TrailerStatReeferAmbientAirTemperatureMilliCTypeResponseBody'
        reeferDoorStateZone1:
          $ref: '#/components/schemas/TrailerStatReeferDoorStateZone1TypeResponseBody'
        reeferDoorStateZone2:
          $ref: '#/components/schemas/TrailerStatReeferDoorStateZone2TypeResponseBody'
        reeferDoorStateZone3:
          $ref: '#/components/schemas/TrailerStatReeferDoorStateZone3TypeResponseBody'
        reeferFuelPercent:
          $ref: '#/components/schemas/TrailerStatReeferFuelPercentTypeResponseBody'
        reeferObdEngineSeconds:
          $ref: '#/components/schemas/TrailerStatReeferObdEngineSecondsTypeResponseBody'
        reeferReturnAirTemperatureMilliCZone1:
          $ref: '#/components/schemas/TrailerStatReeferReturnAirTemperatureMilliCZone1TypeResponseBody'
        reeferReturnAirTemperatureMilliCZone2:
          $ref: '#/components/schemas/TrailerStatReeferReturnAirTemperatureMilliCZone2TypeResponseBody'
        reeferReturnAirTemperatureMilliCZone3:
          $ref: '#/components/schemas/TrailerStatReeferReturnAirTemperatureMilliCZone3TypeResponseBody'
        reeferRunMode:
          $ref: '#/components/schemas/TrailerStatReeferRunModeTypeResponseBody'
        reeferSetPointTemperatureMilliCZone1:
          $ref: '#/components/schemas/TrailerStatReeferSetPointTemperatureMilliCZone1TypeResponseBody'
        reeferSetPointTemperatureMilliCZone2:
          $ref: '#/components/schemas/TrailerStatReeferSetPointTemperatureMilliCZone2TypeResponseBody'
        reeferSetPointTemperatureMilliCZone3:
          $ref: '#/components/schemas/TrailerStatReeferSetPointTemperatureMilliCZone3TypeResponseBody'
        reeferStateZone1:
          $ref: '#/components/schemas/TrailerStatReeferStateZone1TypeResponseBody'
        reeferStateZone2:
          $ref: '#/components/schemas/TrailerStatReeferStateZone2TypeResponseBody'
        reeferStateZone3:
          $ref: '#/components/schemas/TrailerStatReeferStateZone3TypeResponseBody'
        reeferSupplyAirTemperatureMilliCZone1:
          $ref: '#/components/schemas/TrailerStatReeferSupplyAirTemperatureMilliCZone1TypeResponseBody'
        reeferSupplyAirTemperatureMilliCZone2:
          $ref: '#/components/schemas/TrailerStatReeferSupplyAirTemperatureMilliCZone2TypeResponseBody'
        reeferSupplyAirTemperatureMilliCZone3:
          $ref: '#/components/schemas/TrailerStatReeferSupplyAirTemperatureMilliCZone3TypeResponseBody'
      type: object
    TrailerStatReeferFuelPercentTypeResponseBody:
      description: The fuel percentage of the reefer.
      properties:
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The fuel level in percentage points (e.g. `99`, `50`, etc).
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    TrailerStatsGetTrailerStatsSnapshotNotImplementedErrorResponseBody:
      description: Requested endpoint is not yet implemented
      properties:
        message:
          description: Message of error
          example: Not implemented.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatsGetTrailerStatsSnapshotResponseBody:
      properties:
        data:
          description: List of trailers and their stats
          items:
            $ref: '#/components/schemas/TrailerStatsSnapshotObjectResponseBody'
          type: array
        pagination:
          $ref: '#/components/schemas/GoaPaginationResponseResponseBody'
      required:
      - data
      - pagination
      type: object
    TrailerStatReeferDoorStateZone2WithDecorationsTypeResponseBody:
      description: Door stats that have been emitted by the reefer.
      properties:
        decorations:
          $ref: '#/components/schemas/TrailerStatDecorationResponseBody'
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: 'The door state of zone 2 of the reefer.  Valid values: `open`, `closed`'
          enum:
          - open
          - closed
          example: closed
          type: string
      required:
      - time
      - value
      type: object
    TrailerStatsGetTrailerStatsFeedBadRequestErrorResponseBody:
      description: Bad Request parameters
      properties:
        message:
          description: Message of error
          example: Invalid value for parameter.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatsGetTrailerStatsFeedMethodNotAllowedErrorResponseBody:
      description: Method not allowed
      properties:
        message:
          description: Message of error
          example: DELETE not allowed on /endpoint.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatsGetTrailerStatsFeedBadGatewayErrorResponseBody:
      description: Bad Gateway
      properties:
        message:
          description: Message of error
          example: 'rpc error: code = Unknown desc = connection refused'
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatReeferSupplyAirTemperatureMilliCZone3TypeResponseBody:
      description: Supply or discharge air temperature of zone 2 of the reefer. This is the temperature of the air as it leaves the cooling unit.
      properties:
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The supply or discharge air temperature reading in millidegree Celsius.
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    GoaPaginationResponseResponseBody:
      description: Pagination parameters.
      properties:
        endCursor:
          description: Cursor identifier representing the last element in the response. This value should be used in conjunction with a subsequent request's 'after' query parameter. This may be an empty string if there are no more pages left to view.
          example: MjkY
          type: string
        hasNextPage:
          description: True if there are more pages of results immediately available after this endCursor.
          example: true
          type: boolean
      required:
      - endCursor
      - hasNextPage
      type: object
    TrailerStatReeferSupplyAirTemperatureMilliCZone1WithDecorationsTypeResponseBody:
      description: Supply or discharge air temperature of zone 2 of the reefer. This is the temperature of the air as it leaves the cooling unit.
      properties:
        decorations:
          $ref: '#/components/schemas/TrailerStatDecorationResponseBody'
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The supply or discharge air temperature reading in millidegree Celsius.
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    TrailerStatGpsOdometerMetersTypeResponseBody:
      description: Trailer GPS odometer event.
      properties:
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: Number of meters the trailer has traveled according to the GPS calculations and the manually specified odometer reading.
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    TrailerStatReeferReturnAirTemperatureMilliCZone3WithDecorationsTypeResponseBody:
      description: Return air temperature of zone 3 of the reefer. This is the temperature of the air as it enters the cooling unit.
      properties:
        decorations:
          $ref: '#/components/schemas/TrailerStatDecorationResponseBody'
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The return air temperature reading in millidegree Celsius.
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    TrailerStatReeferSetPointTemperatureMilliCZone3WithDecorationsTypeResponseBody:
      description: Set point temperature of zone 3 of the reefer.
      properties:
        decorations:
          $ref: '#/components/schemas/TrailerStatDecorationResponseBody'
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The set point temperature reading in millidegree Celsius.
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    TrailerStatReeferSupplyAirTemperatureMilliCZone3WithDecorationsTypeResponseBody:
      description: Supply or discharge air temperature of zone 2 of the reefer. This is the temperature of the air as it leaves the cooling unit.
      properties:
        decorations:
          $ref: '#/components/schemas/TrailerStatDecorationResponseBody'
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The supply or discharge air temperature reading in millidegree Celsius.
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    TrailerStatsGetTrailerStatsHistoryBadGatewayErrorResponseBody:
      description: Bad Gateway
      properties:
        message:
          description: Message of error
          example: 'rpc error: code = Unknown desc = connection refused'
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatReeferStateWithDecorationsTypeResponseBody:
      description: Reefer state event.
      properties:
        decorations:
          $ref: '#/components/schemas/TrailerStatDecorationResponseBody'
        substateValue:
          description: The substate of the multizone carrier reefer, if available.
          example: '`Pretrip`, `Defrost`'
          type: string
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The overall state of the multizone carrier reefer.
          example: '`Off`, `On`'
          type: string
      required:
      - time
      - value
      type: object
    TrailerStatReeferReturnAirTemperatureMilliCZone2WithDecorationsTypeResponseBody:
      description: Return air temperature of zone 2 of the reefer. This is the temperature of the air as it enters the cooling unit.
      properties:
        decorations:
          $ref: '#/components/schemas/TrailerStatDecorationResponseBody'
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The return air temperature reading in millidegree Celsius.
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    TrailerStatReeferStateZone3WithDecorationsTypeResponseBody:
      description: Reefer state event.
      properties:
        decorations:
          $ref: '#/components/schemas/TrailerStatDecorationResponseBody'
        substateValue:
          description: The substate zone 3 of the reefer, if available.
          example: '`Pretrip`, `Defrost`'
          type: string
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The state zone 3 of the reefer.
          example: '`Off`, `On`'
          type: string
      required:
      - time
      - value
      type: object
    TrailerStatsObjectResponseBody:
      description: A trailer and its stats
      properties:
        carrierReeferState:
          description: A list of engine state points.
          items:
            $ref: '#/components/schemas/TrailerStatReeferStateWithDecorationsTypeResponseBody'
          type: array
        gps:
          description: A list of GPS points.
          items:
            $ref: '#/components/schemas/TrailerStatGpsWithDecorationsTypeResponseBody'
          type: array
        gpsOdometerMeters:
          description: A list of odometer points.
          items:
            $ref: '#/components/schemas/TrailerStatGpsOdometerMetersWithDecorationsTypeResponseBody'
          type: array
        id:
          description: ID of the trailer.
          example: '1234'
          type: string
        name:
          description: Name of the vehicle.
          example: Trailer-123
          type: string
        reeferAlarms:
          description: A list of reefer alarm points.
          items:
            $ref: '#/components/schemas/TrailerStatReeferAlarmWithDecorationsTypeResponseBody'
          type: array
        reeferAmbientAirTemperatureMilliC:
          description: A list of ambient air temperature points.
          items:
            $ref: '#/components/schemas/TrailerStatReeferAmbientAirTemperatureWithDecorationsTypeResponseBody'
          type: array
        reeferDoorStateZone1:
          description: A list of door state points.
          items:
            $ref: '#/components/schemas/TrailerStatReeferDoorStateZone1WithDecorationsTypeResponseBody'
          type: array
        reeferDoorStateZone2:
          description: A list of door state points.
          items:
            $ref: '#/components/schemas/TrailerStatReeferDoorStateZone2WithDecorationsTypeResponseBody'
          type: array
        reeferDoorStateZone3:
          description: A list of door state points.
          items:
            $ref: '#/components/schemas/TrailerStatReeferDoorStateZone3WithDecorationsTypeResponseBody'
          type: array
        reeferFuelPercent:
          description: A list of fuel percent points.
          items:
            $ref: '#/components/schemas/TrailerStatReeferFuelPercentWithDecorationsTypeResponseBody'
          type: array
        reeferObdEngineSeconds:
          description: A list of engine second points
          items:
            $ref: '#/components/schemas/TrailerStatReeferObdEngineSecondsWithDecorationsTypeResponseBody'
          type: array
        reeferReturnAirTemperatureMilliCZone1:
          description: A list of return air temperature points.
          items:
            $ref: '#/components/schemas/TrailerStatReeferReturnAirTemperatureMilliCZone1WithDecorationsTypeResponseBody'
          type: array
        reeferReturnAirTemperatureMilliCZone2:
          description: A list of return air temperature points.
          items:
            $ref: '#/components/schemas/TrailerStatReeferReturnAirTemperatureMilliCZone2WithDecorationsTypeResponseBody'
          type: array
        reeferReturnAirTemperatureMilliCZone3:
          description: A list of return air temperature points.
          items:
            $ref: '#/components/schemas/TrailerStatReeferReturnAirTemperatureMilliCZone3WithDecorationsTypeResponseBody'
          type: array
        reeferRunMode:
          description: A list of run mode points
          items:
            $ref: '#/components/schemas/TrailerStatReeferRunModeWithDecorationsTypeResponseBody'
          type: array
        reeferSetPointTemperatureMilliCZone1:
          description: A list of set point temperature points.
          items:
            $ref: '#/components/schemas/TrailerStatReeferSetPointTemperatureMilliCZone1WithDecorationsTypeResponseBody'
          type: array
        reeferSetPointTemperatureMilliCZone2:
          description: A list of set point temperature points.
          items:
            $ref: '#/components/schemas/TrailerStatReeferSetPointTemperatureMilliCZone2WithDecorationsTypeResponseBody'
          type: array
        reeferSetPointTemperatureMilliCZone3:
          description: A list of set point temperature points.
          items:
            $ref: '#/components/schemas/TrailerStatReeferSetPointTemperatureMilliCZone3WithDecorationsTypeResponseBody'
          type: array
        reeferStateZone1:
          description: A list of engine state points.
          items:
            $ref: '#/components/schemas/TrailerStatReeferStateZone1WithDecorationsTypeResponseBody'
          type: array
        reeferStateZone2:
          description: A list of engine state points.
          items:
            $ref: '#/components/schemas/TrailerStatReeferStateZone2WithDecorationsTypeResponseBody'
          type: array
        reeferStateZone3:
          description: A list of engine state points.
          items:
            $ref: '#/components/schemas/TrailerStatReeferStateZone3WithDecorationsTypeResponseBody'
          type: array
        reeferSupplyAirTemperatureMilliCZone1:
          description: A list of supply air temperature points.
          items:
            $ref: '#/components/schemas/TrailerStatReeferSupplyAirTemperatureMilliCZone1WithDecorationsTypeResponseBody'
          type: array
        reeferSupplyAirTemperatureMilliCZone2:
          description: A list of supply air temperature points.
          items:
            $ref: '#/components/schemas/TrailerStatReeferSupplyAirTemperatureMilliCZone2WithDecorationsTypeResponseBody'
          type: array
        reeferSupplyAirTemperatureMilliCZone3:
          description: A list of supply air temperature points.
          items:
            $ref: '#/components/schemas/TrailerStatReeferSupplyAirTemperatureMilliCZone3WithDecorationsTypeResponseBody'
          type: array
      required:
      - id
      - name
      type: object
    TrailerStatReeferSetPointTemperatureMilliCZone1TypeResponseBody:
      description: Set point temperature of zone 1 of the reefer.
      properties:
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The set point temperature reading in millidegree Celsius.
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    TrailerStatsGetTrailerStatsHistoryServiceUnavailableErrorResponseBody:
      description: Service unavailable
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatsGetTrailerStatsSnapshotTooManyRequestsErrorResponseBody:
      description: Too many requests
      properties:
        message:
          description: Message of error
          example: Exceeded rate limit.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatReeferDoorStateZone2TypeResponseBody:
      description: The door state of the reefer.
      properties:
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: 'The door state of zone 2 of the reefer.  Valid values: `open`, `closed`'
          enum:
          - open
          - closed
          example: closed
          type: string
      required:
      - time
      - value
      type: object
    TrailerStatReeferDoorStateZone3TypeResponseBody:
      description: The door state of the reefer.
      properties:
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: 'The door state of zone 2 of the reefer.  Valid values: `open`, `closed`'
          enum:
          - open
          - closed
          example: closed
          type: string
      required:
      - time
      - value
      type: object
    TrailerStatReeferSetPointTemperatureMilliCZone1WithDecorationsTypeResponseBody:
      description: Set point temperature of zone 1 of the reefer.
      properties:
        decorations:
          $ref: '#/components/schemas/TrailerStatDecorationResponseBody'
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The set point temperature reading in millidegree Celsius.
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    TrailerStatReeferAlarmTypeResponseBody:
      description: Alarms that have been emitted by the reefer.
      properties:
        alarms:
          description: The alarms reported by the reefer.
          items:
            $ref: '#/components/schemas/TrailerStatReeferAlarmResponseBody'
          type: array
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
      required:
      - alarms
      - time
      type: object
    TrailerStatsGetTrailerStatsSnapshotInternalServerErrorResponseBody:
      description: An internal server error occurred
      properties:
        message:
          description: Message of error
          example: Failed to execute GraphQL query.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatsGetTrailerStatsFeedServiceUnavailableErrorResponseBody:
      description: Service unavailable
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatReeferRunModeWithDecorationsTypeResponseBody:
      description: The run mode of the reefer.
      properties:
        decorations:
          $ref: '#/components/schemas/TrailerStatDecorationResponseBody'
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The operational mode of the reefer.
          example: '`Start/Stop`,`Continuous`'
          type: string
      required:
      - time
      - value
      type: object
    TrailerStatsGetTrailerStatsHistoryGatewayTimeoutErrorResponseBody:
      description: Gateway timeout
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatsGetTrailerStatsHistoryInternalServerErrorResponseBody:
      description: An internal server error occurred
      properties:
        message:
          description: Message of error
          example: Failed to execute GraphQL query.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatReeferSupplyAirTemperatureMilliCZone1TypeResponseBody:
      description: Supply or discharge air temperature of zone 2 of the reefer. This is the temperature of the air as it leaves the cooling unit.
      properties:
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The supply or discharge air temperature reading in millidegree Celsius.
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    TrailerStatsGetTrailerStatsHistoryUnauthorizedErrorResponseBody:
      description: Unauthorized
      properties:
        message:
          description: Message of error
          example: Invalid token.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatReeferReturnAirTemperatureMilliCZone2TypeResponseBody:
      description: Return air temperature of zone 2 of the reefer. This is the temperature of the air as it enters the cooling unit.
      properties:
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The return air temperature reading in millidegree Celsius.
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    TrailerStatsGetTrailerStatsHistoryTooManyRequestsErrorResponseBody:
      description: Too many requests
      properties:
        message:
          description: Message of error
          example: Exceeded rate limit.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatReeferAlarmResponseBody:
      properties:
        alarmCode:
          description: The ID of the alarm.
          example: '3'
          type: string
        description:
          description: The description of the alarm.
          example: Test alarm
          type: string
        operatorAction:
          description: The recommended operator action.
          example: Manually disable alarm
          type: string
        severity:
          description: 'The severity of the alarm. `1`: Ok to run, `2`: Check as specified, `3`: Take immediate action.'
          example: 6644289420805649000
          format: int64
          type: integer
      required:
      - alarmCode
      - description
      - operatorAction
      - severity
      type: object
    TrailerStatReeferReturnAirTemperatureMilliCZone1TypeResponseBody:
      description: Return air temperature of zone 1 of the reefer. This is the temperature of the air as it enters the cooling unit.
      properties:
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The return air temperature reading in millidegree Celsius.
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    TrailerStatsGetTrailerStatsFeedResponseBody:
      properties:
        data:
          description: List of trailers and their stats
          items:
            $ref: '#/components/schemas/TrailerStatsObjectResponseBody'
          type: array
        pagination:
          $ref: '#/components/schemas/GoaPaginationResponseResponseBody'
      required:
      - data
      - pagination
      type: object
    TrailerStatsGetTrailerStatsHistoryResponseBody:
      properties:
        data:
          description: List of trailers and their stats
          items:
            $ref: '#/components/schemas/TrailerStatsObjectResponseBody'
          type: array
        pagination:
          $ref: '#/components/schemas/GoaPaginationResponseResponseBody'
      required:
      - data
      - pagination
      type: object
    TrailerStatGpsWithDecorationsTypeResponseBody:
      description: GPS location data for the trailer.
      properties:
        decorations:
          $ref: '#/components/schemas/TrailerStatDecorationResponseBody'
        headingDegrees:
          description: Heading of the trailer in degrees.
          example: 7952863434806629000
          format: int64
          type: integer
        latitude:
          description: GPS latitude represented in degrees.
          example: 0.14973496163559114
          format: double
          type: number
        longitude:
          description: GPS longitude represented in degrees.
          example: 0.09035777949770978
          format: double
          type: number
        reverseGeo:
          $ref: '#/components/schemas/ReverseGeoObjectResponseBody'
        speedMilesPerHour:
          description: GPS speed of the trailer in miles per hour.
          example: 7073647433567555000
          format: int64
          type: integer
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
      required:
      - latitude
      - longitude
      - time
      type: object
    TrailerStatReeferSetPointTemperatureMilliCZone3TypeResponseBody:
      description: Set point temperature of zone 3 of the reefer.
      properties:
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The set point temperature reading in millidegree Celsius.
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    TrailerStatsGetTrailerStatsFeedGatewayTimeoutErrorResponseBody:
      description: Gateway timeout
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatsGetTrailerStatsHistoryMethodNotAllowedErrorResponseBody:
      description: Method not allowed
      properties:
        message:
          description: Message of error
          example: DELETE not allowed on /endpoint.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatsGetTrailerStatsSnapshotBadGatewayErrorResponseBody:
      description: Bad Gateway
      properties:
        message:
          description: Message of error
          example: 'rpc error: code = Unknown desc = connection refused'
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatReeferStateZone3TypeResponseBody:
      description: Reefer state event.
      properties:
        substateValue:
          description: The substate zone 3 of the reefer, if available.
          example: '`Pretrip`, `Defrost`'
          type: string
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The state zone 3 of the reefer.
          example: '`Off`, `On`'
          type: string
      required:
      - time
      - value
      type: object
    TrailerStatReeferSupplyAirTemperatureMilliCZone2TypeResponseBody:
      description: Supply or discharge air temperature of zone 2 of the reefer. This is the temperature of the air as it leaves the cooling unit.
      properties:
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The supply or discharge air temperature reading in millidegree Celsius.
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    TrailerStatsGetTrailerStatsSnapshotNotFoundErrorResponseBody:
      description: Resource not found
      properties:
        message:
          description: Message of error
          example: Object not found.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatReeferStateZone1WithDecorationsTypeResponseBody:
      description: Reefer state event.
      properties:
        decorations:
          $ref: '#/components/schemas/TrailerStatDecorationResponseBody'
        substateValue:
          description: The substate zone 1 of the reefer, if available.
          example: '`Pretrip`, `Defrost`'
          type: string
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The state zone 1 of the reefer.
          example: '`Off`, `On`'
          type: string
      required:
      - time
      - value
      type: object
    TrailerStatReeferObdEngineSecondsTypeResponseBody:
      description: Reefer onboard engine seconds reading.
      properties:
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The number of seconds the reefer has been on according to the onboard diagnostics.
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    TrailerStatReeferAlarmWithDecorationsTypeResponseBody:
      description: Alarms that have been emitted by the reefer.
      properties:
        alarms:
          description: The alarms reported by the reefer.
          items:
            $ref: '#/components/schemas/TrailerStatReeferAlarmResponseBody'
          type: array
        decorations:
          $ref: '#/components/schemas/TrailerStatDecorationResponseBody'
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
      required:
      - alarms
      - time
      type: object
    TrailerStatsGetTrailerStatsFeedUnauthorizedErrorResponseBody:
      description: Unauthorized
      properties:
        message:
          description: Message of error
          example: Invalid token.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatsGetTrailerStatsFeedNotImplementedErrorResponseBody:
      description: Requested endpoint is not yet implemented
      properties:
        message:
          description: Message of error
          example: Not implemented.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatGpsTypeResponseBody:
      description: GPS location data for the trailer.
      properties:
        headingDegrees:
          description: Heading of the trailer in degrees.
          example: 5478981605182468000
          format: int64
          type: integer
        latitude:
          description: GPS latitude represented in degrees.
          example: 0.955367680792097
          format: double
          type: number
        longitude:
          description: GPS longitude represented in degrees.
          example: 0.1542964882122642
          format: double
          type: number
        reverseGeo:
          $ref: '#/components/schemas/ReverseGeoObjectResponseBody'
        speedMilesPerHour:
          description: GPS speed of the trailer in miles per hour.
          example: 6626263886997561000
          format: int64
          type: integer
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
      required:
      - latitude
      - longitude
      - time
      type: object
    TrailerStatGpsOdometerMetersWithDecorationsTypeResponseBody:
      description: Trailer GPS odometer event.
      properties:
        decorations:
          $ref: '#/components/schemas/TrailerStatDecorationResponseBody'
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: Number of meters the trailer has traveled according to the GPS calculations and the manually specified odometer reading.
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    TrailerStatReeferReturnAirTemperatureMilliCZone1WithDecorationsTypeResponseBody:
      description: Return air temperature of zone 1 of the reefer. This is the temperature of the air as it enters the cooling unit.
      properties:
        decorations:
          $ref: '#/components/schemas/TrailerStatDecorationResponseBody'
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The return air temperature reading in millidegree Celsius.
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    TrailerStatsGetTrailerStatsFeedTooManyRequestsErrorResponseBody:
      description: Too many requests
      properties:
        message:
          description: Message of error
          example: Exceeded rate limit.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatReeferSetPointTemperatureMilliCZone2TypeResponseBody:
      description: Set point temperature of zone 2 of the reefer.
      properties:
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The set point temperature reading in millidegree Celsius.
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    ReverseGeoObjectResponseBody:
      description: Reverse geocoded information
      properties:
        formattedLocation:
          description: Formatted address of the reverse geocoding data.
          example: 850 Made Up Lane, Orange, CA
          type: string
      type: object
    TrailerStatsGetTrailerStatsFeedInternalServerErrorResponseBody:
      description: An internal server error occurred
      properties:
        message:
          description: Message of error
          example: Failed to execute GraphQL query.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatReeferStateZone2WithDecorationsTypeResponseBody:
      description: Reefer state event.
      properties:
        decorations:
          $ref: '#/components/schemas/TrailerStatDecorationResponseBody'
        substateValue:
          description: The substate zone 2 of the reefer, if available.
          example: '`Pretrip`, `Defrost`'
          type: string
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The state zone 2 of the reefer.
          example: '`Off`, `On`'
          type: string
      required:
      - time
      - value
      type: object
    TrailerStatReeferSupplyAirTemperatureMilliCZone2WithDecorationsTypeResponseBody:
      description: Supply or discharge air temperature of zone 2 of the reefer. This is the temperature of the air as it leaves the cooling unit.
      properties:
        decorations:
          $ref: '#/components/schemas/TrailerStatDecorationResponseBody'
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The supply or discharge air temperature reading in millidegree Celsius.
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    TrailerStatsGetTrailerStatsSnapshotUnauthorizedErrorResponseBody:
      description: Unauthorized
      properties:
        message:
          description: Message of error
          example: Invalid token.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatReeferDoorStateZone1TypeResponseBody:
      description: The door state of the reefer.
      properties:
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: 'The door state of zone 2 of the reefer.  Valid values: `open`, `closed`'
          enum:
          - open
          - closed
          example: closed
          type: string
      required:
      - time
      - value
      type: object
    TrailerStatsGetTrailerStatsSnapshotMethodNotAllowedErrorResponseBody:
      description: Method not allowed
      properties:
        message:
          description: Message of error
          example: DELETE not allowed on /endpoint.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatReeferReturnAirTemperatureMilliCZone3TypeResponseBody:
      description: Return air temperature of zone 3 of the reefer. This is the temperature of the air as it enters the cooling unit.
      properties:
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The return air temperature reading in millidegree Celsius.
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    TrailerStatsGetTrailerStatsFeedNotFoundErrorResponseBody:
      description: Resource not found
      properties:
        message:
          description: Message of error
          example: Object not found.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatsGetTrailerStatsSnapshotServiceUnavailableErrorResponseBody:
      description: Service unavailable
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatReeferStateTypeResponseBody:
      description: Reefer state event.
      properties:
        substateValue:
          description: The substate of the multizone carrier reefer, if available.
          example: '`Pretrip`, `Defrost`'
          type: string
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The overall state of the multizone carrier reefer.
          example: '`Off`, `On`'
          type: string
      required:
      - time
      - value
      type: object
    TrailerStatsGetTrailerStatsSnapshotGatewayTimeoutErrorResponseBody:
      description: Gateway timeout
      properties:
        message:
          description: Message of error
          example: context deadline exceeded
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatReeferFuelPercentWithDecorationsTypeResponseBody:
      description: The fuel percentage of the reefer.
      properties:
        decorations:
          $ref: '#/components/schemas/TrailerStatDecorationResponseBody'
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The fuel level in percentage points (e.g. `99`, `50`, etc).
          example: 50
          format: int64
          type: integer
      required:
      - time
      - value
      type: object
    TrailerStatsGetTrailerStatsHistoryBadRequestErrorResponseBody:
      description: Bad Request parameters
      properties:
        message:
          description: Message of error
          example: Invalid value for parameter.
          type: string
        requestId:
          description: The request ID; used when reaching out to support for issues with requests.
          example: 8916e1c1
          type: string
      required:
      - message
      - requestId
      type: object
    TrailerStatReeferStateZone1TypeResponseBody:
      description: Reefer state event.
      properties:
        substateValue:
          description: The substate zone 1 of the reefer, if available.
          example: '`Pretrip`, `Defrost`'
          type: string
        time:
          description: UTC timestamp in RFC 3339 format.
          example: '2020-01-27T07:06:25Z'
          type: string
        value:
          description: The state zone 1 of the reefer.
          example: '`Off`, `On`'
          type: string
      required:
      - time
      - value
      type: object
  securitySchemes:
    AccessTokenHeader:
      type: http
      scheme: bearer
x-original-swagger-version: '2.0'
x-readme:
  explorer-enabled: true
  proxy-enabled: true
